packages:
  yum:
    git: []
    libxml2-devel: []
    libxslt-devel: []
    libxml2: []
    libxslt: []
    python27-devel: []

container_commands:
  01_setup_apache:
    command: cp .ebextensions/enable_mod_deflate.conf /etc/httpd/conf.d/enable_mod_deflate.conf
  02_setup_blog_forwarding:
    command: cp .ebextensions/enable_blog_forwarding.conf /etc/httpd/conf.d/enable_blog_forwarding.conf
  03_change_expiration_header:
    command: cp .ebextensions/change_expiration_tag.conf /etc/httpd/conf.d/change_expiration_tag.conf
  04_enable_ssl_rewrite:
    command: cp .ebextensions/enable_ssl_rewrite.conf /etc/httpd/conf.d/enable_ssl_rewrite.conf