/* ---------------------------------------------------------
	1. General reset
	2. Common site styles
	3. Custom form styles
	4. Styles for responsive breakpoints
   ---------------------------------------------------------*/
/* ---------------------------------------------------------
	1. General reset
   ---------------------------------------------------------*/
*{max-height: 10000px;}
html { /*for sticky-footer*/
	min-height: 100%;
	position: relative;
}

body{
    font-size: 16px;
	font-weight: 400;
	-webkit-text-size-adjust:100%;
    -ms-text-size-adjust: none;
    margin-bottom: 220px;
    min-width: 320px;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

input[type=image]{padding:0;border:none;}

/* ---------------------------------------------------------
	2. Common site styles
   ---------------------------------------------------------*/
/* main container styles */
#wrapper{
	overflow: hidden;
	width: 100%;
	height: 100%;
}

/* header styles */
.add #header{padding: 16px 0 85px;}

/* main informative part styles */
.wrap{
	overflow: hidden;
}
.col{
	float: right;
	width: 59.6%;
	padding: 0 10px;
}
.col:first-child{
	width: 40%;
	float: left;
}

form ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
form li{
	display: inline-block;
	vertical-align: top;
	margin:0 6px 7px 0;
}

.form-group{
	overflow: hidden;
	margin-bottom: 15px;
}

.error .form-control{
	border-color: RGBA(247, 112, 91, 1);
	background: RGBA(247, 112, 91, 1);
	opacity: 0.6;
	} 
	.btn-wrapper{
	bottom: -17px;
	left: 10px;
	right: 10px;
	text-align: center;
	z-index: 1;
}
input[type="submit"]{
	background: RGBA(0,164,153,1.0);
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	margin-top: 14px;
	padding: 15px 30px;
	text-transform: uppercase;
	width: 100%;
}
#tab2 li,
#tab3 li{
	margin: 0 0 17px; 
}
.tab-content div.active{display: block;}

/* jumbotron */
.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
	margin: auto;
}

.video-container iframe {
	position:absolute;
	top:0;
	left:0;
	width:60%;
	height:60%;
}

.infobox {
	border: 1px #939393 solid;
	margin: auto;
	padding: 10px;
	border-radius: 3px;
	box-shadow: 2px 2px 5px #888888;
}

.infobox:hover {
	/*background: url(../images/image11.jpg);*/
	/*background-position: top;*/
	background-color: #292929;
	color: #fff;
	font-weight: 600;
	opacity: 0.9;
}

select {
	font-size: 100px
}

.thank-you-option {
	display: inline-block;
	text-align: center;
}

.thank-you-option p {
	display: block;
	text-align: center;
}

.thank-you-option .radio {
	margin: 0 auto;
	width: 60px;
	height: 60px;
	padding: 0;
}

.tesla_contact {
	display: none;
}

.teslaopt:checked ~ .tesla_contact {
	display: block;
}

#delivery_date_div {
	display: none;
}

#parking_spot_div {
	display: none;
}


#tesla_div {
	display: none;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 1px;
    border-color: #E5E5E5;
}

hr.short {
	width: 10%;
}

hr.extra_short {
	width: 3%;

}

.hideme, .autoshow {
	opacity: 0;
}

img.desaturate {
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
}

#green_header {
	color: #409E2A;
}

#scaling_cars { font-size: 0; }
#scaling_cars img { 
	width: 10%;
	opacity: 0;
	margin: 0 5% 0 5%;
	
	}

img.blinking {
	opacity: .75;
}

img.blinking:hover {
	-webkit-animation: blink 1.5s ease-in-out infinite alternate;
	animation: blink 1.5s ease-in-out infinite alternate;
	/*opacity: 0;*/
}


@-webkit-keyframes blink {
	from {opacity: .75;}
	to {opacity: 0;}
}

@keyframes blink {
	from {opacity: .75;}
	to {opacity: 0;}
}

h1.new_header {
	font-family: 'Bitter', serif;
	font-size: 70px;
	padding-top: 20%;
	line-height: 100px;
}

h1.new_header span {
	text-transform: none;
}

button.homeNav {
	width: 220px;
	margin-bottom: 10px;
}

h2.tagline {
	padding: 0px 100px 10px 100px;
	font-family: 'Work Sans', sans-serif;
	font-weight: 200;
	line-height: 30px;
	font-size: 25px;
}

h2.difficulties {
	font-family: 'Work Sans', sans-serif;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: 200;
	padding: 10px;
	cursor: pointer;
}

.hidden_difficulty {
	display: none;
	font-size: 25px;
	font-weight: 200;
	margin-top: 100px;
	margin-right: 25%;
	margin-left: 25%;
}

button.flat_button {
	background-color: RGBA(247, 112, 91, 1);
	box-shadow: none;
	border: none;
	text-transform: uppercase;
	font-size: 20px;
	font-family: 'Work Sans', sans-serif;
	text-shadow: none;
	color: white;
	padding: 15px;
	font-weight: 200;
	margin: 10px;
}

.nav-tabs li, article.options {
	color: white;
	text-transform: uppercase;
	padding: 20px;
	background-color: RGBA(147, 147, 147, 1);
	border: black 1px solid;
	font-size: 3rem;
}

.nav-tabs li.active a,
.nav-tabs>li>a:hover,
.nav-tabs li.active a:hover,
.nav-tabs li.active a:focus {
	color: white;
	background-color: RGBA(147, 147, 147, 1);
	border: none;
}

article.options:hover {
	background-color: RGBA(20, 171, 88, .75);
}



.narrow {
	padding: 60px 0;
}


h2.press {
	margin-bottom: 35px;
}

img#press_logo {
	width: 65%;
}

img.resources {
	height: 200px;
}

div.color_circle { /*color palette circle*/
	border-radius: 50%;
	height: 100px;
	margin-bottom: 15px;
	width: 100px;
}

.palette p {
	color: #333333;
	line-height: normal;
	margin: 0;
	text-align: left;
}

.process_text {
	text-align: center;
	height: 470px;
	position: relative;
}

.vertical_aligned {
	position:absolute;
	margin-right: 25%;
	margin-left: 25%;
	top:50%;
	height:10em;
	margin-top:-5em;
}

.step_description {
	font-size: 2rem;
	font-weight: 200;
}

img.distinguishing {
	/*width: 140px;*/
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	opacity: .8;
	border-radius: 50%;
}


/* ---------------------------------------------------------
	3. Custom form styles
   ---------------------------------------------------------*/
/* hide original element */
.jcf-hidden {
	display: block !important;
	position: absolute !important;
	left: -9999px !important; /* change to right: -9999px on RTL sites */
}
/* custom radio styles */
.rad-area {
	margin: 3px 10px 0 10px;
	/*float: left;*/
	width: 57px;
	height: 57px;
	border-radius: 50%;
	background:#e7e7e7 url(../images/sprite2.png) no-repeat;
}

p.label_form {
	color: #3C3D39;
	font-size: 13px;
	font-weight: 400;
	line-height: 1.5rem;
	margin-top: 5px;
	text-align: center;
}
.rad-area:hover {
	background-color: #C2C2C2;
	cursor: pointer;
}

.rad-checked {
	background-color: #00A499;
}

.rad-checked:hover {
	background-color: #00594F;
}
.jcf-class-radio1{background-position: 0 0;}
.jcf-class-radio2{background-position: -57px 0;}
.jcf-class-radio3{background-position: -114px 0;}
.jcf-class-radio4{background-position: -171px 0;}
.jcf-class-radio5{background-position: -228px 0;}
.jcf-class-radio6{background-position: 0 -57px;}
.jcf-class-radio7{background-position: -57px -57px;}
.jcf-class-radio8{background-position: -114px -57px;}
.jcf-class-radio9{background-position: -171px -57px;}
.jcf-class-radio10{background-position: -228px -57px;}
.jcf-class-radioyes{background-position: -185px -540px}
.jcf-class-radiono{background-position: -205px -540px}
.jcf-class-radioblank{background-position: -2005px -5040px}
.jcf-class-radio11,
.jcf-class-radio12,
.jcf-class-radio13,
.jcf-class-radio14{
	background-position: -5px -291px;
	width: 22px;
	height: 48px;
	border-radius: 0;
	background-color: transparent;
}
.jcf-class-radio11:hover,
.jcf-class-radio12:hover,
.jcf-class-radio13:hover,
.jcf-class-radio14:hover{
	background-color: transparent;
}
.jcf-class-radio12{
	width: 74px;
	margin: 0 27px;
	background-position: -49px -291px;
}
.jcf-class-radio13{
	width: 153px;
	background-position: -153px -291px;
}
.jcf-class-radio14{
	width: 311px;
	background-position: -2px -427px;
}
.jcf-class-radio1.rad-checked{background-position: 0 -114px;}
.jcf-class-radio2.rad-checked{background-position: -57px -114px;}
.jcf-class-radio3.rad-checked{background-position: -114px -114px;}
.jcf-class-radio4.rad-checked{background-position: -171px -114px;}
.jcf-class-radio5.rad-checked{background-position: -228px -114px;}
.jcf-class-radio6.rad-checked{background-position: 0 -171px;}
.jcf-class-radio7.rad-checked{background-position: -57px -171px;}
.jcf-class-radio8.rad-checked{background-position: -114px -171px;}
.jcf-class-radio9.rad-checked{background-position: -171px -171px;}
.jcf-class-radio10.rad-checked{background-position: -228px -171px;}
.jcf-class-radio11.rad-checked{background-position: -5px -358px}
.jcf-class-radio12.rad-checked{background-position: -49px -358px}
.jcf-class-radio13.rad-checked{background-position: -153px -358px}
.jcf-class-radio14.rad-checked{background-position: -2px -492px;}
.jcf-class-radioyes.rad-checked{background-position: -185px -540px}
.jcf-class-radiono.rad-checked{background-position: -205px -540px}
.jcf-class-radioblank.rad-checked{background-position: -2005px -5040px}
.rad-disabled {
	background: #eee;
}

/* ---------------------------------------------------------
	Bootstrap overrides
   ---------------------------------------------------------*/



/* ---------------------------------------------------------
	4. Styles for responsive breakpoints
   ---------------------------------------------------------*/
/* styles for screens 769px wide and larger */
@media only screen and (max-width: 1040px){
}
/* styles for screens 320px wide and narrower */
@media only screen and (max-width: 767px){
	body { /*for sticky-footer*/
		margin-bottom: 595px;
	}

	button.homeNav {
		margin-bottom: 10px;
	}

	.add #header{padding: 12px 5px 60px;}
	.add #header .right-block{width: auto;}
	h1 { font-size: 39px}

	.video-btn{margin-bottom: 27px; max-width: 500px;}
	.video-btn.active{max-width: 288px;}
	.add .video-btn{margin-bottom: 34px;}
	.video-btn .btn-play{
		padding: 11px 38px 14px 10px !important;
		font-size: 14px;
		line-height: 16px;
		min-width: 208px;
		border-radius: 0 0 19px 17px;
	}
	.video-btn .btn-play:before{
		width: 24px;
		height: 24px;
		background-image: url(../images/sprite-small.png);
		background-position: -178px -376px;
		top: 6px;
		right: 16px;
	}
	form .col,
	form .col:first-child{
		float: none;
		width: auto;
		text-align: center;
		padding-bottom: 22px;
	}
	form li{margin: 0 3px 7px;}
	form .tab.add li{margin: 0 7px 16px;}
	form .col .holder{padding: 0 18px 0 27px;}
	form .form-group{margin-bottom: 3px;}
	
	.rad-area{
		width: 51px;
		height: 51px;
		background-image: url(../images/sprite-small.png);
	}
	.jcf-class-radio1{background-position: 0 0;}
	.jcf-class-radio3{background-position: -255px -153px;}
	.jcf-class-radio2{background-position: -51px 0;}
	.jcf-class-radio4{background-position: -102px 0;}
	.jcf-class-radio5{background-position: -153px 0;}
	.jcf-class-radio6{background-position: -204px 0;}
	.jcf-class-radio7{background-position: -255px 0;}
	.jcf-class-radio8{background-position: 0 -102px;}
	.jcf-class-radio9{background-position: -51px -102px;}
	.jcf-class-radio10{background-position: -102px -102px;}
	.jcf-class-radioyes{background-position: -185px -540px}
	.jcf-class-radiono{background-position: -205px -540px}
	.jcf-class-radioblank{background-position: -2005px -5040px}
	.jcf-class-radio11,
	.jcf-class-radio12,
	.jcf-class-radio13,
	.jcf-class-radio14{
		width: 17px;
		height: 38px;
		background-position: -7px -160px;
	}
	.jcf-class-radio12{
		width: 59px;
		margin: 0;
		background-position: -42px -160px;
	}
	.jcf-class-radio13{
		width: 122px;
		background-position: -119px -160px;
	}
	.jcf-class-radio14{
		width: 248px;
		background-position: -3px -266px;
	}
	.jcf-class-radio1.rad-checked{background-position: 0 -51px;}
	.jcf-class-radio3.rad-checked{background-position: -255px -204px;}
	.jcf-class-radio2.rad-checked{background-position: -51px -51px;}
	.jcf-class-radio4.rad-checked{background-position: -102px -51px;}
	.jcf-class-radio5.rad-checked{background-position: -153px -51px;}
	.jcf-class-radio6.rad-checked{background-position: -204px -51px;}
	.jcf-class-radio7.rad-checked{background-position: -255px -51px;}
	.jcf-class-radio8.rad-checked{background-position: -153px -102px;}
	.jcf-class-radio9.rad-checked{background-position: -204px -102px;}
	.jcf-class-radio10.rad-checked{background-position: -255px -102px;}
	.jcf-class-radio11.rad-checked{background-position: -255px -102px;}
	.jcf-class-radio11.rad-checked{background-position: -7px -215px;}
	.jcf-class-radio12.rad-checked{background-position: -42px -215px;}
	.jcf-class-radio13.rad-checked{background-position:-119px -215px;}
	.jcf-class-radio14.rad-checked{background-position: -3px -318px;}
	.jcf-class-radioyes.rad-checked{background-position: -185px -540px}
	.jcf-class-radiono.rad-checked{background-position: -205px -540px}
	.jcf-class-radioblank{background-position: -2005px -5040px}

	h2.tagline {
		margin-top: 0;
	}

	h1.new_header {
		padding-top: 150px;
		font-size: 40px;
		line-height: 44px;
	}

}



@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }