.range-holder{
	padding: 120px 0 70px 0;
	width: 100%;	
}
.dragdealer {
    background: RGBA(190,190,190,1.0); /*md-grey*/
    border-radius: 8px;
    height: 16px;
    position: relative;
}
.dragdealer .handle {
    left: 0;
    position: absolute;
    top: 0;
}
.stripe{
    background: #ddd  url("https://dl.dropboxusercontent.com/u/4277345/codepen/stripe-bg.png") top left repeat;
    border-radius: 8px;
    height: 10px;
	left: 0;
	margin: 3px;
    position: absolute;
    top: 0;
}
.square{ /*now circle*/
    background: #505054;
    border-radius: 100%;
    color: #FFF;
    cursor: pointer;
    height: 38px;
    left: 0;
    line-height: 30px;  
    margin-top: -13px;
    margin-left: -10px;
    padding-top: 13px;
    position: absolute;
    top: 0;
    width: 38px;    
}
.menu-line {
    background: #FFF; 
    display: block;
    height: 5px; 
    margin: 2px auto;
    width: 50%; 
}
.infobox {
    left: 0;
    margin-top: -110px;
    margin-left: -125px;
	padding: 0px;
    position: absolute;
    top: 0;
    width: 250px;
}
.innerbox{
	text-align: center;
}
.info-price{
    color: RGBA(0,164,153,1.0); 
    font-size: 4em;
}

.range-scale .scale-wrap {
    display: inline-block;
    margin-bottom: 30px;
    margin-left: 8%;
    margin-top: 10px;
    text-align: center;
}
.range-scale .scale-wrap.first {
    margin-left: 0;
}
.range-scale .scale {
    border-right: 1px solid black;
    display: inline-block;
    height: 14px;
}
.range-scale .scale.first {
    border-left: 1px solid black;
    border-right: 0 solid black;
    display: inline-block;
    height: 14px;
    margin-left: 0;
}

