.sasscheck
  background: red

//////////////////////
// VARIABLES
// colors
$ec-teal: RGBA(0,164,153,1.0)
$ec-dk-teal: RGBA(0,89,79,1.0)
// type
$ec-font-bitter: 'Bitter', serif
$ec-font-s-body: 16px
$ec-font-w-body: 400
$ec-letter-space: -0.5px
//////////////////////

//////////////////////
// COMPONENTS
// buttons
a, button, input
  &.ec-button-teal-border
    background: transparent
    border: 2px solid $ec-teal
    color: $ec-teal
    font-size: 14px
    font-weight: 600
    margin-top: 14px
    min-height: 40px
    padding: 15px 30px
    text-transform: uppercase
    &:hover 
      background: RGBA(0,164,153,0.1)
      text-decoration: none

a.ec-text-link
  color: $ec-teal
  font-size: 14px
  font-weight: 600
  text-decoration: underline
  text-transform: uppercase
  &:hover
    color: black
    cursor: pointer

a.ec-button-teal
  background: $ec-teal
  border: 1px solid $ec-dk-teal
  color: white
  font-size: 14px
  margin-top: 14px
  min-height: 40px
  padding: 15px 30px
  text-transform: uppercase

.ec-button-teal
  background: $ec-teal
  border: 1px solid $ec-dk-teal
  color: white
  font-size: 14px
  margin-top: 14px
  min-height: 40px
  padding: 15px 30px
  text-transform: uppercase

//boxes
.ec-box-white-border
  background: white
  border: 1px solid black
  outline: 10px solid white

.ec-box-white
  background: white
  padding: 20px

.ec-title-box
  color: white
  display: table-cell
  padding: 80px 20px 20px 20px
  vertical-align: bottom
  &-intro
    @extend .ec-title-box
    position: absolute
    top: -120px
    z-index: 2
  &.blue 
    background: #68CEF2

// misc
hr.ec-hr-extra
  margin-bottom: 20px
  margin-top: 20px

h4.ec-caps
  color: #58595B
  font-size: 16px
  font-weight: 600
  text-transform: uppercase

p.black
  color: black
  line-height: 1.4em
  margin-bottom: 10px

h2
  font-size: 28px
  letter-spacing: -1px

.bitter
  font-family: $ec-font-bitter
//////////////////////

// page: thankyou
.container.ec-thankyou 
  margin-top: 140px
  p
    color: black
    line-height: 1.1em
  .ec-box-white
    background: white
    padding: 20px
    h1
      color: $ec-teal
  .ec-box-lt-gray
    background: #E7E7E7
    padding: 20px
    text-align: left
  .bitter
    font-family: $ec-font-bitter

fieldset.ec-fieldset
  legend.ec-legend
    border: 0
    color: black
    font-size: $ec-font-s-body
    font-weight: 600
    letter-spacing: $ec-letter-space
    margin-bottom: 4px
    text-transform: none
  input[type="radio"],
  label
    &:hover
      cursor: pointer
  label
    color: black
    font-weight: $ec-font-w-body
    margin-bottom: 0
    margin-left: 10px
  p
    line-height: 1.1em
  .form-control:hover
    background: RGBA(0,164,153,0.2)
    border-color: black
  .form-control:focus
    background: white
    border-color: black
p.ec-p 
  line-height: 1.2em


// page: partnership
.ec-schneider-partner
  position: absolute
  top: -140px
  z-index: 2

// page: properties
.greyjumbo .ec-box-white
  h2
    margin-bottom: 3px
    margin-top: 0
  h2 + p
    margin-bottom: 15px
.ec-featured-prop
  h5
    color: $ec-teal
    font-weight: 600
    line-height: 1em
    margin-top: 0

// page: base
.ec-stretch-grey
  background: #E6E6E7
  border-top: 1px solid #B5B7B9
  padding-bottom: 60px
  padding-top: 10px

// page: why-evercharge (previously learnmore)
.ec-why-maincontent
  margin-top: 190px
  h2
    color: white
    letter-spacing: 0px
    text-transform: none
.ec-why-wrap
  .nav-tabs
    border: none
    h4
      margin-bottom: 0
  .nav-tabs li
    background: transparent
    border: none
    font-size: inherit
    padding: 0
    text-transform: none
    width: 33.333%
  .nav-tabs li.active a
    background: $ec-teal
    padding-bottom: 22px
    &:hover
      background: $ec-dk-teal 
      cursor: pointer
    h4, p
      color: white
  .nav-tabs li a 
    background: #E6E6E7
    border-radius: 0
    padding: 70px 20px 20px 20px
    &:hover 
      background: #58595B
      cursor: pointer
      padding-bottom: 22px
      h4, p
        color: white
    h4, p
      color: black
  .tab-content
    border-bottom: 1px solid #58595B
    border-left: 1px solid #58595B
    border-right: 1px solid #58595B
    margin-bottom: 60px
    margin-top: 2px
    padding: 0 20px 40px 20px
    h3.bitter
      text-transform: none
    h4 + p
      margin-bottom: 30px

// page: home
.ec-home-banner
  height: 640px
  margin-top: -410px
  width: 100%
  z-index: 1
  .ec-home-stretch
    bottom: 0
    z-index: -1
    left: 0
    position: absolute
    right: 0
    top: 0
    img
      width: 100%
.ec-home-banner-text
  margin-top: 300px
.ec-home-properties
  padding-top: 100px
  position: relative
  img 
    top: 100px
  .ec-dk-banner
    background: $ec-dk-teal
    left: 12px
    padding: 200px 30px 100px 30px
    position: absolute
    top: 0
    width: 320px
    h5
      color: white
    a.ec-text-link
      color: white
.ec-home-quote
  background: RGBA(0,164,153,0.3)
  padding: 120px 0
  text-align: center


