<div class="management-section">
  {% if not headerContent %}
    <h2>SmartPower Load Mangement</h2>
  {% else %}
    <h2>{{ headerContent }}</h2>
  {% endif %}
  <div class="management-img"><img src="{{ url_for('static', filename=imageUrl) }}" alt=""></div>
  <div class="management-listing">
    <div class="management-list">
      <h4>Maximize Existing  Infrastructure</h4>
      <p>Our SmartPower load management technology maximizes existing building infrastructure by intelligently allocating power where and when it's needed most</p>
    </div>
    <div class="management-list">
      <div class="manage-sml">
        <h4>Lowers Install Costs</h4>
        <p>With SmartPower load management, expensive infrastructure additions are unnecessary</p>
      </div>
    </div>
    <div class="management-list">
      <div class="manage-sml">
        <h4>Where You Want It</h4>
        <p>EverCharge can install more EV connectors in any given location, so every vehicle can have dedicated charging</p>
      </div>
    </div>
  </div>
  <div class="btn-big">
    {% if not hide_learn_more %}
      <a href="{{ url_for('tech') }}" class="bttn-primary">Learn More</a>
    {% endif %}
  </div>
</div>