<div class="half-and-half paddin-half-left paddin-half-right">
  <div class="half-and-half-text">
    <div class="half-right-wrapper">
      <h2>Whole Building Load Management</h2>
      <div class="half-and-half-img mobile-img">
        <div class="half-left-wrapper ev-right">
          <img src="{{ url_for('static', filename='images/garage-evermeter.png') }}" alt="">
        </div>
      </div>
    <p><span style="color: #00A499;">EverMeter</span> connects at the main panel to monitor the total electrical load in a building. The hardware communicates with SmartPower-enabled charging stations to instantaneously utilize additional available electrical capacity for vehicle charging. By dynamically adjusting charging output based on available building power, faster charging speeds are achieved while significantly increasing the total number of charge stations that can be supported in any situation.
    </p>
    </div>
  </div>
  <div class="half-and-half-img desktop-img">
    <div class="half-left-wrapper ev-right">
      <img src="{{ url_for('static', filename='images/garage-evermeter.png') }}" alt="">
    </div>
  </div>
</div>