<div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-1">
        <img src="{{ url_for('static', filename='images/EverCharge1.0.png') }}" class="img-responsive extra-bottom-sm"/>
    </div>
    <div class="col-xs-12 col-sm-6 col-sm-offset-1">
        <h2 class="">EVSE</h2>
        <ol class="bullet-list">
            <li class="bullet">Wireless network capability</li>
            <li class="bullet">J1772 or Tesla connector compatible</li>
            <li class="bullet">UL &amp; cUL certified</li>
        </ol>
        <h3><a href="{{ url_for('device_breakdown') }}" class="" style="margin-left: 40px; padding-top: 20px; display: inline-block;">View Product &#8594;</a></h3>
    </div>
</div>
