<div class="half-and-half paddin-half-left">
  <div class="half-and-half-text">
    <div class="half-right-wrapper">
      <h2>EV Connector</h2>
      <ul>
        <li>Level 2 EV Charging</li>
        <li>Integrated on-site <a href="/smartpower">load management</a></li>
        <li>Access control & Remote updates</li>
        <li>Designed for ease of install</li>
        <li>CTEP, Engery Star, UL & cUL certified</li>
        <li>Integrated wireless mesh network</li>
        <li>J1772 or Tesla connector compatible</li>
        <li>Open ADR Support</li>
        <li>Power monitoring with automated billing</li>
        <li>48 or 80 amp power output</li>
      </ul>
    </div>
  </div>
  <div class="half-and-half-img">
    <div class="half-left-wrapper">
      <img src="{{ url_for('static', filename='images/ev.png') }}" alt="">
    </div>
  </div>
</div>