<div class="half-and-half paddin-half-left paddin-half-right ev-receipt-charge">

  <div class="half-and-half-text">
    <div class="half-right-wrapper comm-right-padding">
      <h3>CDFA Certified Energy Metering and Automated Payments</h3>
      <div class="half-and-half-img mobile-img">
        <div class="half-left-wrapper ev-right">
          <img class="receipt-width" src="{{ url_for('static', filename='images/Receipt.png') }}" alt="">
        </div>
      </div>

      <p class="sustain-padding">Highest level of billing accuracy and ensures compliance with California charging requirements.</br>Integrated energy metering provides seamless end user billing and site reimbursements.</p>



      <ul class="Fleet">
        <li>Fully Automated credit or mobile payments</li>
        <li>Certified by California Department of Food and Agriculture (CDFA) to meet California Type Evaluation Program (CTEP) certifications</li>
        <li>CTEP certification required in California as of January 1st 2021 for all new charging stations accepting payment</li>
      </ul>

    </div>
  </div>
  <div class="half-and-half-img desktop-img">
    <div class="half-left-wrapper ev-right">
      <img class="receipt-width" src="{{ url_for('static', filename='images/Receipt.png') }}" alt="">
    </div>
  </div>
</div>