<div class="half-and-half paddin-half-left paddin-half-right">

  <div class="half-and-half-text">
    <div class="half-right-wrapper comm-right-padding">
      <h3>Receipt for Your Charge with EverCharge</h3>
      <div class="half-and-half-img mobile-img">
        <div class="half-left-wrapper ev-right">
          <img class="receipt-width" src="{{ url_for('static', filename='images/Receipt.png') }}" alt="">
        </div>
      </div>

      <p class="sustain-padding">*No charge when cost for charge is below %0.50. Maximum Rate of Energy Transfer : 19.2kW AC.</p>
      <ul class="Fleet">
        <li>C02 / GreenHouse Gas Reduction</li>
        <li>Low Carbon Fuel Standard Credits</li>
        <li>Fuel Cost Saving EV vs, ICE</li>
      </ul>

    </div>
  </div>
  <div class="half-and-half-img desktop-img">
    <div class="half-left-wrapper ev-right">
      <img class="receipt-width" src="{{ url_for('static', filename='images/Receipt.png') }}" alt="">
    </div>
  </div>
</div>