<div class="half-and-half paddin-half-left paddin-half-right">

  <div class="half-and-half-text">
    <div class="half-right-wrapper comm-right-padding">
      <h3>CTEP Certified Energy Metering</h3>
      <div class="half-and-half-img mobile-img">
        <div class="half-left-wrapper ev-right">
          <img class="receipt-width" src="{{ url_for('static', filename='images/Receipt.png') }}" alt="">
        </div>
      </div>

      <p class="sustain-padding">CTEP certification is required for all charging stations(EVSE) that handle billing of any kind.* This certification requires charging stations(EVSE) to meet the high levels of energy metering accuracy to ensure transparency throughout the billing process. EverCharge believes that transparency is key to a great end-user experience.</p> 
      <p class="sustain-padding">What it comes down to is the drivers are able to accurately reimburse the buildings they are drawing power from.</p>

      <ul class="Fleet">
        <li>First EVSE to receive CTEP certification</li>
        <li>*CTEP certification required in California as of January 1, 2021 for all new charging stations accepting payment</li>
      </ul>

    </div>
  </div>
  <div class="half-and-half-img desktop-img">
    <div class="half-left-wrapper ev-right">
      <img class="receipt-width" src="{{ url_for('static', filename='images/Receipt.png') }}" alt="">
    </div>
  </div>
</div>