<div class="half-and-half">
  <div class="half-and-half-text">
    <div class="half-right-wrapper smart-power-wrapper">
      <h2>SmartPower<br> in Action</h2>
      <div class="half-and-half-img mobile-img">
        <div class="half-left-wrapper">
          <img class="smart" src="{{ url_for('static', filename='images/smart-power.png') }}" alt="">
        </div>
      </div>
      <p>SmartPower provides efficient charging for all vehicles by leveraging the fact not all vehicles charge at the same moment in time and do not constantly require maximum draw during a charging cycle.</p>
      <p>SmartPower always works to get the most vehicles charged as quickly as possible, freeing up capacity. The best way to think about SmartPower is to visualize one charger with many outlets.</p>
    </div>
  </div>
  <div class="half-and-half-img desktop-img">
    <div class="half-left-wrapper">
      <img class="smart" src="{{ url_for('static', filename='images/smart-power.png') }}" alt="">
    </div>
  </div>
</div>