<div class="row">
    <div class="col-xs-12 col-sm-5 col-sm-offset-1">
        <h2 class="text-center">SmartPower in Action</h2>
        <p>
            SmartPower provides efficient charging for all vehicles by leveraging the fact not all vehicles charge at
            the same moment in time and do not constantly require maximum draw during a charging cycle.<br/><br/>
            SmartPower always works to get the most vehicles charged as quickly as possible, freeing up capacity.
            The best way to think about SmartPower is to visualize EverCharge as one charger with many outlets.
        </p>
    </div>
    <div class="col-xs-12 col-sm-3 col-sm-offset-1">
        <img src="{{ url_for('static', filename='images/graphic-one-charger.jpg') }}" class="img-responsive extra-bottom-sm" />
    </div>
</div>