<div class="half-and-half paddin-half-left">
  <div class="half-and-half-text">
    <div class="half-right-wrapper mesh-padding">
      <h2>Mesh Network</h2>
      <p>SmartPower is completely wireless and built directly into our hardware. No need for cell repeaters, WiFi, ethernet cables, gateways or control units.</p>
      <ul>
        <li>Wireless mesh network, no cell repeaters required</li>
        <li>All deployment components integrated into the EV connector</li>
        <li>Access control & Remote updates</li>
        <li>Designed for ease of install</li>
        <li>UL & cUL certified</li>
        <li>Integrated wireless mesh network</li>
      </ul>
      <p>Chargers communicate over proprietary wireless &nbsp;&nbsp; mesh network designed to work in harshest underground garage environments.</p>
    </div>
  </div>
  <div class="half-and-half-img">
    <div class="half-left-wrapper">
      <img src="{{ url_for('static', filename='images/mesh-network.png') }}" alt="">
    </div>
  </div>
</div>