<div class="content-area">
  <div class="content-wrapper">
    <h2>Scalable, Dedicated Charging</h2>
    <p>Designed for Multi-Family buildings we can avoid the pains of community and public charging by putting<br> charging where you need it most. Leveraging our patented SmartPower technology, EverCharge supports<br> more vehicles than a traditional charging solution by intelligently allocating power.</p>
    <p>By significantly reducing infrastructure costs we install dedicated charging and provide a scalable solution for<br> any community.</p>
    <a href="{{ url_for('tech') }}" class="bttn-primary">Learn More About SmartPower</a>
  </div>
</div>