<div class="row">
    <div class="col-sm-offset-2 col-sm-8 text-center extra-bottom-md">
        <h2>Scalable, Dedicated Charging </h2>
    </div>
    <div class="clearfix"></div>
    <div class="col-sm-12 col-lg-offset-1 col-lg-10 extra-bottom-lg text-center">
        <p>
            Designed for Multi-Family buildings we can avoid the pains of community and public charging by putting
            charging where you need it most. Leveraging our patented SmartPower technology, EverCharge supports more  vehicles than a traditional
            charging solution by intelligently allocating power.<br/><br/>
            <a href="{{ url_for('tech') }}" class="ec-text-link" style="text-transform: unset;">Learn more about SmartPower &#8594;</a><br/><br/>
            By significantly reducing infrastructure costs we install dedicated charging and provide a scalable solution for
            any community.
        </p>
    </div>
</div>
