<div class="row">
    <div class="col-sm-offset-2 col-sm-8 text-center extra-bottom-md">
        <h2>Dedicated Charging</h2>
    </div>
    <div class="clearfix"></div>
    <div class="col-sm-12 col-lg-offset-1 col-lg-10 extra-bottom-lg text-center">
        <p>
            We avoid the pains of public charging by scaling charging where you need it most.<br/>
            Leveraging our SmartPower technology we reduce infrastructure to make dedicated charging possible for any community.<br/>
            SmartPower Technology reduces infrastructure requirements to make dedicated charging possible.
        </p>
    </div>
</div>
