<div class="case-studies top-space">
  <h2>Case Studies</h2>
  <div class="flr">
    <div class="flx flx-6">
      <div class="case-listings">
        <h3>450 Unit Building</h3>
        <h4>in San Francisco</h4>
        <p>Without EverCharge the building only had capacity to support 6 valet charging stations. With over 50 EV owners, SmartPower Technology made it possible to install 20 charging stations with room to expand making charging possible for years to come.</p>
        <a href="{{ url_for('soma_case_study') }}">Read Full Case Study</a>
      </div>
    </div>
    <div class="flx flx-6">
      <div class="case-listings">
        <h3>The Potrero</h3>
        <h4>in San Francisco</h4>
        <p>The Homeowners Association turned to EverCharge after traditional solutions didn’t fit the needs or budget of the community. EverCharge provided a scalable and affordable electric vehicle charging solution to residents of the property.</p>
        <a href="{{ url_for('potrero_case_study') }}">Read Full Case Study</a>
      </div>
    </div>
    
  </div>
</div>