<div class="row ec-case-studies">
    <div class="col-xs-12 col-md-6">
        <div class="ec-property brannan">
            <h2 class="white">200 Brannan</h2>
            <p><small>in San Francisco</small></p>
            <p class="extra-bottom-md">Without EverCharge the building only had capacity to support 3 residents. With over 6 EV owners, SmartPower Technology makes it possible for more than ten residents to charge simultaneously making charging possible for years to come.</p>
            <p><a href="{{ url_for('brannan_case_study') }}" target="_blank" class="ec-text-link">Read full case study &#8594;</a></p>
        </div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="ec-property potrero">
            <h2 class="white">The Potrero</h2>
            <p><small>in San Francisco</small></p>
            <p class="extra-bottom-md">The Homeowners Association turned to EverCharge after traditional solutions didn’t fit the needs or budget of the community. EverCharge provided a scalable and affordable electric vehicle charging solution to residents of the property. </p>
            <p><a href="{{ url_for('potrero_case_study') }}" target="_blank" class="ec-text-link">Read full case study &#8594;</a></p>
        </div>
    </div>
</div>
