<div class="service-listings">
  <h2>We Handle Everything</h2>
  <div class="flr">
    <div class="flx flx-3">
      <div class="service-listings-col">
        <div class="check"><i class="fa fa-check-circle" aria-hidden="true"></i></div>
        <h3>Installation</h3>
        <p>Our hardware is installed by<br> licensed electricians</p>
      </div>
    </div>
    <div class="flx flx-3">
      <div class="service-listings-col">
        <div class="check"><i class="fa fa-check-circle" aria-hidden="true"></i></div>
        <h3>On-Site Evaluation</h3>
        <p>Our licensed electricians<br> conduct on-site evaluations</p>
      </div>
    </div>
    <div class="flx flx-3">
      <div class="service-listings-col">
        <div class="check"><i class="fa fa-check-circle" aria-hidden="true"></i></div>
        <h3>Building & HOA Approval</h3>
        <p>We work with management<br> and customers to obtain<br> approval</p>
      </div>
    </div>
    <div class="flx flx-3">
      <div class="service-listings-col">
        <div class="check"><i class="fa fa-check-circle" aria-hidden="true"></i></div>
        <h3>Customer Support</h3>
        <p>We provide support </br>Mon-Fri 8am-6pm, </br>Sat & Sun 9am-5pm PST</p>
      </div>
    </div>
  </div>
</div>
