<div class="row">
    <div class="col-sm-12">
        <h2 class="white">We handle everything</h2>
    </div>
    <div class="col-sm-3">
        <div class="ec-stretch-border-top">
            <h4>Installation</h4>
            <p>Our hardware is installed by certified electricians</p>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="ec-stretch-border-top">
            <h4>On-Site Evaluation</h4>
            <p>Our preferred electricians conduct on-site evaluations</p>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="ec-stretch-border-top">
            <h4>Gain Building &amp; HOA Approval</h4>
            <p>We work with management and customers to obtain approval</p>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="ec-stretch-border-top">
            <h4>On-going Service and Support</h4>
            <p>EverCharge provides 24/7 service &amp; support</p>
        </div>
    </div>
</div>