<div class="management-section future">
  <h2>Future Ready</h2>
  <div class="management-img"><img src="{{ url_for('static', filename='images/future-image.png') }}" alt=""></div>
  <div class="management-listing">
    <div class="row">
      <div class="col-sm-4">
        <div class="management-list">
          <h4>Savings</h4>
          <p>EverCharge saves properties thousands on install costs by maximizing the buildings current infrastructure</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="management-list">
          <div class="manage-sml">
            <h4>Increase Property Value</h4>
            <p>Adding electric vehicle stations adds value and desirability</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="management-list">
          <div class="manage-sml">
            <h4>Easily Scalable Technology</h4>
            <p>Our SmartPower technology can add more EV stations to any property</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- management-section -->