<div class="row">
    <div class="col-sm-offset-2 col-sm-8">
        <h2 class="ec-teal text-center extra-bottom-md">Future Ready</h2>
    </div>
    <div class="clearfix"></div>
    <div class="col-sm-12 col-lg-offset-1 col-lg-10 extra-bottom-lg">
        <img src="{{ url_for('static', filename='images/graphic-future-ready.jpg') }}" class="img-responsive" />
    </div>
    <div class="clearfix"></div>
    <div class="col-sm-12 col-lg-offset-1 col-lg-10">
        <div class="ec-col-30">
            <h4>Savings</h4>
            <p>EverCharge saves properties thousands on install costs by maximizing the buildings current infrastructure</p>
        </div>
        <div class="ec-col-30">
            <h4>Easily Scalable Technology</h4>
            <p>Our SmartPower technology can add up 10x the number of stations to any property</p>
        </div>
        <div class="ec-col-30">
            <h4>Increase Property Value</h4>
            <p>Adding electric vehicle stations adds value and desirability﻿</p>
        </div>
    </div>
</div>