<div class="row ec-case-studies">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
        <div class="ec-property brannan">
            <h2 class="white">Corporate Campus</h2>
            <p class="extra-bottom-md">Without EverCharge the site had reached the maximum EVSE potential on existing infrastructure.
                Using EverCharge technology the corporate campus was able to leverage existing electrical capacity to
                support 300+ EVSE and avoid the costly electrical upgrades</p>
            <p><a href="{{ url_for('corp_campus_case_study') }}" target="_blank" class="ec-text-link">Read full case study &#8594;</a></p>
        </div>
    </div>
</div>