<div class="row">
    <div class="col-xs-12 col-sm-6">
        <h2 class="">Customized Solutions</h2>
        <ol class="bullet-list">
            <li class="bullet">Nullam at blandit lacus.</li>
            <li class="bullet">Phasellus sit amet pretium neque, vel vulputate dolor.</li>
            <li class="bullet">Nam ornare ac enim at fermentum.</li>
        </ol>
    </div>
    <div class="col-xs-12 col-sm-6">
        <img src="{{ url_for('static', filename='images/graph-fleets-2.jpg') }}" class="img-responsive border extra-bottom-sm" />
    </div>
</div>
