<div class="row">
    <div class="col-xs-12 col-sm-4">
        <img src="{{ url_for('static', filename='images/graph-fleets-1.jpg') }}" class="img-responsive border extra-bottom-sm" />
    </div>
    <div class="col-xs-12 col-sm-4">
        <h2 class="text-center">Technical Specs</h2>
        <h3 class="text-center">40A / 80A</h3>
        <ol class="bullet-list">
            <li class="bullet">Nullam at blandit lacus.</li>
            <li class="bullet">Phasellus sit amet pretium neque, vel vulputate dolor.</li>
            <li class="bullet">Nam ornare ac enim at fermentum.</li>
        </ol>
    </div>
    <div class="col-xs-12 col-sm-4">
        <input type="button" value="Download" class="g-recaptcha ec-button-teal-border block">
    </div>
</div>
