<div class="row">
    <div class="col-xs-12 col-sm-4">
        <img src="{{ url_for('static', filename='images/graph-fleets-1.jpg') }}" class="img-responsive border extra-bottom-sm" />
    </div>
    <div class="col-xs-12 col-sm-4">
        <h2 class="text-center">Technical Specs</h2>
        <h3 class="text-center">208A-240V / 30A</h3>
        <ol class="bullet-list">
            <li class="bullet">Nema ingress rating.</li>
            <li class="bullet">-22&deg;f to 122&deg;f operating temp.</li>
        </ol>
        <h3><a href="{{ url_for('data_sheet') }}" class="">Download</a></h3>
    </div>
</div>
