<div class="row">
    <div class="col-sm-offset-2 col-sm-8 text-center extra-bottom-md">
        <h2>Warranty</h2>
    </div>
    <div class="clearfix"></div>
    <div class="col-sm-12">
        <p>
            Nunc sit amet tincidunt nunc. Nulla ut nunc vitae felis gravida imperdiet at sed est. Quisque mollis lectus non ornare placerat.
            Sed pellentesque accumsan blandit. Duis pharetra, purus dapibus rhoncus dignissim, massa sem pulvinar magna, rhoncus semper massa felis
            et dolor. Nulla placerat ultrices enim et gravida. Nullam velit est, scelerisque sed urna sed, maximus mollis libero.
            Suspendisse non purus venenatis, rutrum sem in, mattis est. Vestibulum dapibus porttitor sem a condimentum. Sed id
            lectus dapibus, accumsan augue vitae, varius purus. Pellentesque feugiat, mi in convallis porttitor, turpis arcu malesuada nisi,
            eget viverra arcu quam vitae mi. Fusce pulvinar eros non ante ornare, id ultrices magna facilisis. Phasellus a
            tincidunt orci. Vestibulum tincidunt arcu nec dui tempus, sit amet pulvinar magna mattis. Proin consectetur
            magna nec felis blandit, non commodo nulla mollis. Nam vel vestibulum leo.
        </p>
    </div>
</div>
