{% extends 'layout/base.html' %}

{% block background %}
<div style="background:black;">
	<img src="images/parking-4.jpg" alt="image description" width="1200" height="560" class="img-error">
</div>
{% endblock %}

{% block maincontent %}
	<div class="ec-404">
		<h1>Oops! The page could not be found.</h1>
	</div>
{% endblock %}

{% block video %}
{% endblock %}

{% block intro %}
{% endblock %}

{% block content_one %}
	<article class='jumbotron greyjumbo'></article>
{% endblock %}

{% block content_two %}
	<div class="greyjumbo">
		<div class="container">
			<div class="row">
				<center><p class="black">Visit one of our links below instead.</p></center>
			</div>
		</div>
	</div>
{% endblock %}

{% block content_three %}
	<article class='jumbotron greyjumbo'></article>
{% endblock %}

{% block quote_form %}
{% endblock %}

{% block custom_scripts %}
{% endblock %}
