{% extends 'layout/base.html' %}

{% block banner_class %}
    class="parallax img-about-us" data-speed="4" data-type="background"
{% endblock %}

{% block banner_text %}
    <h1 class="white">About Us</h1>
    <h2 class="white">The only EV charging solution designed specifically for multi-tenant buildings
    </h2>
{% endblock %}

{% block video %}
{% endblock %}

{% block content_one %}
    <div class="ec-stretch-white">
        <div class="container">
            <div class="row text-center">
                <h4 class="ec-caps">Our Mission</h4>
                <h2 class="bitter ec-teal">To enable the widespread adoption of EVs worldwide, through the most intelligent charging solution for multi-tenant facilities.</h2>
            </div>
            <div class="row text-center">
                <h4 class="ec-caps">Our Story</h4>
                <p>Recognizing how complex and challenging it was for residents of condos and apartments to set up EV charging, we founded EverCharge. Our goal was simple: make EV ownership accessible for everyone - not just people who live in single-family homes.</p>
                <p>Over the past years, we have built relationships with leading property management companies and vehicle manufacturers that have helped us get EverCharge into buildings nationwide. Today we are proud to serve a customer base that is growing everyday.</p>
            </div>
        </div>
    </div>
{% endblock %}
