{% extends 'layout/base.html' %}

{% block content_one %}
    <!-- <div class="ec-stretch-white"> -->
    <section class="page-content">
        <div class="container">
            <div class="green-box inner-top-green">
              <div class="green-content">
                  <h2>About Us</h2>
                  <p>The only EV charging solution designed specifically <br/> for fleets and multi-tenant buildings.</p>
              </div>
            </div>
            <div class="center-title about-text-width">
                <h2>Our Mission</h2>
                <p>To enable the widespread adoption of EVs worldwide, through the most intelligent charging solution for fleets and multi-tenant facilities.</p>
            </div>
            <div class="center-title about-text-width">
                <h2>Our Story</h2>
                <p>Recognizing how complex and challenging it was for residents of condos and apartments to set up EV charging, we founded EverCharge. Our goal was simple: make EV ownership accessible for everyone - not just people who live in single-family homes.</p>
                <p>Over the past years, we have built relationships with leading property management companies and vehicle manufacturers that have helped us get EverCharge into buildings nationwide. Today we are proud to serve a customer base that is growing everyday.</p>
            </div>
            <div class="management-section center-title">
                <div class="about-text-width">
                  <h2>Our Service</h2>
                  <p class="extra-bottom-lg">EverCharge offers 24/7 service and support Nationwide. From San Francisco to Miami and everywhere else in between, if you need on-site dedicated charging we have you covered.</p>
                </div>
                <div class="clearfix"></div>
                <div class="management-img">
                    <img src="{{ url_for('static', filename='images/evercharge-nationwide-service.jpg') }}" class="img-responsive extra-bottom-lg" alt="EverCharge nationwide" />
                </div>
            </div>
            <div class="testimonial-listings about-list-padding">
              <div class="container">
                <h2>What People Are Saying</h2>
                <div class="testimonial-details about-img-width">
                  <div class="row">
                    <div class="col-sm-6 col-md-4">
                      <div class="testimonial-listings-column">
                        <div class="testimonial-listings-logo">
                            <a href="http://www.1776.vc/insights/winner-spotlight-evercharge-helps-multi-unit-buildings-get-plugged-into-the-electric-vehicle-industry" target="_blank">
                              <img src="images/award-challenge-cup1776.jpg" alt="">
                            </a>
                        </div>
                        <h3>
                          <a href="http://www.1776.vc/insights/winner-spotlight-evercharge-helps-multi-unit-buildings-get-plugged-into-the-electric-vehicle-industry/" alt="1776 press release for Challenge Cup Award" target="_blank">1776 Challenge Cup Global Finalist</a>
                        </h3>
                        <p>EverCharge was named a finalist for our SmartPower technology's ability to maximize existing building infrastructure allowing for more vehicles to charge at any given location.</p>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                      <div class="testimonial-listings-column">
                        <div class="testimonial-listings-logo">
                          <a href="http://www.innovationworldcup.com/wp-content/uploads/2016/02/160224_IOT_winners-2016.pdf" target="_blank">
                            <img src="images/award-smart-city-winner.jpg" alt="">
                          </a>
                        </div>
                        <h3>
                          <a href="http://www.innovationworldcup.com/wp-content/uploads/2016/02/160224_IOT_winners-2016.pdf" alt="Smart City press release for Innovation World Cup award" target="_blank">IoT/M2M Innovation World Cup Winner</a>
                        </h3>
                        <p>EverCharge was named the winner for our charging station's dynamic charging and SmartPower technology, allowing urban dwellers to charge any kind of electric vehicle from Teslas to e-bikes.</p>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                      <div class="testimonial-listings-column">
                        <div class="testimonial-listings-logo">
                          <a href="https://nmhc.org/News/Updater-Wins-2015-Launch-Pad-Competition/" rel="nofollow" target="_blank">
                            <img src="images/award-nmhc.jpg" alt="">
                          </a>
                        </div>
                        <h3>
                          <a href="https://nmhc.org/News/Updater-Wins-2015-Launch-Pad-Competition/" alt="1776 press release NMHC launchpad finalist" target="_blank">NMHC LaunchPad Finalist</a>
                        </h3>
                        <p>EverCharge was named a finalist for our fully managed service for multi-family buildings providing 24/7 support, maintenance, electricity metering, and automated billing so property managers don't have to worry about residents charging needs.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>  
        </div>
    </div>
{% endblock %}
