{% extends 'layout/base.html' %}

{% block banner_class %}
    class="parallax img-about-us" data-speed="4" data-type="background"
{% endblock %}

{% block banner_text %}
    <h2>About Us</h1>
    <h3 class="thin">The only EV charging solution designed specifically for fleets and multi-tenant buildings</h3>
{% endblock %}

{% block content_one %}
    <div class="ec-stretch-white">
        <div class="container">
            <div class="row text-center extra-bottom-lg">
                <div class="col-xs-12">
                    <h2 class="extra-bottom-md">Our Mission</h2>
                    <h2 class="thin">To enable the widespread adoption of EVs worldwide, through the most intelligent charging solution for fleets and multi-tenant facilities.</h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-xs-12 col-sm-offset-2 col-sm-8">
                    <h2>Our Story</h2>
                    <p>Recognizing how complex and challenging it was for residents of condos and apartments to set up EV charging, we founded EverCharge. Our goal was simple: make EV ownership accessible for everyone - not just people who live in single-family homes.</p>
                    <p class="extra-bottom-lg">Over the past years, we have built relationships with leading property management companies and vehicle manufacturers that have helped us get EverCharge into buildings nationwide. Today we are proud to serve a customer base that is growing everyday.</p>
                </div>
                <div class="clearfix"></div>
                <div class="col-xs-12 col-sm-offset-2 col-sm-8">
                    <h2>Our Service</h2>
                    <p class="extra-bottom-lg">EverCharge offers 24/7 service and support Nationwide. From San Francisco to Miami and everywhere else in between, if you need on-site dedicated charging we have you covered.</p>
                </div>
                <div class="clearfix"></div>
                <div class="col-xs-offset-2 col-xs-8 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
                    <img src="{{ url_for('static', filename='images/evercharge-nationwide-service.jpg') }}" class="img-responsive extra-bottom-lg" alt="EverCharge nationwide" />
                </div>
            </div>
        </div>
    </div>
    <div class="ec-stretch-teal ec-award-wrap">
        <div class="container">
            <div class="row text-center">
                <div class="col-xs-12 col-sm-offset-2 col-sm-8">
                    <h2 class="white extra-bottom-md">Our Award Winning Technology</h2>
                    <p class="white extra-bottom-lg">EverCharge and our SmartPower technology have been the recipients of a multitude of industry awards for our work in moving the electric vehicle industry forward</p>
                </div>
                <div class="clearfix"></div>
                <div class="col-xs-12 col-sm-4">
                    <div class="ec-box-white-border">
                        <img src="{{ url_for('static', filename='images/award-challenge-cup1776.jpg') }}" class="img-responsive extra-bottom-lg ec-award" alt="EverCharge received The Challenge Cup Award" />
                        <h5><a href="http://www.1776.vc/insights/winner-spotlight-evercharge-helps-multi-unit-buildings-get-plugged-into-the-electric-vehicle-industry/" alt="1776 press release for Challenge Cup Award" target="_blank">1776 Challenge Cup Global Finalist</a></h5>
                        <p>EverCharge was named a finalist for our SmartPower technology's ability to maximize existing building infrastructure allowing for 10x more vehicles to charge at any given location.</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="ec-box-white-border">
                        <img src="{{ url_for('static', filename='images/award-smart-city-winner.jpg') }}" class="img-responsive extra-bottom-lg ec-award" alt="EverCharge received Innovation World Cup Award" />
                        <h5><a href="http://www.innovationworldcup.com/wp-content/uploads/2016/02/160224_IOT_winners-2016.pdf" alt="Smart City press release for Innovation World Cup award" target="_blank">IoT/M2M Innovation World Cup Winner</a></h5>
                        <p>EverCharge was named the winner for our charging station's dynamic charging and SmartPower technology, allowing urban dwellers to charge any kind of electric vehicle from Teslas to e-bikes.</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="ec-box-white-border">
                        <img src="{{ url_for('static', filename='images/award-nmhc.jpg') }}" class="img-responsive extra-bottom-lg" alt="EverCharge finalist for NMHC Launchpad" />
                        <h5><a href="https://nmhc.org/News/Updater-Wins-2015-Launch-Pad-Competition/" alt="1776 press release NMHC launchpad finalist" target="_blank">NMHC LaunchPad Finalist</a></h5>
                        <p>EverCharge was named a finalist for our fully managed service for multi-family buildings providing 24/7 support, maintenance, electricity metering, and automated billing so property managers don't have to worry about residents charging needs.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
