{% extends 'layout/base.html' %}
{% from 'layout/macro.html' import contact_us_short_form %}


{% block content_one %}
    <div class="ec-campaign-letscharge-wrap">
        <div class="extra-stretch ec-stretch-lt-teal">
            <div class="container">
                <div class="row">
                    <div class="col-sm-9 col-md-7">
                        </br>
                        </br>
                        </br>
                        <h2>Why EverCharge</h2>
                        </br>
                        <div class="ec-video-wrap">
                            <iframe src="https://www.youtube.com/embed/DL9KjDeMo9g" frameborder="0" allowfullscreen></iframe>
                            </video>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-5">
                        <div class="row">
                            <form action="{{ url_for('thank_you') }}" method='post' id="quote" class="validate-form">
                                <input name="lead_source" value="campaign-letscharge" type="hidden">
                                <input name="adwordsField" id='adwordsField' type="hidden">
                                <input name="granularField" id="granularField" type="hidden">
                                <fieldset class="ec-fieldset">
                                    <div class="col-sm-12">
                                        </br>
                                        </br>
                                        </br>
                                        <h2>{% block form_name %}Get Your Quote Today{% endblock %}</h2>
                                        </br>
                                        <p><small>Connect with one of our experts by telling us a little about yourself.</small></p>
                                        <p data-href="{{ url_for('static', filename='inc/tab00.html') }}" class="active pull-left">
                                            <input type="radio" checked="checked" value="EV Driver" name="customer_type" class="radio1" id="customer_type_ev">
                                            <label for="customer_type_ev" class="label-radio">EV Driver</label>
                                        </p>
                                        <p data-href="{{ url_for('static', filename='inc/tab01.html') }}" class="active pull-left">
                                            <input type="radio" value="Property Manager" name="customer_type" class="radio2" id="customer_type_hoa">
                                            <label for="customer_type_hoa" class="label-radio">Management</label>
                                        </p>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <input name="quote_name" type="text" class="form-control required" id="label1" placeholder="Name*" autocomplete="off">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input name="quote_email" type="email" class="form-control required-email" id="label2" placeholder="Email*" autocomplete="off">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input name="quote_phone" type="tel" class="form-control bfh-phone" placeholder="Phone" data-format="ddd-ddd-dddd" autocomplete="off">
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-sm-12">
                                        <textarea name="quote_notes" rows="2" class="form-control" placeholder="Additional comments" autocomplete="off"></textarea>
                                    </div>
                                    <div class="col-sm-12">
                                        <input type="submit" value="Get your Quote" class="g-recaptcha ec-button-teal block">
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="extra-stretch section-handle">
            <div class="overlay-teal"></div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="white">We handle everything</h2>
                    </div>
                    <div class="col-sm-3">
                        <div class="ec-stretch-border-top">
                            <h4>Installation</h4>
                            <p style="line-height: 20px;">Our hardware is installed by a certified electrician</p>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="ec-stretch-border-top">
                            <h4>On-Site Evaluation</h4>
                            <p style="line-height: 20px;">Our preferred electricians conducts on-site evaluation</p>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="ec-stretch-border-top">
                            <h4>Gain Building &amp; HOA Approval*</h4>
                            <p style="line-height: 20px;">We work with management and customer to gain approval
                            <br />*For apartments and condominiums only</p>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="ec-stretch-border-top">
                            <h4>On-going Service and Support</h4>
                            <p style="line-height: 20px;">No matter what happens EverCharge provides 24/7 on-site maintenance, service, &amp; support</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="extra-stretch section-smartpower">
            <div class="container">
                <div class="row">
                    <h2>SmartPower</h2>
                    <div class="row">
                        <div class="col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-9">
                            <img src="{{ url_for('static', filename='images/car-frame.png') }}" class="img-responsive" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="ec-stretch-border-top">
                                <h4>Lower Install Costs</h4>
                                <p>With SmartPower, expensive infrastructure additions are unnecessary</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="ec-stretch-border-top">
                                <h4>Maximize Existing Infrastructure</h4>
                                <p>Our SmartPower technology maximizes existing building infrastructure by intelligently allocating power where and when it's needed most</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="ec-stretch-border-top">
                                <h4>Where you want it</h4>
                                <p>EverCharge can install more EV connectors in any given location, so every vehicle can have dedicated charging</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ec-stretch-dk-teal ec-mini-form">
            <div class="container">
                <form action="{{ url_for('thank_you') }}" method='post' class="validate-form">
                    <input name="lead_source" value="campaign-letscharge" type="hidden">
                    <input name="adwordsField" id='adwordsField' type="hidden">
                    <input name="granularField" id="granularField" type="hidden">
                    <fieldset>
                        <div class="row">
                            <div class="col-sm-3">
                                <h2 class="white">Get a Quote</h2>
                            </div>
                            <div class="holder">
                                <div class="col-xs-12 col-sm-3">
                                    <div class="form-group">
                                        <input name="quote_name" type="text" class="form-control required" id="label1" placeholder="Name*" autocomplete="off">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-3">
                                    <div class="form-group">
                                        <input name="quote_email" type="email" class="form-control required-email" id="label2" placeholder="Email*" autocomplete="off">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-3">
                                    <input type="submit" value="Submit &#8594;" class="g-recaptcha ec-button-teal-border block">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="extra-stretch section-future">
            <div class="future-bkgnd"></div>
            <div class="container">
                <div class="row text-center">
                    <div class="col-sm-12">
                        <h2>Future Ready</h2>
                    </div>
                    <div class="col-sm-offset-1 col-sm-5 col-md-offset-0 col-md-6">
                        <div class="ec-stretch-lt-teal">
                            <h4 class="ec-teal">Savings</h4>
                            <p style="line-height: 20px;">EverCharge saves properties thousands on install costs by maximizing the building's current infrastructure</p>
                        </div>
                    </div>
                    <div class="col-sm-5 col-md-6">
                        <div class="ec-stretch-lt-teal">
                            <h4 class="ec-teal">Increase Property Value</h4>
                            <p style="line-height: 20px;">Adding electric vehicle stations adds value and desirability</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <img src="{{ url_for('static', filename='images/graph-fleets-1.jpg') }}" class="img-responsive border" />
                        <div class="ec-stretch-grey">
                            <h4>Save Money</h4>
                            <p>Our solution drastically reduces install costs by intelligently managing power, allowing more charging station installs for far less money. EverCharge eliminates the need for expensive infrastructure additions, keeping project costs at a minimum.</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <img src="{{ url_for('static', filename='images/graph-fleets-2.jpg') }}" class="img-responsive border" />
                        <div class="ec-stretch-grey">
                            <h4>Scale as needed</h4>
                            <p>Using <a href="{{ url_for('smart_power') }}" class="ec-text-link">SmartPower technology</a>, EverCharge intelligently charges vehicles, optimizing existing building infrastructure to support more stations at any location. This means EverCharge can scale with your community well into the future.</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <img src="{{ url_for('static', filename='images/graph-fleets-3.jpg') }}" class="img-responsive border" />
                        <div class="ec-stretch-grey">
                            <h4>Extensive Analytics</h4>
                            <p>As an all-in-one solution, EverCharge allows for in-depth analysis on every charge station giving our clients unmatched data analytics to understand vehicle and user needs. Doing this means EverCharge can provide a tailored solution for any site.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}



