{% extends 'layout/base.html' %}

{%- block extra_css -%}
    <style type="text/css">
    </style>
{%- endblock -%}

{% block content_one %}
  <!-- Page content -->
  <section class="page-content">
    <div class="container">
      <div class="green-box inner-top-green">
        <div class="green-content">
          <h2>Commercial</h2>
          <p>Scalable, fully managed charging solutions for fleets or <br>workplaces</p>
        </div>
      </div>
      <div class="content-area inner-content-area">
        <div class="content-wrapper">
          <h2>The Perfect Solution For EV<br> Charging at Any Location</h2>
          <p>Maximize existing building infrastructure to make adding EVs to your workplace or fleet easy and affordable.</p>
          <p>EverCharge’s Fleet Management tools enable organizations to be entirely hands off or provide granular<br> controls to manage charging schedules, prioritization and more with real time reporting.</p>
        </div>
      </div>

      <div class="half-and-half paddin-half-right">
        <div class="half-and-half-img desktop-img">
          <div class="half-right-wrapper">
            <img class="image-shadow-right" src="{{ url_for('static', filename='images/control-image.png') }}">
            <p><span>EverCharge</span> Web Dashboard</p>
          </div>
        </div>
        <div class="half-and-half-text">
          <div class="half-left-wrapper">
            <h3>Complete Control</h3>
            <div class="half-and-half-img mobile-img">
              <div class="half-right-wrapper">
                <img class="image-shadow-right" src="{{ url_for('static', filename='images/control-image.png') }}">
                <p><span>EverCharge</span> Web Dashboard</p>
              </div>
            </div>
            <p>With EverCharge’s Management Dashboard Fleet Administrators have access to real time charging statuses, health reports, alerts and system prioritizations to easily manage fleet charging.</p>
          </div>
        </div>
      </div>

      <div class="half-and-half full-width paddin-half-left">
        <div class="half-and-half-text">
          <div class="half-right-wrapper">
            <h3>Fleet Vehicle & Infrastructure Planning</h3>
            <p>Let us help you with EV purchasing decisions:</p>

            <ul class="Fleet">
              <li>Replacement Assessment of Battery Electric Vehicle (BEV)</li>
              <li>Total Cost of Ownership Calculations</li>
              <li>Sustainability Benefits Calculations</li>
              <li>Facility Assessment and Installation Design</li>
            </ul>

            <p>Our team assists commercial customers with site assessment and design to meet their needs. Regardless if &nbsp;&nbsp; it’s Level 2 or Level 3 charging, our team is experienced in the use cases and can correctly model each option for customers to determine the best solution within their operating budget.</p>
          </div>
        </div>
      </div>

      <div class="half-and-half paddin-half-right">
        <div class="half-and-half-img desktop-img">
          <div class="half-right-wrapper">
            <img class="image-shadow-right"  src="{{ url_for('static', filename='images/money-image.png') }}" alt="">
            <p> <span>EverCharge</span>  Facilitates 400% More Stations per $1M</p>
          </div>
        </div>
        {% include 'blocks/1c_svme.html' %}
      </div>

      <div class="half-and-half paddin-half-left">
        <div class="half-and-half-text">
          <div class="half-right-wrapper comm-right-padding">
            <h3>Scale as Needed</h3>
            <div class="half-and-half-img mobile-img">
              <div class="half-left-wrapper">
                <img class="image-shadow-left"  src="{{ url_for('static', filename='images/needed-image.png') }}" alt="">
                <p>A Garage <span> With</span> and <strong> Without</strong> EverCharge</p>
              </div>
            </div>
            <p class="scale-padding">Using <a href="{{ url_for('smart_power') }}" style="font-weight: 600;">SmartPower Technology</a>, EverCharge intelligently charges vehicles, optimizing existing building infrastructure to support more stations at any location.</p>
          </div>
        </div>
        <div class="half-and-half-img desktop-img">
          <div class="half-left-wrapper">
            <img class="image-shadow-left"  src="{{ url_for('static', filename='images/needed-image.png') }}" alt="">
            <p>A Garage <span> With</span> and <strong> Without</strong> EverCharge</p>
          </div>
        </div>
      </div>
      {% with imageUrl='images/smartt.png' %}
        {% include 'blocks/1b_smart_power.html' %}
      {% endwith %}
      <div class="half-and-half paddin-half-right">
        <div class="half-and-half-img desktop-img">
          <div class="half-right-wrapper">
            <img class="image-shadow-right" src="{{ url_for('static', filename='images/power.png') }}" alt="">
            <p> 150amp 'Full' Electrical Panel With Intermittent Available Capacity</p>
          </div>
        </div>
        <div class="half-and-half-text">
          <div class="half-left-wrapper">
            <h3>Full Building Power Management</h3>
            <div class="half-and-half-img mobile-img">
              <div class="half-right-wrapper">
                <img class="image-shadow-right" src="{{ url_for('static', filename='images/power.png') }}" alt="">
                <p> 150amp 'Full' Electrical Panel With Intermittent Available Capacity</p>
              </div>
            </div>
            <p>Eliminates expensive load studies and because electrical panels are designed to support the peak anticipated load of the building, there is significant unutilized power when large appliances and other electrical loads are not in full use.</p>
            <p>Infrastructure may only reach peak utilization for a few minutes once a day, week or month. The rest of the time the full electrical capacity is simply unused. This also can be used to reduce demand charges while increased EV charging capacity.</p>
          </div>
        </div>
      </div>

      <div class="half-and-half paddin-half-left">
        <div class="half-and-half-text">
          <div class="half-right-wrapper comm-right-padding">
            <h3>Demand Response</h3>
            <div class="half-and-half-img mobile-img">
              <div class="half-left-wrapper">
                <img class="image-shadow-left" src="{{ url_for('static', filename='images/demand-image.png') }}" alt="">
              </div>
            </div>
            <p class="demand-padding">Manage charging power output limits to minimize, control and avoid additional demand charges or to prioritize off-peak charging. This can be done automatically all while maintaining other charging goals.</p>
          </div>
        </div>
        <div class="half-and-half-img desktop-img">
          <div class="half-left-wrapper">
            <img class="image-shadow-left" src="{{ url_for('static', filename='images/demand-image.png') }}" alt="">
          </div>
        </div>
      </div>

      <div class="half-and-half paddin-half-right">
        <div class="half-and-half-img desktop-img">
          <div class="half-right-wrapper">
            <img class="image-shadow-right" src="{{ url_for('static', filename='images/analytic.png') }}" alt="">
            <p>Cars at different states of charge reach 100% throughout the day</p>
          </div>
        </div>
        {% include 'blocks/1c_extensive.html' %}
      </div>

      <div class="half-and-half paddin-half-left">
        <div class="half-and-half-text">
          <div class="half-right-wrapper comm-right-padding">
            <h3>Sustainability & Efficiency Metrics</h3>
            <div class="half-and-half-img mobile-img">
              <div class="half-left-wrapper">
                <img src="{{ url_for('static', filename='images/metrics.png') }}" alt="">
              </div>
            </div>
            <p class="sustain-padding">Capitalize on sustainability and efficiency reporting for your business. With ability to view reports by facility, vehicle or driver extensive reporting metrics include:</p>
            <ul class="Fleet">
              <li>C02 / GreenHouse Gas Reduction</li>
              <li>Low Carbon Fuel Standard Credits</li>
              <li>Fuel Cost Saving EV vs, ICE</li>
            </ul>

          </div>
        </div>
        <div class="half-and-half-img desktop-img">
          <div class="half-left-wrapper">
            <img src="{{ url_for('static', filename='images/metrics.png') }}" alt="">
          </div>
        </div>
      </div>

      <div class="half-and-half full-width paddin-half-left">
        <div class="half-and-half-text">
          <div class="half-right-wrapper">
            <h3>User Management</h3>
            <p>Critical to provide the correct prioritization, billing or usage experience regardless if its business or personal use EverCharge supports all available authentication methods for additional control.</p>

            <ul class="Fleet">
              <li>Driver RFID</li>
              <li>Automated Vehicle (ISO 15118)</li>
              <li>Anonymized ID from a 3rd party</li>
              <li>Phone App</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="half-and-half full-width paddin-half-left">
        <div class="half-and-half-text">
          <div class="half-right-wrapper">
            <h3>API & Platform Integration</h3>
            <p>EverCharge supports platform integration through a robust set of APIs enabling organizations to customize your experience and maintain control with existing platforms.</p>
          </div>
        </div>
      </div>

      {% include 'blocks/3b_case_study.html' %}

    </div>
  </section>
{% endblock %}