{% extends 'layout/base.html' %}

{%- block extra_css -%}
    <style type="text/css">
        .ec-campaign-letscharge-wrap .section-handle.bg-electrician {
            background-image: url('{{ url_for('static', filename='images/splash-electrician.jpg') }}');
            background-size: unset;
            background-position: center;
        }
        .bg-electrician .container h2 {
            text-shadow: 3px 3px 0 RGBA(0,0,0,0.7);
        }
        .bg-electrician .container h3 {
            text-shadow: 2px 2px 0 RGBA(0,0,0,0.7);
        }
        .bg-electrician .container p {
            text-shadow: 1px 1px 0 RGBA(0,0,0,0.7);
        }
        .bg-electrician .container h3, .bg-electrician .container p {
            color: white;
        }
    </style>
{%- endblock -%}

{% block banner_class %}
    class="parallax img-why-ec" data-speed="4" data-type="background"
{% endblock %}

{% block banner_text %}
    <h1>Commercial</h1>
    <h1 class="subhead">Scalable, fully managed charging solutions for fleets or workplaces</h1>
{% endblock %}

{% block content_one %}
    <div class="ec-stretch-white">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-1 col-md-10 text-center">
                    <div class="ec-stretch-white">
                        <h2>The perfect solution for EV charging at any location</h2>
                        <p>Maximize existing building infrastructure to make adding EVs to your workplace or fleet easy and affordable.<br/><br/>
                        EverCharge’s Fleet Management tools enable organizations to be entirely hands off or provide granular controls to manage charging schedules, prioritization and more with real time reporting. </p>
                    </div>
                    <hr class="ec-hr-extra" />
                </div>            
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-offset-1 col-md-5">
                    <img src="{{ url_for('static', filename='images/commercial-1.png') }}" class="img-responsive border extra-bottom-sm" />
                    <p><small><strong><span class="ec-teal">EverCharge</span></strong> web dashboard</small></p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-5">
                    <h2 class="thin">Complete Control</h2>
                    <p>With EverCharge’s Management Dashboard Fleet Administrators have access to real time charging statuses, health reports, alerts and system prioritizations to easily manage fleet charging.</p>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-offset-1 col-md-10">
                    <hr class="ec-hr-extra" />
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-md-offset-1">
                    <h2 class="thin">Fleet Vehicle & Infrastructure Planning</h2>
                    <p>Let us help you with EV purchasing decisions:
                    <UL>
                        <li>Replacement Assessment of Battery Electric Vehicle (BEV)</li>
                        <li>Total Cost of Ownership Calculations</li>
                        <li>Sustainability Benefits Calculations</li>
                        <li>Facility Assessment and Installation Design</li>
                    </UL>
                    Our team assists commercial customers with site assessment and design to meet their needs. Regardless if it’s Level 2 or Level 3 charging, our team is experienced in the use cases and can correctly model each option for customers to determine the best solution within their operating budget. 
                    </p>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-offset-1 col-md-10">
                    <hr class="ec-hr-extra" />
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-offset-1 col-md-5">
                    <img src="{{ url_for('static', filename='images/graph-fleets-1.jpg') }}" class="img-responsive border extra-bottom-sm" />
                    <p><small><strong><span class="ec-teal">EverCharge</span></strong> facilitates 400% more stations per $1M </small></p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-5">
                    <h2 class="thin">Save Money</h2>
                    <p>Our charging solution drastically reduces install costs by intelligently managing power, allowing more charger installs for far less money. EverCharge eliminates the need for expensive infrastructure additions, keeping project costs at a minimum.</p>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-offset-1 col-md-10">
                    <hr class="ec-hr-extra" />
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-offset-1 col-md-5">
                    <h2 class="thin">Scale as Needed</h2>
                    <p>
                        Using <a href="{{ url_for('smart_power') }}" class="ec-text-link" style="text-transform: unset;">SmartPower Technology</a>,
                        EverCharge intelligently charges vehicles, optimizing existing building infrastructure to support more stations at any location.
                    </p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-5">
                    <img src="{{ url_for('static', filename='images/graph-fleets-2.jpg') }}" class="img-responsive border extra-bottom-sm" />
                    <p><small>A garage <strong><span class="ec-teal">with</span></strong> and <strong>without</strong> EverCharge</small></p>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-offset-1 col-md-10">
                    <hr class="ec-hr-extra" />
                </div>
            </div>

            <div class="clearfix"></div>
               
            {% include 'blocks/1b_smart_power.html' %}

            <div class="col-md-offset-1 col-md-10">
                <hr class="ec-hr-extra" />
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-offset-1 col-md-5">
                    <img src="{{ url_for('static', filename='images/graph-fleets-4.jpg') }}" class="img-responsive border extra-bottom-sm" />
                    <p><small>150amp 'full' electrical panel with intermittent available capacity</small></p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-5">
                    <h2 class="thin">Full building power management</h2>
                    <p>Eliminates expensive load studies and because electrical panels are designed to support the peak anticipated load of the building, there is significant unutilized power when large appliances and other electrical loads are not in full use. Infrastructure may only reach peak utilization for a few minutes once a day, week or month. The rest of the time the full electrical capacity is simply unused. This also can be used to reduce demand charges while increased EV charging capacity.</p>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-offset-1 col-md-10">
                    <hr class="ec-hr-extra" />
                </div>
            </div>    

            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-offset-1 col-md-5">
                    <h2 class="thin">Demand Response</h2>
                    <p>WIth EverCharge Administrators can manage charging output limits during set times to minimize, control and avoid additional demand charges or to prioritize off-peak charging.</p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-5">
                    <img src="{{ url_for('static', filename='images/commercial-3.png') }}" class="img-responsive border extra-bottom-sm" />
                </div>
                <div class="clearfix"></div>
                <div class="col-md-offset-1 col-md-10">
                    <hr class="ec-hr-extra" />
                </div>
            </div>


            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-offset-1 col-md-5">
                    <img src="{{ url_for('static', filename='images/graph-fleets-3.jpg') }}" class="img-responsive border extra-bottom-sm" />
                    <p><small>Cars at different states of charge reach 100% throughout the day</small></p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-5">
                    <h2 class="thin">Extensive Analytics</h2>
                    <p>As an all-in-one solution, EverCharge allows for in-depth analysis on every charge station giving our clients unmatched data analytics to understand vehicle and user needs. Doing this means EverCharge can provide a tailored solution for any site.</p>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-offset-1 col-md-10">
                    <hr class="ec-hr-extra" />
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-offset-1 col-md-5">
                    <h2 class="thin">Sustainability & Efficiency Metrics</h2>
                    <p>Capitalize on sustainability and efficiency reporting for your business. With ability to view reports by facility, vehicle or driver extensive reporting metrics include:
                        <UL>
                            <li>C02 / GreenHouse Gas Reduction</li>
                            <li>Low Carbon Fuel Standard Credits</li>
                            <li>Fuel Cost Saving EV vs, ICE</li>
                        </p>
                    
                </div>
                <div class="col-xs-12 col-sm-6 col-md-5">
                    <img src="{{ url_for('static', filename='images/commercial-2.png') }}" class="img-responsive border extra-bottom-sm" />
                </div>
                <div class="clearfix"></div>
                <div class="col-md-offset-1 col-md-10">
                    <hr class="ec-hr-extra" />
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-md-offset-1">
                    <h2 class="thin">User Management</h2>
                    <p>Critical to provide the correct prioritization, billing or usage experience regardless if its business or personal use EverCharge supports all available authentication methods for additional control.
                        <UL>
                            <li>Driver RFID</li>
                            <li>Automated Vehicle (ISO 15118)</li>
                            <li>Anonymized ID from a 3rd party</li>
                            <li>Phone App</li>
                        </p>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-offset-1 col-md-10">
                    <hr class="ec-hr-extra" />
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-md-offset-1">
                     <h2 class="thin">API and Platform Integration</h2>
                    <p>EverCharge supports platform integration through a robust set of APIs enabling organizations to customize your experience and maintain control with existing platforms. </p> 
                </div>                
            </div>
            <div class="clearfix"></div>
            <div class="col-md-offset-1 col-md-10">
                <hr class="ec-hr-extra" />
            </div>
            {% include 'blocks/3b_case_study.html' %}

        </div>
    </div>
    <div class="ec-campaign-letscharge-wrap ec-zero">
        <div class="extra-stretch section-handle bg-electrician">
            <div class="container">
                {% include 'blocks/2e_install_services.html' %}
            </div>
        </div>
    </div>
{% endblock %}
