{% extends 'layout/base.html' %}
{% from 'layout/macro.html' import electrician_contact_form %}

{% block content_one %}
    <div class="page-content">
        <div class="container">
            <div class="green-box inner-top-green">
              <div class="green-content">
                <h2>Maximize Your Business</h2>
                <p>Maximize new business to you, through fully-scalable SmartPower technology.</p>
              </div>
            </div>
            <div class="space-bar">
            </div>
            <div class="content-area">
              <div class="content-wrapper">
                <h2>Bringing new business to you, through fully-scalable SmartPower technology</h2>
                <h3 class="max-subtitle">Our Service</h3>
                <p>EverCharge is the right solution for multi-tenant buildings. We offer the only fully managed, scalable solution for EV charging and made things easy by providing on-going maintenance, support and billing services for every customer.</p>
              </div>
            </div>

            <section class="get-a-quote connect">
              <div class="get-custom-quote-wrapper">
                <h2>Connect With EverCharge Today</h2>
                {{ electrician_contact_form() }}
              </div>
            </section>

            <div class="make-listings">
              <h2>What makes EverCharge different?</h2>
              <div class="flr">
                <div class="flx flx-2">
                  <div class="service-listings-col">
                    <div class="check"><i class="fa fa-check-circle" aria-hidden="true"></i></div>
                    <h3>Tesla Preferred</h3>
                    <p>Tesla Motors preferred EV charging solution</p>
                  </div>
                </div>
                <div class="flx flx-2">
                  <div class="service-listings-col">
                    <div class="check"><i class="fa fa-check-circle" aria-hidden="true"></i></div>
                    <h3>Smartpower</h3>
                    <p>Intelligent technology allows for less infrastructure and more customers</p>
                  </div>
                </div>
                <div class="flx flx-2">
                  <div class="service-listings-col">
                    <div class="check"><i class="fa fa-check-circle" aria-hidden="true"></i></div>
                    <h3>Monitoring</h3>
                    <p>No need for meters or submeters</p>
                  </div>
                </div>
                <div class="flx flx-2">
                  <div class="service-listings-col">
                    <div class="check"><i class="fa fa-check-circle" aria-hidden="true"></i></div>
                    <h3>Exclusive</h3>
                    <p>Owners charge in their own parking space</p>
                  </div>
                </div>
                <div class="flx flx-2">
                  <div class="service-listings-col">
                    <div class="check"><i class="fa fa-check-circle" aria-hidden="true"></i></div>
                    <h3>Scalability</h3>
                    <p>Add vehicle capacity as demand grows</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="half-and-half paddin-half-left paddin-half-right">
              <div class="half-and-half-text">
                <div class="half-right-wrapper">
                  <h2>How we work with you</h2>
                  
                  <ul>
                    <li><p><strong>Properties are introduced to EverCharge</strong> </p></li>
                    <li><p><strong>EverCharge's preferred electrician (you) conducts on-site evaluation</strong> </p></li>
                    <li><p><strong>You create customer installation quote</strong> </p></li>
                    <li><p><strong>EverCharge works with HOA and customer to get approval</strong> </p></li>
                    <li><p><strong>Installation is completed by you</strong> </p></li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="list-item color-palette">
              <h2>Next Steps</h2>
              <div class="row">
                <div class="col-sm-6">
                  <div class="white-box step-item">
                    
                    <div class="">
                      <img src="{{ url_for('static', filename='images/icon-4.jpg') }}" class="img-responsive extra-bottom-sm" alt="Call EverCharge" />
                    </div>
                    
                    <h4>Contact Us Today</h4>
                    <p>Let us know that you’re interested. Then we’ll respond with detailed information on how our solutions work.</p>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="white-box step-item">
                    <div class="">
                      <img src="{{ url_for('static', filename='images/icon-5.jpg') }}" class="img-responsive extra-bottom-sm" alt="Call EverCharge" />
                    </div>
                    <h4>Get Added to our Preferred Database</h4>
                    <p>We’ll make sure to add you to our database of preferred electricians. When we get leads in your area we’ll notify you.</p>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="white-box step-item">
                    <div class="">
                      <img src="{{ url_for('static', filename='images/icon-6.jpg') }}" class="img-responsive extra-bottom-sm" alt="Call EverCharge" />
                    </div>

                    <h4>Get Referrals</h4>
                    <p>Once you’re a part of our preferred electricians database we’ll start bringing business to you in your area</p>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="white-box step-item">
                    <div class="">
                      <img src="{{ url_for('static', filename='images/icon-7.jpg') }}" class="img-responsive extra-bottom-sm" alt="Call EverCharge" />
                    </div>

                    <h4>Continued Success</h4>
                    <p>We want to be part of a team with all of our electricians. That’s why we offer extensive insight and training, as well as full-time dedicated support. Our goal is to bring you as many new customers as possible because when you win, we do too.</p>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block quote_form %}
<section class="get-a-quote">
  <form action="{{ url_for('electrician_thank_you') }}" method='post' class="validate-form">
    <input name="lead_source" value="Web Signup" type="hidden">
    <input name="adwordsField" id='adwordsField' type="hidden">
    <input name="granularField" id="granularField" type="hidden">

    <div class="get-a-quote-wrapper elec-form">
      <h2>Connect With EverCharge Today</h2>
      <div class="quote-form">
        <div class="row">
          <div class="col-sm-4">
            <div class="quote-form-col form-group">
              <input name="quote_name" class="form-control required" id="label1" type="text" placeholder="Name*" autocomplete="off">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="quote-form-col form-group">
              <input name="quote_company_name" class="form-control required" id="company_name_input" type="text" placeholder="Full Company Name*" autocomplete="off">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="quote-form-col form-group">
              <input name="quote_area" class="form-control required" id="area_input" type="text" placeholder="Company Address*" autocomplete="off">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="quote-form-col form-group">
              <input name="quote_email" type="email" class="form-control required-email" id="label2" placeholder="Email*" autocomplete="off">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="quote-form-col form-group">
              <input name="quote_phone" type="tel" class="form-control bfh-phone" placeholder="Phone" data-format="ddd-ddd-dddd" autocomplete="off">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="quote-form-col">
              <input type="submit" value="Get Your Quote" class="g-recaptcha ec-button-teal-border block">
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>
{% endblock %}
