{% extends 'layout/base.html' %}
{% from 'layout/macro.html' import electrician_contact_form %}

{% block banner_class %}
    class="parallax img-electrician" data-speed="4" data-type="background"
{% endblock %}

{% block banner_text %}
    <h2 class="ec-zero ec-teal">Maximize Your Business</h2>
{% endblock %}

{% block content_one %}
    <div class="ec-stretch-grey ec-mini-form">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="text-center">Connect with EverCharge Today</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-1 col-md-10">
                    <div class="row">
                        {{ electrician_contact_form() }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ec-stretch-white">
        <div class="container">
            <div class="row extra-bottom-lg">
                <div class="col-md-offset-1 col-md-10">
                    <h2 class="thin">Bringing new business to you, through fully-scalable SmartPower technology</h2>
                    <h4>Our Service</h4>
                    <p class="extra-bottom-lg">EverCharge is the right solution for multi-tenant buildings. We offer the only fully managed, scalable solution for EV charging and made things easy by providing insurance, maintenance, support and billing services for every customer.</p>
                    <h2>What makes EverCharge different?</h2>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-offset-1 col-md-5">
                    <div class="ec-left-bar">
                        <h4>TESLA PREFERRED</h4>
                        <p>Tesla Motors preferred EV charging solution</p>
                    </div>
                    <div class="ec-left-bar">
                        <h4>SMARTPOWER</h4>
                        <p>Intelligent technology allows for less infrastructure and more customers</p>
                    </div>
                    <div class="ec-left-bar">
                        <h4>MONITORING</h4>
                        <p>No need for meters or submeters</p>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="ec-left-bar">
                        <h4>Exclusive</h4>
                        <p>Owners charge in their own parking space</p>
                    </div>
                    <div class="ec-left-bar">
                        <h4>Scalability</h4>
                        <p>Add vehicle capacity as demand grows</p>
                    </div>
                </div>
            </div>
            <div class="row extra-bottom-lg">
                <div class="col-md-offset-1 col-md-10">
                    <h2>How we work with you</h2>
                    <ol class="num-list">
                        <li class="num">Properties are introduced to EverCharge</li>
                        <li class="num">EverCharge's preferred electrician (you) conducts on-site evaluation</li>
                        <li class="num">You create customer installation quote</li>
                        <li class="num">EverCharge works with HOA and customer to get approval</li>
                        <li class="num">Installation is completed by you</li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-1 col-md-10">
                    <h2>Next Steps</h2>
                    <div class="row">
                        <div class="col-xs-3 col-sm-1">
                            <img src="{{ url_for('static', filename='images/icon-4.jpg') }}" class="img-responsive extra-bottom-sm" alt="Call EverCharge" />
                        </div>
                        <div class="col-xs-12 col-sm-9 col-lg-9">
                            <h4>Contact Us Today</h4>
                            <p>Let us know that you’re interested. Then we’ll respond with detailed information on how our solutions work.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3 col-sm-1">
                            <img src="{{ url_for('static', filename='images/icon-5.jpg') }}" class="img-responsive extra-bottom-sm" alt="Call EverCharge" />
                        </div>
                        <div class="col-xs-12 col-sm-9 col-lg-9">
                            <h4>Get Added to our Preferred Database</h4>
                            <p>We’ll make sure to add you to our database of preferred electricians. When we get leads in your area we’ll notify you.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3 col-sm-1">
                            <img src="{{ url_for('static', filename='images/icon-6.jpg') }}" class="img-responsive extra-bottom-sm" alt="Call EverCharge" />
                        </div>
                        <div class="col-xs-12 col-sm-9 col-lg-9">
                            <h4>Get Referrals</h4>
                            <p>Once you’re a part of our preferred electricians database we’ll start bringing business to you in your area</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3 col-sm-1">
                            <img src="{{ url_for('static', filename='images/icon-7.jpg') }}" class="img-responsive extra-bottom-sm" alt="Call EverCharge" />
                        </div>
                        <div class="col-xs-12 col-sm-9 col-lg-9">
                            <h4>Continued Success</h4>
                            <p>We want to be part of a team with all of our electricians. That’s why we offer extensive insight and training, as well as full-time dedicated support. Our goal is to bring you as many new customers as possible because when you win, we do too.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ec-stretch-lt-teal ec-mini-form">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="text-center">Connect with EverCharge Today</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-1 col-md-10">
                    <div class="row">
                        {{ electrician_contact_form() }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block quote_form %}
{% endblock %}
