{% extends 'base.html' %}


	{% block background %}
	<img src="images/image11.jpg" alt="image description" width="1200" height="526">
	{% endblock %}

	{% block maincontent %}
		<div class="col-md-14 col-md-offset-1 article-quote">
			<img src="images/evercharge-logo.png" alt="image description" class="img-circle" width="99" style='visibility:hidden;'>
			<h1>FAQs</h1>
			<br>
			<!-- <h2>Frequenty Asked Questions</h2> -->
			<a href="#quote" class="btn">Get a quote</a>
		</div>
	{% endblock %}
	{% block video %}
	{% endblock %}

{% block content_one %}
<div style="height:50px"></div>
<article>
<div class="row features">
	<article class="col-md-2 col-xs-5"></article>
	<article class="col-md-4 col-xs-5">
		<img src="images/distributed.png" alt="compatibility image" width="125">
		<h2><a href='#basics'>BASICS</a></h2>
			<a href='#benefits'>Benefits of EverCharge</a><br>
			<a href='#compatible'>Compatible EVs</a><br>
			<a href='#how_it_works'>How it works</a><br>
	</article>
	<article class="col-md-4 col-xs-5">
		<img src="images/ev_icon.png" alt="compatibility image" width="101">
		<h2>INSTALLATION</h2>
		<a href='#install_location'>Installation location</a><br>
		<a href='#install_savings'>Saving money on installation</a><br>
		<a href='#installers'>Who installs EverCharge</a><br>
	</article>
	<article class="col-md-4 col-xs-5">
		<img src="images/billing.png" alt="automatic billing image" width="92">
		<h2><a href='#billing'>BILLING</a></h2>
		<a href='#cost'>Cost of service</a><br>
		<a href='#autopay'>Autopay</a><br>
		<a href='#bill_questions'>Questions about your bill</a><br>
	</article>
	<article class="col-md-2 col-xs-5"></article>

	<article class='col-md-16 col-xs-5'>
		<hr>
		<h2><a href='#quote'>MORE QUESTIONS</a></h2>
		Call us at <a href='tel:888-342-7383'>1(888) 342-7383</a>
	</article>
</div>

</article>





<article class='greyjumbo jumbotron' id='basics'>
	<h2>Basics</h2>
	<br>
	<br>
	<hr>
	<div class="row features">
		<div class="col-md-4 col-xs-5 hideme">
			<img src="images/evercharge-logo.png" alt="california" width="120" class='img-circle desaturate'>
		</div>
		<article class="col-md-12 col-xs-5">

			<h4 id="benefits">Benefits of EverCharge</h4>
			EverCharge is a unique EV charging service that makes charging in condos and apartments easy. Without it, HOAs, property managers, and residents have to navigate the complexities of EV charging regulations, power balancing, and limited voltage by themselves. EverCharge handles all of this, providing:
			<ul>
				<li>
					<strong>Fully managed service</strong>: insurance, support, maintenance and automated billing services are all included -- we take care of everything.
				</li>
				<li>
					<strong>Power Management</strong>: EverCharge intelligently manages buildings power to maximize your infrastructure potential up to 10x. Read more about <a href='/aboutus#power_management'>power management</a>.
				</li>
			</ul>
			<hr>

		</article>

		<div class="col-md-4 col-xs-5 hideme">
			<img src="images/ev_icon.png" alt="california" width="120">
		</div>
		<article class="col-md-12 col-xs-5">

			<h4 id="compatible">Compatible Electric Vehicles</h4>
			All Electric Vehicles sold in North America are compatible with the EverCharge charging system. This includes, but is not limited to.
			<ul>
				<li>BMW i3</li>
				<li>Chevrolet Volt</li>
				<li>Fiat 500e</li>
				<li>Ford Focus Electric</li>
				<li>Honda Fit EV</li>
				<li>Kia Soul EV</li>
				<li>Nissan Leaf</li>
				<li>Tesla (all models)</li>
				<li>Volswagen e-Golf</li>
			</ul>
			<hr>
		</article>
					
				<div class="col-md-4 col-xs-5 hideme">
					<img src="images/full_battery.png" alt="full_battery" width="50">
				</div>
				<article class="col-md-12 col-xs-5">
					
					<h4 id='how_it_works'>How does EverCharge work?</h4>
						
							Our system connects to readily available common area power in the building. This enables us to get commercial electricity rates and to easily scale throughout the garage for additional users.
						<br>
						<br>

						
							Each unit meters the electricity consumed. We then bill each resident for the energy they personally used, and fully reimburse the HOA for all energy used by EverCharge units on the property.
						<br>
						<br>
						
							All members receive <strong>ID Cards</strong> that your charging unit recognizes - just tap your card and charge away. Our <a href='/aboutus#power_management'>propietary power management technology</a> balances power automatically, so residents never need to worry about charging.
						<br>
					
				</article>
</div>
</article>


<article class='greyjumbo jumbotron' id='installation'>
	<h2>Installation</h2>
	<br>
	<br>
	<hr>
	<div class="row features">
		<div class="col-md-4 col-xs-5 hideme">
			<img src="images/electrician_van.png" alt="van" width="120">
		</div>
		<article class="col-md-12 col-xs-5">

			<h4 id="install_location">Installation Location</h4>
			All EverCharge chargers are installed directly in the owner's personal parking space for their exclusive use. A building that has multiple EverCharge customers will all use the same power source, but are still able to charge directly from their own space.
				<br>
				<br>
			Access is granted to each charger by a personal ID card, exclusive to each customer.
				<br>
				<br>
			We have several customers who live in buildings with valet or unassigned parking, and in these cases we work directly with the building to ensure that every resident still has 24/7, exclusive access to a charger.
			<hr>

		</article>

		<div class="col-md-4 col-xs-5 hideme">
			<img src="images/money_bag.png" alt="money" width="100">
		</div>
		<article class="col-md-12 col-xs-5">

			<h4 id="install_savings">Saving money on installation</h4>
			When we install chargers, it often require significant infrastructure updates, and the costs of these are unavoidable. However, if you are an EV owner and property manager, you can significantly decrease your per-unit cost by installing multiple chargers at the same time.
			<br>
			<br>
			If you're interested in getting a quote for your building, <a href='#quote'>contact us</a> today.
			<hr>
		</article>
					
				<div class="col-md-4 col-xs-5 hideme">
					<img src="images/electrician.png" alt="full_battery" width="75">
				</div>
				<article class="col-md-12 col-xs-5">
				
					<h4 id='installers'>Who installs EverCharge?</h4>
						An insured and licensed electrician. We only use the most reliable and competitively priced electrical contractors.
					
				</article>
</div>
</article>

<article class='greyjumbo jumbotron' id='billing'>
	<h2>Billing</h2>
	<br>
	<br>
	<hr>
	<div class="row features">
	
		<article class="col-md-16 col-xs-5">

			<h4 id="cost">Cost of Service</h4>
			EverCharge bills you only for the energy you have used, based on the rate of your power provider. We also charge a small monthly fee of $15 which covers 24/7 lifetime support and $1,000,000 in liability insurance.
			<hr>

		</article>

	
		<article class="col-md-16 col-xs-5">

			<h4 id="autopay">Autopay</h4>
			All customers have the option to set up autopay -- when you get your first bill you will see instructions to do so. If you have questions about setting this up, please reach out to us at <a href='tel:888-342-7383'>1(888) 342-7383.</a>.


				<br>
			<hr>
		</article>
					
			
				<article class="col-md-16 col-xs-5">
					
					<h4 id='bill_questions'>Questions about your bill</h4>
						If you ever have any questions about your bill, please contact us at<a href='tel:888-342-7383'> 1(888) 342-7383</a>.
					
				</article>
</div>
</article>




<div style="height:50px"></div>
<div style="height:50px"></div>


{% endblock %}

{% block content_two %}
<!-- <div style="height:50px"></div>
<div class="bs-example">
	<div class="panel-group" id="accordion">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
						What are the benefits of EverCharge?
					
				</h4>
			</div>
			<div id="collapseOne">
				<div class="panel-body">
					<p><ul>

						<li><strong>Fully managed service</strong>: insurance, support, maintenance and automated billing services are all included -- we take care of everything.</li>
						<li><strong>Power Management</strong>: EverCharge intelligently manages buildings power to maximize your infrastructure potential up to 10x.</li>
					</ul>

				</p>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">

						What type of electric vehicles can charge with EverCharge?</a>
				</h4>
			</div>
			<div id="collapseTwo" class="panel-collapse collapse in">
				<div class="panel-body">
					<p>All EVs and Plug-in-hybrids sold in North America. This includes vehicles like the Tesla Model S, Nissan Leaf, Chevrolet Volt and Prius Plug-in.</p>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Where is the charger installed?</a>
				</h4>
			</div>

			<div id="collapseThree" class="panel-collapse collapse in">
				<div class="panel-body">
					<p>Directly in your parking space for exclusive use. Access is granted by personal ID key card.</p>
				</div>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Who will install the system?</a>
				</h4>
			</div>
			<div id="collapseFour" class="panel-collapse collapse in">
				<div class="panel-body">
					<p>An insured and licensed electrician. We only use the most reliable and competitively priced electrical contractors.</p>
				</div>
			</div>
		</div>

        <div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">Do the units have wireless communication?</a>
			</h4>
		</div>
		<div id="collapseFive" class="panel-collapse collapse in">
			<div class="panel-body">
				<p>Our network boxes communicate wirelessly in the garage - no strings attached. This enables the Power Management System to direct power and transmit local data for billing and analytics. </p>
			</div>
		</div>
	</div>
 --><!-- 
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">Are there any tax credits or rebates available for installation?</a>
				</h4>
			</div>
			<div id="collapseSix" class="panel-collapse collapse in">
				<div class="panel-body">
					<p><ul>
						<li>ADD: Tesla’s online incentive page</li>
						<li>ADD: Federal and State Incentives: </li>
						<li>ADD: Take a look at your state’s incentives. </li>
						<li>ADD: Illinois Rebate: open to anyone installing our charging station in Illinois 50% rebate for charging station, electrical infrastructure, and installation up to $3,750 reimbursement learn more here</li>
						<li>ADD: Austin Energy Rebate:must be customer of Austin Energy. 50% rebate for charging station, electrical infrastructure, and installation up to $1,500 reimbursement. learn more here</li>
				</div>
			</div>
		</div>

		<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">How can I save money on installation?</a>
			</h4>
		</div>
		<div id="collapseSix" class="panel-collapse collapse in">
			<div class="panel-body">
				<p>If more than one residents install their EverCharge chargers at the same time, the installation costs can be signicantly reduced because infrastructure can be shared. The more, the merrier!</p>
			</div>
		</div>
	</div>

		<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">Can I set up auto pay?</a>
			</h4>
		</div>
		<div id="collapseSeven" class="panel-collapse collapse in">
			<div class="panel-body">
				<p>Yes. On your monthly statement you'll see an option to set up auto pay.  </p>
			</div>
		</div>
	</div>

		<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapseEight">Does EverCharge cover service outside of the United?</a>
			</h4>
		</div>
		<div id="collapseEight" class="panel-collapse collapse in">
			<div class="panel-body">
				<p>
					Not yet, but we are actively investigating to expand to the global market.
				</p>
			</div>
		</div>
	</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#collapseNine">How does it work?</a>
				</h4>
			</div>
			<div id="collapseNine" class="panel-collapse toggle">
				<div class="panel-body">
					<p>For an in-depty explanation about how EverCharge's patented Power Management Technology works, <a href="/aboutus" style="color:#3D9F2B">check out our About Us</a> page.</p>
				</div>
			</div>
		</div>
	</div>
</div>
<br><br> -->

{% endblock %}






