{% extends 'base.html' %}


	{% block background %}
	<img src="images/image11.jpg" alt="image description" width="1200" height="526">
	{% endblock %}

	{% block maincontent %}
		<div class="col-md-14 col-md-offset-1 article-quote">
			<img src="images/image02.png" alt="image description" class="img-circle" width="126" height="125">
			<h1>FAQs</h1>
			<h2>Frequenty Asked Questions</h2>
			<a href="#quote" class="btn">Get a quote</a>
		</div>
	{% endblock %}

{% block content_one %}



<div class="bs-example">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                	<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                    	What are the benefits of EverCharge?</a>
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                    <p><ul>
                    	<li>Exclusive use: the charging unit is installed right in your parking spot.</li>
                    	<li>Fully managed service: insurance, support, maintenance and automated billing services...we take care of everything.</li>
                    	<li>Power Management: EverCharge intelligently manages buildings power to maximize your infrastructure potential up to 10x.</li>
                    </ul>

				</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">

	                    What type of electric vehicles can charge with EverCharge?</a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>All EVs and Plug-in-hybrids sold in North America. This includes vehicles like the Tesla Model S, Nissan Leaf,  Chevrolet Volt and Prius Plug-in.</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Where is the charger installed?</a>
                </h4>
            </div>

            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>Directly in your parking space for exclusive use. Access is granted by personal RFID key card.</p>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Who will install the system?</a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>An insured and licensed electrician. We only use the most reliable and competitively priced electrical contractors.</p>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">Do the units have wireless communication?</a>
            </h4>
        </div>
        <div id="collapseFive" class="panel-collapse collapse">
            <div class="panel-body">
                <p>Our network boxes communicate wirelessly in the garage - no strings attached. This enables the Power Management System to direct power and transmit local data for billing and analytics. </p>
            </div>
        </div>
    </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">Are there any tax credits or rebates available for installation?</a>
                </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse">
                <div class="panel-body">
                    <p><ul>
                    	<li>ADD: Tesla’s online incentive page</li>
                    	<li>ADD: Federal and State Incentives: </li>
                    	<li>ADD: Take a look at your state’s incentives. </li>
                    	<li>ADD: Illinois Rebate: open to anyone installing our charging station in Illinois 50% rebate for charging station, electrical infrastructure, and installation up to $3,750 reimbursement learn more here</li>
                </div>
            </div>
        </div>

        </div>
        </div>
        </div>
    </div>
</div>



{% endblock %}