{% extends 'base.html' %}


{% block background %}
	<img src="images/image11.jpg" alt="image description" width="1200" height="526">
{% endblock %}

{% block maincontent %}
	<section class="col-md-12 col-md-offset-2">
		<div class="row threecolumn">
		<article class="col-md-16 col-sm-16 col-xs-16">
			<div id='large_green_circle'>
				<h1 class='new_header'>FAQ</h1>
				<h2 class='tagline'>
					More Questions?
					<br>
					<a href='tel:8883427383'>888.342.7383</a>
				</h2>
			</div>
			
		</article>
	</div>
{% endblock %}
{% block video %}
{% endblock %}

{% block content_one %}

<article class='jumbotron whitejumbo white_space'>
	<a href='#quote'>
		<button class='flat_button'>Get a Quote Now</button>
	</a>
</article>


<section class="parallax narrow" data-speed="4" data-type="background" id='parallax_process'>
	<div class="container">
		<div class="row-fluid">
			<h1 class='parallax_header'>You've got Questions</h1>
	</div>
</section>
<div style="height:50px"></div>
<article>
<div class="row features">
	<article class="col-md-2 hidden-xs"></article>
	<article class="col-md-4 col-xs-5">
		<h2><a href='#ev_basics'>Charging Basics</a></h2>
		<hr class='short'><br>
			<a href='#power_required'>Power Required</a><br>
			<a href='#plugs'>Adaptor Types</a><br>
			<a href='#charge_three'>Third Q</a><br>
	</article>
	<article class="col-md-4 col-xs-5">
		<h2><a href='#lorem_ipsum'>Lorem Ipsum</a></h2>
		<hr class='short'><br>
			<a href='#lorem_one'>First Q</a><br>
			<a href='#lorem_two'>Second Q</a><br>
			<a href='#lorem_three'>Third Q</a><br>
	</article>
	<article class="col-md-4 col-xs-5">
		<h2><a href='#ipsum_lorem'>Ipsum Lorem</a></h2>
		<hr class='short'><br>
			<a href='#ipsum_one'>First Q</a><br>
			<a href='#ipsum_two'>Second Q</a><br>
			<a href='#ipsum_three'>Third Q</a><br>
	</article>
	<article class="col-md-2 hidden-xs"></article>
	<article class="col-md-2 hidden-xs"></article>
	<article class="col-md-4 col-xs-5">
		<h2><a href='#basics'>Evercharge Basics</a></h2>
		<hr class='short'><br>
			<a href='#benefits'>Benefits of Evercharge</a><br>
			<a href='#compatible'>Compatible EVs</a><br>
			<a href='#how_it_works'>How it works</a><br>
	</article>
	<article class="col-md-4 col-xs-5">
		<h2>Installation</h2>
		<hr class='short'><br>
			<a href='#install_location'>Installation location</a><br>
			<a href='#install_savings'>Saving money on installation</a><br>
			<a href='#installers'>Who installs Evercharge</a><br>
	</article>
	<article class="col-md-4 col-xs-5">
		<h2><a href='#billing'>Billing</a></h2>
			<hr class='short'><br>
			<a href='#cost'>Cost of service</a><br>
			<a href='#autopay'>Autopay</a><br>
			<a href='#bill_questions'>Questions about your bill</a><br>
	</article>
	<article class="col-md-2 hidden-xs"></article>


</div>

</article>

<section class="parallax narrow" data-speed="4" data-type="background" id='parallax_process'>
	<div class="container">
		<div class="row-fluid">
			<h1 class='parallax_header'>We've got answers</h1>
		</div>
	</div>
</section>


<article class='whitejumbo jumbotron'>
	<h1 id='ev_basics'>Charging Basics</h1>
	<hr class='short'>
	<br>
	<br>
	<div class='row features'>
		<article class='col-md-4 hidden-xs'>
		</article>

		<article class='col-md-8 col-xs-5'>
			<h2 id='power_required'>Required Power for EVs</h2>
			Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah 
			<hr>
		</article>

		<article class='col-md-4 hidden-xs'>
		</article>

		<article class='col-md-4 hidden-xs'>
		</article>

		<article class='col-md-8 col-xs-5'>
			<h2 id='plugs'>Types of EV Adaptors</h2>
			Blah blah blah
			<hr>
		</article>

		<article class='col-md-4 hidden-xs'>
		</article>

		<article class='col-md-4 hidden-xs'>
		</article>

		<article class='col-md-8 col-xs-5'>
			<h2 id='charge_three'>Question number 3</h2>
			Blah blah blah
			<hr>
		</article>

		<article class='col-md-4 hidden-xs'>
		</article>
	</div>
</article>

<article class='greyjumbo jumbotron'>
	<h1 id='lorem'>Lorem Ispum</h1>
	<hr class='short'>
	<br>
	<br>
	<div class='row features'>
		<article class='col-md-4 hidden-xs'>
		</article>

		<article class='col-md-8 col-xs-5'>
			<h2 id='lorem_one'>First Question</h2>
			Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah 
			<hr>
		</article>

		<article class='col-md-4 hidden-xs'>
		</article>

		<article class='col-md-4 hidden-xs'>
		</article>

		<article class='col-md-8 col-xs-5'>
			<h2 id='lorem_two'>Question Two</h2>
			Blah blah blah
			<hr>
		</article>

		<article class='col-md-4 hidden-xs'>
		</article>

		<article class='col-md-4 hidden-xs'>
		</article>

		<article class='col-md-8 col-xs-5'>
			<h2 id='lorem_three'>Question 3</h2>
			Blah blah blah
			<hr>
		</article>

		<article class='col-md-4 hidden-xs'>
		</article>
	</div>
</article>

<article class='whitejumbo jumbotron'>
	<h1 id='ipsum'>Ipsum Lorem</h1>
	<hr class='short'>
	<br>
	<br>
	<div class='row features'>
		<article class='col-md-4 hidden-xs'>
		</article>

		<article class='col-md-8 col-xs-5'>
			<h2 id='ipsum_one'>Question One</h2>
			Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah 
			<hr>
		</article>

		<article class='col-md-4 hidden-xs'>
		</article>

		<article class='col-md-4 hidden-xs'>
		</article>

		<article class='col-md-8 col-xs-5'>
			<h2 id='ipsum_two'>Question Two</h2>
			Blah blah blah
			<hr>
		</article>

		<article class='col-md-4 hidden-xs'>
		</article>

		<article class='col-md-4 hidden-xs'>
		</article>

		<article class='col-md-8 col-xs-5'>
			<h2 id='ipsum_three'>Question Three</h2>
			Blah blah blah
			<hr>
		</article>

		<article class='col-md-4 hidden-xs'>
		</article>
	</div>
</article>

<article class='greyjumbo jumbotron'>
	<h1 id='basics'>Evercharge Basics</h1>
	<hr class='short'>
	<br>
	<br>
	<div class='row features'>
		<article class='col-md-4 hidden-xs'>
		</article>

		<article class='col-md-8 col-xs-5'>
			<h2 id='benefits'>Benefits of Evercharge</h2>
			Evercharge is a unique EV charging service that makes charging in condos and apartments easy. Without it, HOAs, property managers, and residents have to navigate the complexities of EV charging regulations, power balancing, and limited voltage by themselves. Evercharge handles all of this, providing:
			<ul>
				<li>
					<strong>Fully managed service</strong>: insurance, support, maintenance and automated billing services are all included -- we take care of everything.
				</li>
				<li>
					<strong>Power Management</strong>: Evercharge intelligently manages buildings power to maximize your infrastructure potential up to 10x. Read more about <a href='/aboutus#power_management'>power management</a>.
				</li>
			</ul>

			<hr>
		</article>

		<article class='col-md-4 hidden-xs'>
		</article>

		<article class='col-md-4 hidden-xs'>
		</article>

		<article class='col-md-8 col-xs-5'>
			<h2 id='compatible'>Compatible EVs</h2>
			All Electric Vehicles sold in North America are compatible with the Evercharge charging system. This includes, but is not limited to:
			<ul>
				<li>BMW i3</li>
				<li>Chevrolet Volt</li>
				<li>Fiat 500e</li>
				<li>Ford Focus Electric</li>
				<li>Honda Fit EV</li>
				<li>Kia Soul EV</li>
				<li>Nissan Leaf</li>
				<li>Tesla (all models)</li>
				<li>Volswagen e-Golf</li>
			</ul>
			<hr>
		</article>

		<article class='col-md-4 hidden-xs'>
		</article>

		<article class='col-md-4 hidden-xs'>
		</article>

		<article class='col-md-8 col-xs-5'>
			<h2 id='how_it_works'>How Evercharge Works</h2>
			Our system connects to readily available common area power in the building. This enables us to get commercial electricity rates and to easily scale throughout the garage for additional users.
			<br>
			<br>
			
			Each unit meters the electricity consumed. We then bill each resident for the energy they personally used, and fully reimburse the HOA for all energy used by Evercharge units on the property.
			<br>
			<br>
		
			All members receive <strong>ID Cards</strong> that your charging unit recognizes - just tap your card and charge away. Our <a href='/aboutus#power_management'>propietary power management technology</a> balances power automatically, so residents never need to worry about charging.
			<br>
			<hr>
		</article>

		<article class='col-md-4 hidden-xs'>
		</article>
	</div>
</article>

<article class='whitejumbo jumbotron'>
	<h1 id='installation'>Installation</h1>
	<hr class='short'>
	<br>
	<br>
	<div class='row features'>
		<article class='col-md-4 hidden-xs'>
		</article>

		<article class='col-md-8 col-xs-5'>
			<h2 id='install_location'>Installation Location</h2>
			All Evercharge chargers are installed directly in the owner's personal parking space for their exclusive use. A building that has multiple Evercharge customers will all use the same power source, but are still able to charge directly from their own space.
				<br>
				<br>
			Access is granted to each charger by a personal ID card, exclusive to each customer.
				<br>
				<br>
			We have several customers who live in buildings with valet or unassigned parking, and in these cases we work directly with the building to ensure that every resident still has 24/7, exclusive access to a charger.
			<hr>
		</article>

		<article class='col-md-4 hidden-xs'>
		</article>

		<article class='col-md-4 hidden-xs'>
		</article>

		<article class='col-md-8 col-xs-5'>
			<h2 id='install_savings'>Lowering Installation Costs</h2>
			When we install chargers, it often require significant infrastructure updates, and the costs of these are unavoidable. However, if you are an EV owner and property manager, you can significantly decrease your per-unit cost by installing multiple chargers at the same time.
			<br>
			<br>
			If you're interested in getting a quote for your building, <a href='#quote'>contact us</a> today.
			<hr>
		</article>

		<article class='col-md-4 hidden-xs'>
		</article>

		<article class='col-md-4 hidden-xs'>
		</article>

		<article class='col-md-8 col-xs-5'>
			<h2 id='installers'>Who Installs Evercharge units?</h2>
			An insured and licensed electrician. We only use the most reliable and competitively priced electrical contractors.
			<hr>
		</article>

		<article class='col-md-4 hidden-xs'>
		</article>
	</div>
</article>

<article class='greyjumbo jumbotron'>
	<h1 id='billing'>Billing</h1>
	<hr class='short'>
	<br>
	<br>
	<div class='row features'>
		<article class='col-md-4 hidden-xs'>
		</article>

		<article class='col-md-8 col-xs-5'>
			<h2 id='cost'>Cost of Service</h2>
			Evercharge bills you only for the energy you have used, based on the rate of your power provider. We also charge a small monthly fee of $15 which covers 24/7 lifetime support and $1,000,000 in liability insurance.
			<hr>
		</article>

		<article class='col-md-4 hidden-xs'>
		</article>

		<article class='col-md-4 hidden-xs'>
		</article>

		<article class='col-md-8 col-xs-5'>
			<h2 id='autopay'>Automatic Billing</h2>
			All customers have the option to set up autopay -- when you get your first bill you will see instructions to do so. If you have questions about setting this up, please reach out to us at <a href='tel:888-342-7383'>1(888) 342-7383.</a>.
			<hr>
		</article>

		<article class='col-md-4 hidden-xs'>
		</article>

		<article class='col-md-4 hidden-xs'>
		</article>

		<article class='col-md-8 col-xs-5'>
			<h2 id='bill_questions'>Questions about your bill</h2>
			If you ever have any questions about your bill, please contact us at<a href='tel:888-342-7383'> 1(888) 342-7383</a>.
			<hr>
		</article>

		<article class='col-md-4 hidden-xs'>
		</article>
	</div>
</article>



<div style="height:50px"></div>
<div style="height:50px"></div>

<a href="#" class="back-to-top" style="display: inline;">
	<i class="fa fa-arrow-circle-o-up"></i>
</a>
{% endblock %}

{% block content_two %}
{% endblock %}






