{% extends 'layout/base.html' %}

{% block banner_class %}
    class="ec-banner ec-stretch-teal"
{% endblock %}

{% block banner_text %}
    <h2 class="ec-zero">Fleet Charging</h1>
{% endblock %}

{% block content_one %}
    <div class="ec-stretch-white">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-1 col-md-10 text-center">
                    <h2>EverCharge is the perfect solution for fleet charging at any location.</h2>
                    <p>EverCharge maximizes the existing building infrastructure to make adding EVs to your fleet easy and affordable. </p>
                    <hr class="ec-hr-extra" />
                </div>            
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-offset-1 col-md-5">
                    <img src="{{ url_for('static', filename='images/graph-fleets-1.jpg') }}" class="img-responsive" />
                </div>
                <div class="col-xs-12 col-sm-6 col-md-5">
                    <h4>Save Money</h4>
                    <p>Our fleet charging solution drastically reduces install costs by intelligently managing power, allowing more charger installs for far less money.</p>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-offset-1 col-md-10">
                    <hr class="ec-hr-extra" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-offset-1 col-md-5">
                    <img src="{{ url_for('static', filename='images/graph-fleets-2.jpg') }}" class="img-responsive" />
                </div>
                <div class="col-xs-12 col-sm-6 col-md-5">
                    <h4>Scale</h4>
                    <p>Using <a href="{{ url_for('smart_power') }}" class="ec-text-link">SmartPower technology</a>, EverCharge intelligently charges vehicles, optimizing existing building infrastructure to support 10x more stations at any location.</p>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-offset-1 col-md-10">
                    <hr class="ec-hr-extra" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-offset-1 col-md-5">
                    <img src="{{ url_for('static', filename='images/graph-fleets-3.jpg') }}" class="img-responsive" />
                </div>
                <div class="col-xs-12 col-sm-6 col-md-5">
                    <h4>Analytics</h4>
                    <p>EverCharge provides a tailored solution for each site, giving our clients unmatched data analytics to understand vehicle and user needs.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
