{% extends 'layout/base.html' %}

{%- block extra_css -%}
    <style type="text/css">
        table.tech-specs-datasheet th,
        table.tech-specs-datasheet td {
            border: 1px solid black;
            padding: 5px 10px;
        }
    </style>
{%- endblock -%}

{% block banner_class %}
    class="parallax img-why-ec" data-speed="4" data-type="background"
{% endblock %}

{% block banner_text %}
    <h1>EverCharge Hardware</h1>
    <h1 class="subhead">EverCharge combines unmatched technology, industry leading expertise, and unparalleled cost savings for large scale dedicated ev charging.</h1>
{% endblock %}

{% block content_one %}
    <div class="ec-stretch-white">
        <div class="container">
            {% with hide_view_product = True %}
                {% include 'blocks/1c_evse.html' %}
            {% endwith %}
            <div class="col-xs-12 text-center">
                <a href="{{ url_for('data_sheet') }}">
<!--                     <input type="button" value="Download Datasheet" class="ec-button-teal-border"> -->
                </a>
            </div>
    
            <div class="clearfix"></div>
            <div class="col-md-offset-1 col-md-10">
                    <hr class="ec-hr-extra" />
                </div>
            {% include 'blocks/1e_mesh_network.html' %}
            <div class="clearfix"></div>
            <div class="col-md-offset-1 col-md-10">
                <hr class="ec-hr-extra" />
            </div>
            {% include 'blocks/1b_smart_power.html' %}
        </div>
    </div>
{% endblock %}
