{% extends 'base.html' %}

{% block background %}
	<img src="images/image11.jpg" alt="image description" width="1200" height="526">
{% endblock %}



{% block maincontent %}
	<header id="thankyouHeader">
		<h1>Thank You</h1>
		<h2>For requesting a quote from Evercharge!</h2>
		<h4>You're one step closer to EV charging. We'll reach out to you shortly.
		<br>
		<br>
		Want to talk to someone now? Call (888) 342-7383.</h4>
	</header>


{% endblock %}
{% block video %} {% endblock %}

{% block content_one %}
<br>
<br>
{% endblock %}



{% block quote_form %}	
<br>
<br>

</div>

<div style="display:none;">
	<iframe id="submit_frame" name="submit_frame"></iframe>
</div>


<form action="/nutshell/submit" class="get-quote validate-form" id='existing_customer'
method='post' name="existing_customer" target="submit_frame">
	<input name='lead_id' type='hidden' value="{{ newLeadId }}"> <input name=
	'contact_id' type='hidden' value="{{ contactId }}"> <legend id=
	"thankyou">
	<span id="form_heading">Have time for a few more questions?</span></legend>

	<fieldset id="primary_form_content">
		<form id="blank" name="blank">
		</form>

		<form action="/nutshell/parkingspot" class="validate-form" id=
		'parking_spot_form' method='post' name="parking_spot_form" target=
		"submit_frame">
			<input name='lead_id' type='hidden' value="{{ newLeadId }}">

			<h3>Are your parking spots...</h3>


			<div class="row features" id="parking_listener">
				<article class="col-md-4 col-xs-6">
					<div class="thank-you-option">
						<div class="radio">
							<input class="radioblank" id="assignedparking"
							name="parking_type" type="radio" value=
							"Assigned/Deeded">
						</div>


						<p>Assigned / Deeded</p>
					</div>
				</article>


				<article class="col-md-4 col-xs-6">
					<div class="thank-you-option">
						<div class="radio">
							<input class="radioblank" name="parking_type" type=
							"radio" value="Unassigned">
						</div>


						<p>Unassigned</p>
					</div>
				</article>


				<article class="col-md-4 col-xs-6">
					<div class="thank-you-option">
						<div class="radio">
							<input class="radioblank" name="parking_type" type=
							"radio" value="Valet">
						</div>


						<p>Valet</p>
					</div>
				</article>


				<article class="col-md-4 col-xs-6">
					<div class="thank-you-option">
						<div class="radio">
							<input class="radioblank" name="parking_type" type=
							"radio" value="Other">
						</div>


						<p>Other</p>
					</div>
				</article>
			</div>
		</form>

		<hr>


		<form action="/nutshell/numberofspots" class=" validate-form" id=
		'number_spots_form' method='post' name="number_spots_form" target=
		"submit_frame">
			<input name='lead_id' type='hidden' value="{{ newLeadId }}">
			<input name='contact_id' type='hidden' value="{{ contactId }}">

			<h3>How many parking spots are in your building?</h3>


			<div class="row features" id="number_spots_listener">
				<article class="col-md-3 col-xs-6">
					<div class="thank-you-option">
						<div class="radio">
							<input class="radioblank" name="number_of_spots"
							type="radio" value="Under 25">
						</div>


						<p>Less than 25</p>
					</div>
				</article>


				<article class="col-md-3 col-xs-6">
					<div class="thank-you-option">
						<div class="radio">
							<input class="radioblank" name="number_of_spots"
							type="radio" value="26-50">
						</div>


						<p>26 - 50</p>
					</div>
				</article>


				<article class="col-md-3 col-xs-6">
					<div class="thank-you-option">
						<div class="radio">
							<input class="radioblank" name="number_of_spots"
							type="radio" value="51-100">
						</div>


						<p>51 - 100</p>
					</div>
				</article>


				<article class="col-md-3 col-xs-6">
					<div class="thank-you-option">
						<div class="radio">
							<input class="radioblank" name="number_of_spots"
							type="radio" value="101-200">
						</div>


						<p>101 - 200</p>
					</div>
				</article>


				<article class="col-md-3 col-xs-6">
					<div class="thank-you-option">
						<div class="radio">
							<input class="radioblank" name="number_of_spots"
							type="radio" value="Over 200">
						</div>


						<p>More than 200</p>
					</div>
				</article>
			</div>
		</form>


		<form action="/nutshell/reference" class=" validate-form" id='reference_form'
		method='post' name="reference_form" target="submit_frame">
			<input name='lead_id' type='hidden' value="{{ newLeadId }}">
			<input name='contact_id' type='hidden' value="{{ contactId }}">

			<hr>


			<h3>How did you hear about us?</h3>


			<div class="row features" id="tesla_listener">
				<article class="col-md-3 col-xs-6">
					<div class="thank-you-option">
						<div class="radio">
							<input class="radioblank" name="reference" type=
							"radio" value="Website">
						</div>


						<p>Online</p>
					</div>
				</article>




				<article class="col-md-3 col-xs-6">
					<div class="thank-you-option">
						<div class="radio">
							<input class="radioblank" name="reference" type=
							"radio" value="Friend">
						</div>


						<p>Friend</p>
					</div>
				</article>


				<article class="col-md-3 col-xs-6">
					<div class="thank-you-option">
						<div class="radio tesladiv">
							<input class="radioblank tesla" id=
							"teslaradio_control" name="reference" type="radio"
							value="Tesla">
						</div>


						<p>Tesla</p>
					</div>
				</article>


				<article class="col-md-3 col-xs-6">
					<div class="thank-you-option">
						<div class="radio">
							<input class="radioblank" name="reference" type=
							"radio" value="Other">
						</div>


						<p>Other</p>
					</div>
				</article>
			</div>
		</form>


		<form action="/nutshell/teslacontact" class=" validate-form" id=
		'tesla_contact_form' method='post' name="tesla_contact_form" target=
		"submit_frame">
			<input name='lead_id' type='hidden' value="{{ newLeadId }}">

			<div class="form-group" id="tesla_div">
				<p>Who from Tesla referred you?</p>
				<input class="form-control" id="tesla_contact" name=
				"tesla_contact" onchange="teslaContactSubmit()" placeholder=
				"Contact at Tesla" type="text">
			</div>
		</form>

		<div class="btn-wrapper">
			<input id="final_submit_button" type="submit" value="Submit">
		</div>
	</fieldset>
</form>
<br>
<br>
{% endblock %}
