{% extends 'layout/base.html' %}

{% block background %}
	<img src="images/three_char.jpg" alt="image description" width="1200" height="526">
{% endblock %}

{% block maincontent %}
	<div class="col-md-14 col-md-offset-1 article-quote">

			<div id='large_green_circle'>
				<h1 class='new_header'>Incentives</h1>
				<h2 class='tagline hidden_mobile'>
					Incentives are available to
					<br>almost everyone who purchases an EV</a>
				</h2>
			</div>
		<br>
	</div>
{% endblock %}

{% block video %}
{% endblock %}

{% block content_one %}


<article class='jumbotron whitejumbo'>
	<div class='row features'>
		<div class='col-md-4 col-xs-4'>
			State
		</div>
		<div class='col-md-12 col-xs-12'>
			Information about the incentive
		</div>
	</div>

	<div class='row features'>
		<div class='col-md-4 col-xs-4'>
			State
		</div>
		<div class='col-md-12 col-xs-12'>
			Information about the incentive
		</div>
	</div>

	<div class='row features'>
		<div class='col-md-4 col-xs-4'>
			State
		</div>
		<div class='col-md-12 col-xs-12'>
			Information about the incentive
		</div>
	</div>

	<div class='row features'>
		<div class='col-md-4 col-xs-4'>
			State
		</div>
		<div class='col-md-12 col-xs-12'>
			Information about the incentive
		</div>
	</div>

</article>

{% endblock %}

{% block quote_form %}
{% endblock %}

{% block custom_scripts %}
{% endblock %}
