{% extends 'layout/base.html' %}

{% block background %}
	<img src="images/three_char.jpg" alt="image description" width="1200" height="526">
{% endblock %}

{% block maincontent %}
	<div class="col-md-14 col-md-offset-1 article-quote">

			<div id='large_green_circle'>
				<h1 class='new_header'>Incentives</h1>
				<h2 class='tagline hidden_mobile'>
					Incentives are available to
					<br>almost everyone who purchases an EV</a>
				</h2>
			</div>
		<br>
	</div>
{% endblock %}

{% block video %}
{% endblock %}

{% block content_one %}

<article class='jumbotron whitejumbo'>
	<br>
		<div class='row features'>
			<div class='col-md-2 hidden-xs'></div>
			<div class='col-md-12'>
				<p class='large_text'>
				Electric vehicle infrastructure incentives are available to those who purchase a new EverCharge EV Charging Station. Several states offer additional incentives, often taking the form of a rebate. Rebates can be claimed immediately after purchase, while tax credits are claimed when filing income taxes.
			</p>
			</div>
			<div class='col-md-2 hidden-xs'></div>
		</div>
</article>

<article class='jumbotron greyjumbo narrowjumbo'>
	<div class='row features'>
		<div class='col-md-2 hidden-xs'></div>
		
		<article class='col-md-2 col-xs-4'>
			<a href='http://www.afdc.energy.gov/fuels/laws/ELEC/AL'>Alabama</a>
		</article>
		<article class='col-md-10 col-xs-12'>
			Commercial customers may receive $500 for qualified commercial electric vehicle supply equipment (EVSE). 
		</article>
	</div>

	<div class='row features'>
		<div class='col-md-2 hidden-xs'></div>
		
		<article class='col-md-2 col-xs-4'>
			<a href='http://www.azdor.gov/Forms/Credits.aspx'>Arizona</a>
		</article>
		<article class='col-md-10 col-xs-12'>
			Residential Tax Credit up $75 for individuals installing new EV charging station.
		</article>
	</div>
	
	
	<div class='row features'>
		<div class='col-md-2 hidden-xs'></div>

		<article class='col-md-2 col-xs-4'>
			<a href='http://www.afdc.energy.gov/fuels/laws/ELEC/AL'>California</a>

		</article>
		<article class='col-md-10 col-xs-12'>
			Up to $750/charger installed (does not cover install costs).
			<br>
			<em class='indented'>Anaheim area:</em> Up to $500 to residents who install qualifying chargers.
			<br>
			<em class='indented'><a href='http://www.baaqmd.gov/charge'>Bay Area</a>:</em> Up to $3,000/charger with a minimum of 4 chargers installed.
			<br>
			<em class='indented'><a href='https://www.burbankwaterandpower.com/electric-vehicles'>Burbank Area</a>:</em> $500 for install of new charging station.
			<br>
			<em class='indented'><a href='https://www.ladwp.com/ladwp/faces/ladwp/residential/r-gogreen/r-gg-driveelectric?_afrWindowId=null&_afrLoop=123488062459625&_afrWindowMode=0&_adf.ctrl-state=yux2ho8xf_4#%40%3F_afrWindowId%3Dnull%26_afrLoop%3D123488062459625%26_afrWindowMode%3D0%26_adf.ctrl-state%3Dv6ajqvjx3_17'>Los Angeles Area</a>:</em> Up to $750 for LADWP residential customers who purchase or lease a qualifying EV and install a qualifying charger.
			<br>
			<em class='indented'>Pasadena Area:</em> Up to $400 to PWP residential customers who purchase or lease a qualifying EV and install a qualifying charger.
			<br>
			<em class='indented'>San Joaquin Valley:</em> Up to $6,000/charger to commercial properties (up to $50,000 total).
		</article>
	</div>
	

	<div class='row features'>
		<div class='col-md-2 hidden-xs'></div>

		<article class='col-md-2 col-xs-4'>
			<a href='http://www.afdc.energy.gov/fuels/laws/ELEC/CO'>Colorado</a>
		</article>
		<article class='col-md-10 col-xs-12'>
			Grants up to 80% of the station costs up to $3,260.
		</article>
	</div>

	<div class='row features'>
		<div class='col-md-2 hidden-xs'></div>

		<article class='col-md-2 col-xs-4'>
			<a href='http://www.afdc.energy.gov/fuels/laws/ELEC/DE'>Delaware</a>
		</article>
		<article class='col-md-10 col-xs-12'>
			$500 dollars for every charger installed.
		</article>
	</div>

	<div class='row features'>
		<div class='col-md-2 hidden-xs'></div>

		<article class='col-md-2 col-xs-4'>
			<a href='http://www.afdc.energy.gov/fuels/laws/ELEC/GA'>Georgia</a>
		</article>
		<article class='col-md-10 col-xs-12'>
			Up to $250 rebate on EVSE for Georgia Power customers.
		</article>
	</div>

	<div class='row features'>
		<div class='col-md-2 hidden-xs'></div>

		<article class='col-md-2 col-xs-4'>
			<a href='http://www.afdc.energy.gov/fuels/laws/ELEC/IL'>Illinois</a>
		</article>
		<article class='col-md-10 col-xs-12'>
			50% of the cost of equipment and installation up to $3,750-7,500 depending on number of stations.
		</article>
	</div>

	<div class='row features'>
		<div class='col-md-2 hidden-xs'></div>

		<article class='col-md-2 col-xs-4'>
			<a href='http://www.afdc.energy.gov/fuels/laws/ELEC/IN'>Indiana</a>
		</article>
		<article class='col-md-10 col-xs-12'>
			Up to $1,650 to purchase and install residential EVSE, as well as free plug-in electric vehicle charging during off-peak hours.
		</article>
	</div>

	<div class='row features'>
		<div class='col-md-2 hidden-xs'></div>

		<article class='col-md-2 col-xs-4'>
			<a href='http://www.afdc.energy.gov/fuels/laws/ELEC/LA'>Louisiana</a>
		</article>
		<article class='col-md-10 col-xs-12'>
			$750 toward qualified PEV purchases (funds limited).
		</article>
	</div>

	<div class='row features'>
		<div class='col-md-2 hidden-xs'></div>

		<article class='col-md-2 col-xs-4'>
			<a href='http://www.afdc.energy.gov/fuels/laws/ELEC/MD'>Maryland</a>
		</article>
		<article class='col-md-10 col-xs-12'>
			Income tax credit equal to 20% of the cost of qualified charger, may not exceed $400.
			<br>
			<em class='indented'><a href='http://energy.maryland.gov/Transportation/evserebate.html'>EVSE Rebate Program</a>:</em> Up to $450 rebate for install of qualifying charger.

		</article>
	</div>

	<div class='row features'>
		<div class='col-md-2 hidden-xs'></div>

		<article class='col-md-2 col-xs-4'>
			<a href='http://www.afdc.energy.gov/fuels/laws/ELEC/MA'>Massachusetts</a>
		</article>
		<article class='col-md-10 col-xs-12'>
			Up to $13,500 for the purchase or lease of Level 2 EVSE.
		</article>
	</div>

	<div class='row features'>
		<div class='col-md-2 hidden-xs'></div>

		<article class='col-md-2 col-xs-4'>
			<a href='http://www.afdc.energy.gov/fuels/laws/ELEC/MI'>Michigan</a>
		</article>
		<article class='col-md-10 col-xs-12'>
			Up to $2,500 to residential customers. 
		</article>
	</div>

	<div class='row features'>
		<div class='col-md-2 hidden-xs'></div>
		<article class='col-md-2 col-xs-4'>
			<a href='http://www.dakotaelectric.com/residential/programs/rebates/misc-rebates'>Minnesota</a>
		</article>
		<article class='col-md-10 col-xs-12'>
			 $500 rebate for install of qualified charger.
		</article>
	</div>

	<div class='row features'>
		<div class='col-md-2 hidden-xs'></div>

		<article class='col-md-2 col-xs-4'>
			<a href='http://www.afdc.energy.gov/fuels/laws/ELEC/MO'>Missouri</a>
		</article>
		<article class='col-md-10 col-xs-12'>
			Tax credit of 20% of the costs associated with the purchase and installation of a charger up to $1,500 for individuals and $20,000 for businesses.
		</article>
	</div>

	<div class='row features'>
		<div class='col-md-2 hidden-xs'></div>

		<article class='col-md-2 col-xs-4'>
			<a href='http://www.afdc.energy.gov/fuels/laws/ELEC/NY'>New York</a>
		</article>
		<article class='col-md-10 col-xs-12'>
			Tax credit is available for 50% of the cost infrastructure, up to $5,000.
		</article>
	</div>

	<div class='row features'>
		<div class='col-md-2 hidden-xs'></div>

		<article class='col-md-2 col-xs-4'>
			<a href='http://www.afdc.energy.gov/fuels/laws/ELEC/OK'>Oklahoma</a>
		</article>
		<article class='col-md-10 col-xs-12'>
			75% of the cost of installing commercial alternative fueling infrastructure.
		</article>
	</div>



	<div class='row features'>
		<div class='col-md-2 hidden-xs'></div>

		<article class='col-md-2 col-xs-4'>
			<a href='http://www.afdc.energy.gov/fuels/laws/ELEC/OR'>Oregon</a>
		</article>
		<article class='col-md-10 col-xs-12'>
			<em>Residents</em>: Tax credit for 25% of infrastructure project costs, up to $750.
			<br>
			<em>Businesses</em>: 35% of eligible costs for infrastructure projects.
		</article>
	</div>

	<div class='row features'>
		<div class='col-md-2 hidden-xs'></div>

		<article class='col-md-2 col-xs-4'>
			<a href='http://www.afdc.energy.gov/fuels/laws/ELEC/TX'>Texas</a>
		</article>
		<article class='col-md-10 col-xs-12'>
			Residents of Austin, TX are eligible for a rebate of 50% of the cost.
		</article>
	</div>

	<div class='row features'>
		<div class='col-md-2 hidden-xs'></div>

		<article class='col-md-2 col-xs-4'>
			<a href='http://www.afdc.energy.gov/fuels/laws/ELEC/UT'>Utah</a>
		</article>
		<article class='col-md-10 col-xs-12'>
			Provides grants and loans to assist businesses and government entities.
		</article>
	</div>


	<div class='row features'>
		<div class='col-md-2 hidden-xs'></div>

		<article class='col-md-2 col-xs-4'>
			<a href='http://www.afdc.energy.gov/fuels/laws/ELEC/WA'>Washington</a>
		</article>
		<article class='col-md-10 col-xs-12'>
			Provides rate of return on EVSE installed for the benefit of ratepayers up to 2%, Puget Sound Energy (PSE) provides $500/charger rebate 
		</article>
	</div>

	<div class='row features'>
		<div class='col-md-2 hidden-xs'></div>

		<article class='col-md-2 col-xs-4'>
			<a href='http://www.afdc.energy.gov/fuels/laws/ELEC/DC'>Washington DC</a>
		</article>
		<article class='col-md-10 col-xs-12'>
			Grants tax credit for 50% of labour and equipment, up to $1,000
		</article>
	</div>

</article>


{% endblock %}

{% block quote_form %}
{% endblock %}

{% block custom_scripts %}
{% endblock %}
