{% extends 'layout/base.html' %}

{% block background %}
	<img src="images/three_char.jpg" alt="image description" width="1200" height="526">
{% endblock %}

{% block maincontent %}
	<div class="col-md-14 col-md-offset-1 article-quote">

			<div id='large_green_circle'>
				<h1 class='new_header'>Incentives</h1>
				<h2 class='tagline hidden_mobile'>
					Incentives are available to
					<br>almost everyone who purchases an EV</a>
				</h2>
			</div>
		<br>
	</div>
{% endblock %}

{% block video %}
{% endblock %}

{% block content_one %}

<article class='jumbotron whitejumbo'>
	<h2>WHATTUP WITH Incentives</h2>
	<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
</article>

<article class='jumbotron greyjumbo'>
	<div class='row features'>
		<article class='col-md-4 col-xs-4'>
			<a href='http://www.afdc.energy.gov/fuels/laws/ELEC/US'>All States</a>
		</article>
		<article class='col-md-8 col-xs-12'>
			Tax credit on an EV charge station is 30% up to $1000 for consumers and 30% up to $30,000 for businesses. 
		</article>
	</div>
	
	<div class='row features'>
		<article class='col-md-4 col-xs-4'>
			<a href='http://www.baaqmd.gov/charge'>California</a>
		</article>
		<article class='col-md-8 col-xs-12'>
			Up to $750/charger installed (does not cover install costs).
			<br>
			<em>Bay Area:</em> Up to $3,000/charger with a minimum of 4 chargers installed.
		</article>
	</div>
	

	<div class='row features'>
		<article class='col-md-4 col-xs-4'>
			<a href='http://www.afdc.energy.gov/fuels/laws/ELEC/CO'>Colorado</a>
		</article>
		<article class='col-md-8 col-xs-12'>
			Grants up to 80% of the station costs up to $3,260
		</article>
	</div>


	<div class='row features'>
		<article class='col-md-4 col-xs-4'>
			<a href='http://www.afdc.energy.gov/fuels/laws/ELEC/LA'>Louisiana</a>
		</article>
		<article class='col-md-8 col-xs-12'>
			$750 toward qualified PEV purchases (funds limited).
		</article>
	</div>

	<div class='row features'>
		<article class='col-md-4 col-xs-4'>
			<a href='http://www.afdc.energy.gov/fuels/laws/ELEC/MD'>Maryland</a>
		</article>
		<article class='col-md-8 col-xs-12'>
			Income tax credit equal to 20% of the cost of qualified charger, may not exceed $400
		</article>
	</div>

	<div class='row features'>
		<article class='col-md-4 col-xs-4'>
			<a href='http://www.afdc.energy.gov/fuels/laws/ELEC/MA'>Massachusetts</a>
		</article>
		<article class='col-md-8 col-xs-12'>
			Up to $13,500 for the purchase or lease of Level 2 EVSE 
		</article>
	</div>

	<div class='row features'>
		<article class='col-md-4 col-xs-4'>
			<a href='http://www.afdc.energy.gov/fuels/laws/ELEC/MI'>Michigan</a>
		</article>
		<article class='col-md-8 col-xs-12'>
			Up to $2,500 to residential customers 
		</article>
	</div>

	<div class='row features'>
		<article class='col-md-4 col-xs-4'>
			<a href='http://www.afdc.energy.gov/fuels/laws/ELEC/NY'>New York</a>
		</article>
		<article class='col-md-8 col-xs-12'>
			Tax credit is available for 50% of the cost infrastructure, up to $5,000 
		</article>
	</div>

	<div class='row features'>
		<article class='col-md-4 col-xs-4'>
			<a href='http://www.afdc.energy.gov/fuels/laws/ELEC/OR'>Oregon</a>
		</article>
		<article class='col-md-8 col-xs-12'>
			Residents: Tax credit for 25% of infrastructure project costs, up to $750
			<br>
			Businesses: 35% of eligible costs for infrastructure projects 
		</article>
	</div>

	<div class='row features'>
		<article class='col-md-4 col-xs-4'>
			<a href='http://www.afdc.energy.gov/fuels/laws/ELEC/TX'>Oregon</a>
		</article>
		<article class='col-md-8 col-xs-12'>
			Residents of Austin, TX are eligible for a rebate of 50% of the cost.
		</article>
	</div>


	<div class='row features'>
		<article class='col-md-4 col-xs-4'>
			<a href='http://www.afdc.energy.gov/fuels/laws/ELEC/WA'>Washington DC</a>
		</article>
		<article class='col-md-8 col-xs-12'>
			Provides rate of return on EVSE installed for the benefit of ratepayers up to 2%, Puget Sound Energy (PSE) provides $500/charger rebate 
		</article>
	</div>


	</div>
</article>


{% endblock %}

{% block quote_form %}
{% endblock %}

{% block custom_scripts %}
{% endblock %}
