{% extends 'base.html' %}


{% block bannersize %}
	<div id="wrapper" class="add">
{% endblock %}

{% block background %}
	<img src="images/garage_wall.jpg" alt="image description">
{% endblock %}

{% block rightheader %}
{% endblock %}

{% block social_media %}
{% endblock %}

	
{% block maincontent %}

	<section class="col-md-12 col-md-offset-2">
		<div class="row threecolumn">
		<article class="col-md-16 col-sm-16 col-xs-16">
			<div id='large_green_circle'>
				<h1 class='new_header'>Charge Up</h1>
				<h2 class='tagline'>
					Evercharge enables the widespread adoption of Electric Vehicles by proving multi-tenant properties with a scalable, fully-managed solution.
				</h2>
			</div>
			
		</article>
	</div>

{% endblock %}

{% block content_one %}


<article class='jumbotron whitejumbo white_space'>
	<a href='#quote'>
		<button class='flat_button'>Get a Quote Now</button>
	</a>
</article>


<!-- TABBING BETWEEN BUILDING MGMT and EV OWNER -->
<div>

<!-- 	<ul class="nav nav-tabs navbar-right" role="tablist" id='myTabs'>
		<li role="presentation" class="active">
			<a href="#ev_owner_tab" aria-controls="ev_owner_tab" role="tab" data-toggle="tab">Evercharge for EV Owners</a>
		</li>
		<li role="presentation">
			<a href="#bldg_mgmt_tab" aria-controls="bldg_mgmt_tab" role="tab" data-toggle="tab">Evercharge for Building Management</a>
		</li>
 -->
	<!-- </ul> -->

	<section class="parallax" data-speed="4" data-type="background" id='parallax_process'>
		<div class="container">
			<div class="row-fluid">
				<h1 class='parallax_header'>Charging Made Easy</h1>
			</div>
		</div>
	</section>
	<article class='jumbotron'>
		<div class='row features'>
			<div class='col-md-4 hidden-xs'></div>
			<div class='col-md-8 col-xs-5'>
				<h2>Say goodbye to the hassle and unreliablility of of EV charging in condos and apartments.</h2>
				<br><hr class='extra_short'><br>
				<h2>With Evercharge you'll never have to worry about charging again</h2>
			</div>
			<div class='col-md-4 hidden-xs'></div>
		</div>
	</article>


<!-- 	<div class="tab-content">
		<div role="tabpanel" class="tab-pane fade in active" id="ev_owner_tab"> -->
			<article class='jumbotron greyjumbo extra_padding'>
				<div class='row features'>
					<div class='col-md-2 xs-hidden'></div>
					<div class='col-md-4 col-xs-16'>
						<img src='images/blank_circle.png' width='50px'>
						<h2 class='easy_charging'>Installation</h2>
						<hr class='short'>
						<h4>Runs from existing common electrical infrastructure, making installat</h4>
					</div>
					<div class='col-md-4 col-xs-16'>
						<img src='images/blank_circle.png' width='50px'>
						<h2 class='easy_charging'>Savings</h2>
						<hr class='short'>
						<h4></h4>

					</div>
					<div class='col-md-4 col-xs-16'>
						<img src='images/blank_circle.png' width='50px'>
						<h2 class='easy_charging'>Scalability</h2>
						<hr class='short'>
						<h4>Runs from existing common electrical infrastructure</h4>

					</div>
					<div class='col-md-2 xs-hidden'></div>
				</div>
			</article>

			<article class='jumbotron greyjumbo extra_padding'>
				<div class='row features'>
					<div class='col-md-2 xs-hidden'></div>
					<div class='col-md-4 col-xs-16'>
						<img src='images/blank_circle.png' width='50px'>
						<h2 class='easy_charging'>Billing</h2>
						<hr class='short'>
						<h4>Runs from existing common electrical infrastructure</h4>

					</div>
					<div class='col-md-4 col-xs-16'>
						<img src='images/blank_circle.png' width='50px'>
						<h2 class='easy_charging'>Add Value</h2>
						<hr class='short'>
						<h4>Runs from existing common electrical infrastructure</h4>

					</div>
					<div class='col-md-4 col-xs-16'>
						<img src='images/blank_circle.png' width='50px'>
						<h2 class='easy_charging'>24/7 Access	</h2>
						<hr class='short'>
						<h4>Runs from existing common electrical infrastructure</h4>

					</div>
					<div class='col-md-2 xs-hidden'></div>
				</div>
			</article>




				<!-- <div class="row features">
					<div class = 'col-md-6 col-xs-8' >
						<h2 class='difficulties' id='limited'>Limited Power</h2>
						<hr>
						<h2 class='difficulties' id='scalability'>Scalability</h2>
						<hr>
						<h2 class='difficulties' id='insurance'>Insurance</h2>
						<hr>
						<h2 class='difficulties' id='maintenance'>Maintenance</h2>
						<hr>
						<h2 class='difficulties' id='support'>Support</h2>
						<hr>
						<h2 class='difficulties' id='hoa'>HOA Approval</h2>
						
					</div>
					<div class = 'col-md-10 col-xs-8 difficulty_container'>
						<div class='default_difficulty' id='difficulty_intro'>
							Whatever charging is super hard because of all of these really hard things can you believe how hard it is.
						</div>
						<div class='hidden_difficulty' id='limited'>
							Buildings have limited power available for EV charging. With traditional EV solutions most buildings can only charge on or two EVs at a time.
						</div>
						<div class='hidden_difficulty' id='scalability'>
							With traditional EV solutions most buildings can only charge on or two EVs at a time. Because of this, as EV demand increases, most EV chargingn solutions do not scale.
						</div>
						<div class='hidden_difficulty' id='insurance'>
							Liability insurance protects your community -- in California, $1,000,000 in insurance is required by law. 
						</div>
						<div class='hidden_difficulty' id='maintenance'>
							Once a charger is installed, it can require maintenance.
						</div>
						<div class='hidden_difficulty' id='support'>
							Support blah blah
						</div>
						<div class='hidden_difficulty' id='hoa'>
							To install chargers in multi-tenant garages, building management or the HOA needs to approve of installation plans. This is often a multi-step process.
						</div>

					</div>

				</div> -->
			</article>


<!-- 		</div>
		<div role="tabpanel" class="tab-pane fade" id="bldg_mgmt_tab"> -->
			
<!-- 			<article class='jumbotron whitejumbo'>
				<div class="row features">
					<div class='col-md-16 col-xs-16 col-sm-16'>
						<h1>What Makes EV Charging Difficult?</h1>
						<hr>
						<br>
					</div>
					<div class = 'col-md-6 col-xs-8'>
						<h2 class='difficulties' id='limited'>Limited Power</h2>
						<hr>
						<h2 class='difficulties' id='scalability'>Scalability</h2>
						<hr>
						<h2 class='difficulties' id='insurance'>Insurance</h2>
						<hr>
						<h2 class='difficulties' id='maintenance'>Maintenance</h2>
						<hr>
						<h2 class='difficulties' id='support'>Support</h2>
						<hr>
					</div>
					<div class = 'col-md-10 col-xs-8'>
						<div class='default_difficulty'>
							Whatever charging is super hard because of all of these really hard things can you believe how hard it is.
						</div>
						<div class='hidden_difficulty' id='limited'>
							Limited Power blah blah blah
						</div>
						<div class='hidden_difficulty' id='scalability'>
							Scalability blah blah
						</div>
						<div class='hidden_difficulty' id='insurance'>
							Insurance blah blah
						</div>
						<div class='hidden_difficulty' id='maintenance'>
							Maintenance blah blah
						</div>
						<div class='hidden_difficulty' id='support'>
							Support blah blah
						</div>
						<div class='hidden_difficulty' id='hoa'>
							HOA approval blah blah
						</div>
					</div>

				</div>
			</article>
 -->

<!-- 		</div>
	</div>

</div> -->



<!-- <article class='jumbotron whitejumbo'>

	<div class='row features'>
		<article class='col-md-8 col-sm-8 col-xs-16 options' id='mgmt_option'>
			<h2>Evercharge for Building Management</h2>
		</article>



		<article class='col-md-8 col-sm-8 col-xs-16 options' id='owner_option'>
			<h2>Evercharge for EV Drivers</h2>
		</article>
	</div> -->

<!-- </article> -->



	<section class="parallax" data-speed="4" data-type="background" id='parallax_process'>
		<div class="container">
			<div class="row-fluid">
				<h1 class='parallax_header'>How it Works</h1>
			</div>
		</div>
	</section>

<article class='jumbotron whitejumbo'>

	<div class='row features'>
		<div class='col-md-10 col-xs-8'>
			IMAGE GOES HERE
		</div>
		<div class='col-md-6 col-xs-8'>
			
			<p>EV's need at least 208v power to charge -- a standard outlet is only 110v. To get the 208v power they need to charge, EVs must pull power directly from a building's electrical room. Evercharge does just this, running 208v, 220v, or 240v power from the electrical room to residents' assigned parking spaces, for their exclusive use.
			<br>
			Evercharge's chargers monitor the electricity being used during each charge. This allows us to balance power amongst active chargers, appropriately bill each resident, and reimburse the HOA for the common-area power the chargers used.</p>
		</div>
	</div>
</article>

<hr>


<section class="parallax" data-speed="4" data-type="background" id='parallax_process'>
	<div class="container">
		<div class="row-fluid">
			<h1 class='parallax_header'>Our Process</h1>
		</div>
	</div>
</section>


<div class='row features'>
	<div class='col-md-8 col-sm-8 process_photos' id='step_one_image'>
		<div class='show_on_mobile'>
			<p>Step #1
				<br>
			Meet with Management</p>
		</div>
	</div>
	<div class='col-md-8 col-sm-8 hidden-xs process_text'>
		<div class='vertical_aligned'>

			<h2 class='step'>Step #1</h2>

			<p class='step_title'>
				Meet with Management
			</p>
			<br>
			<p class='step_description'>
				First, we meet with the building manager directly, to gain building access and answer any initial questions.
			</p>
		</div>
	</div>
</div>


<div class='row features'>

	<div class='col-md-8 col-sm-8 hidden-xs process_text'>
		<div class='vertical_aligned'>

			<h2 class='step'>Step #2</h2>
			<p class='step_title'>
				On-Site Evaluation
			</p>
			<br>
			<p class='step_description'>
				One our insured, certified, and fully-licensed electricians will conduct an on-site evaluation.
			</p>
		</div>
	</div>

	<div class='col-md-8 col-sm-8 col-xs-16 process_photos' id='step_two_image'>
		<div class='show_on_mobile'>
			<p>Step #2
				<br>
			On-Site Evaluations</p>
		</div>

	</div>

</div>


<div class='row features'>
	<div class='col-md-8 col-sm-8 col-xs-16 process_photos' id='step_three_image'>
		<div class='show_on_mobile'>
			<p>Step #3
				<br>
			Secure Building Approval</p>
		</div>

	</div>
	<div class='col-md-8 col-sm-8 hidden-xs process_text'>
		
		<div class='vertical_aligned'>
			<h2 class='step'>Step #3</h2>
			<p class='step_title'>
				Secure building Approval
			</p>
			<br>
			<p class='step_description'>
				We work with management to gain approval and move forward with the installation.
			</p>
		</div>
	</div>
</div>



<div class='row features'>

	<div class='col-md-8 col-sm-8 hidden-xs process_text'>
		<div class='vertical_aligned'>
			<h2 class='step'>Step #4</h2>
			<p class='step_title'>
				Installation
			</p>
			<br>
			<p class='step_description'>
				We then schedule installation, so you can start charging as soon as possible.
			</p>
		</div>
	</div>

	<div class='col-md-8 col-sm-8 col-xs-16 process_photos' id='step_four_image'>
		<div class='show_on_mobile'>
			<p>Step #4
				<br>
			Installation</p>
		</div>

	</div>

</div>

<section class="parallax" data-speed="4" data-type="background" id='parallax_process'>
	<div class="container">
		<div class="row-fluid">
			<h1 class='parallax_header'>What Makes Us Different</h1>
		</div>
	</div>
</section>


<article class='jumbotron'>
	<div class='row features'>
		<div class='col-md-2 xs-hidden'></div>
		<div class='col-md-4 col-xs-16'>
			<img src='images/logo_power_management.png' class='distinguishing'>
			<h3 class='diff_title'>
				Power Management
			</h3>
			<hr class='short'>
			<p class='diff_text'>
				Our patented power management technology ensures the most scalable, easy to use, and affordable EV charging solution.
			</p>
			
		</div>
		<div class='col-md-4 col-xs-16'>
			<img src='images/logo_public_charging.png' class='distinguishing'>
			<h3 class='diff_title'>
				24/7 Charging
			</h3>
			<hr class='short'>
			<p class='diff_text'>
				Evercharge units are installed directly into residents' parking spaces, so our customers never have to worry about access to charging.
			</p>

		</div>
		<div class='col-md-4 col-xs-16'>
			<img src='images/logo_insurance.png' class='distinguishing'>
			<h3 class='diff_title'>
				Total Protection
			</h3>
			<hr class='short'>
			<p class='diff_text'>
				Evercharge provides $1 million in liability insurace, 24/7 support, and maintenance - all you have to focus on is enjoying your EV.
			</p>

		</div>
		<div class='col-md-2 xs-hidden'></div>

</article>
			<!-- features -->
<!-- <div class="row features">
	<article class="col-md-4 col-xs-8" >
		<img src="images/ev_icon.png" alt="image description" width="112">
		<h2>Personal Charging</h2>
		<p class='hideme'>
			Evercharge units are installed directly into residents' parking spaces - Evercharge customers never need to worry about access to charging. 
		</p>
		</article>
		<article class="col-md-4 col-xs-8">
			<img src="images/public_lot.png" alt="compatibility image" width="100">
			<br>
			<br>
			<h2>Forget Public Charging</h2>
			<p class='hideme'>Say goodbye to the hassle and unreliablility of public charging. With Evercharge you'll never have to worry about charging again.</p>
		</article>

		<article class="col-md-4 col-xs-8">
			<img src="images/distributed.png" alt="bar graph image" width="110">
			<br>
			<br>
			<h2>Power Management</h2>
			<p class='hideme'>Our patented technology ensures that Housing Associations and residents alike get the most scalable, easy to use, and affordable EV charging solution.</p>
		</article>
		<article class="col-md-4 col-xs-8">
			<img src="images/billing.png" alt="automatic billing image" width="95">
			<h2>Automatic Monthly Billing</h2>
			<p class='hideme'>Customers are automatically billed once per month for the electricity that they use, and building management is reimbursed.</p>
		</article>
	</div>
</article>
 -->

<!-- 	<article class="jumbotron greyjumbo">
		<h2>Find out More about Evercharge</h2>
		<hr>
		<br>
			<div class="row features">
				
				<div class="col-md-7 col-xs-5">

					<div>
						<button class='flat_button'>Evercharge for EV Owners</button>
					</div>
					

				</div>
			
				<div class="col-md-2 col-xs-5"></div>
			
				<div class="col-md-7 col-xs-5">

					<div>
						<button class='flat_button '>Evercharge for Building Management</button>
					</div>
					

				</div>
			
			</div>
	</article> -->
<br>



		
	{% endblock %}

	{% block video %}
	{% endblock %}

	{% block content_one_bottom %}
	{% endblock %}