{% extends 'layout/base.html' %}


{% block bannersize %}
	<div id="wrapper" class="add">
{% endblock %}

{% block background %}
{% endblock %}

{% block alt_background %}
	<div class="ec-home-banner">
		<div class="ec-home-stretch">
			<img src="images/EverCharge-Wattson-Schneider.jpg" alt="Wattson" class="hidden-xs" />
			<img src="images/EverCharge-Wattson-Schneider-xs.jpg" alt="Wattson" class="visible-xs" />
		</div>
		<div class="container-fluid">
			<div class="row ec-home-banner-text">
				<div class="col-sm-offset-8 col-sm-7">
					<h1 class="xl">INTRODUCING <strong>WATTSON</strong></h1>
					<h4>EverCharge's newest electric charging solution is the most dynamic charger on the planet</h4>
					<br>
					<a href="{{ url_for('device_wattson') }}" class="ec-button-teal">Learn More &#8594;</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block rightheader %}
{% endblock %}

{% block social_media %}
{% endblock %}

{% block maincontent %}
{% endblock %}

{% block content_one %}
	<div class="whitejumbo ec-index-quote-form">
		<div class="container">
			<form action="/thankyou" method='post' class="validate-form">
				<input name="lead_source" value="Web Signup" type="hidden">
				<input name="adwordsField" id='adwordsField' type="hidden">
				<input name="granularField" id="granularField" type="hidden">
				<fieldset>		
					<div class="row">
						<center><h4 class="ec-caps">Need More Info?</h4></center>
					</div>
					<div class="row">
						<div class="holder">
							<div class="col-xs-16 col-sm-5 col-md-6">
								<div class="form-group">
									<input name="quote_name" type="text" class="form-control required" id="label1" placeholder="Name*" autocomplete="off"> 
								</div>
							</div>
							<div class="col-xs-16 col-sm-5 col-md-6">
								<div class="form-group">
									<input name="quote_email" type="email" class="form-control required-email" id="label2" placeholder="Email*" autocomplete="off">
								</div>
							</div>
							<div class="col-xs-16 col-sm-6 col-md-4">
								<input type="submit" value="Connect With Us" class="ec-button-teal-border">
							</div>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
{% endblock %}

{% block content_two %}
	<div class="whitejumbo">
		<div class="ec-stretch-teal ec-home-charging-experts">
			<div class="container">
				<div class="row">
					<div class="col-sm-offset-2 col-sm-12 col-md-offset-0 col-md-16">
						<center>
							<h1>Charging Experts</h1>
							<h3 class="bitter">EverCharge makes widespread EV adoption possible in apartments and condominiums.</h3>
						</center>
					</div>
				</div><!-- end row -->
				<div class="row">
					<div class="col-sm-offset-2 col-sm-4 ec-home-why">
						<img src="images/icon-1.png" class="img-responsive" alt="" />
						<h4 class="ec-caps">Here to Help</h4>
						<p>We understand your needs</p>
					</div>
					<div class="col-sm-4 ec-home-why">
						<img src="images/icon-3.png" class="img-responsive" alt="" />
						<h4 class="ec-caps">Dedicated Stations</h4>
	    			<p>No sharing, no waiting</p>
					</div>
					<div class="col-sm-4 ec-home-why">
						<img src="images/icon-2.png" class="img-responsive" alt="" />
						<h4 class="ec-caps">Long-Term Value</h4>
	    			<p>Affordable solution</p>
					</div>
				</div><!-- end row -->
				<br>
				<center><a href="{{ url_for('why_evercharge') }}" class="ec-button-teal">WHY EVERCHARGE</a></center>
			</div>
		</div>
	</div>
	<div class="whitejumbo">
		<div class="container">
			<div class="row ec-home-properties">
				<img src="images/building-4.jpg" class="img-responsive" alt="" />
				<div class="ec-dk-banner">
					<h5>EverCharge maximizes current building electrical infrastructure and expands capacity for EV charging well into the future.</h5>
					<br>
					<br>
					<p><a href="{{ url_for('evercharge_properties') }}" class="ec-text-link">View Properties &#8594;</a></p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block content_three %}
	<div class="ec-home-quote">
		<div class="container">
			<div class="col-sm-16 col-md-offset-2 col-md-12">
				<h2 class="bitter ec-teal">“Having EV charging in apartments and condominiums is critical to the continued success of EV adoption. This collaborative solution effectively resolves building concerns and challenges with smart energy management and automation capabilities.”</h2>
				<br>
				<p class="black">&ndash; <strong>Pierre Sacré</strong>, director of Electric Vehicle Solutions at Schneider Electric North America</p>
				<br>
				<br>
				<p><a href="{{ url_for('schneider_partnership') }}" class="ec-text-link">Read about the Schneider Partnership &#8594;</a></p>
			</div>
		</div>
	</div>
{% endblock %}

{% block video %}
{% endblock %}

{% block content_one_bottom %}
{% endblock %}
