{% extends 'base.html' %}
	
	{% block background %}
	<img src="images/image11.jpg" alt="image description" width="1200" height="526">
	{% endblock %}


	{% block maincontent %}

		<div class="col-md-14 col-md-offset-1 article-quote">
			<img src="images/image02.png" alt="image description" class="img-circle" width="126" height="125">
			<h1>EV Owner</h1>
			<h2>Recharge RIGHT FROM YOUR OWN PARKING SPACE</h2>
			<a href="#quote" class="btn">Get a quote</a>
		</div>


{% endblock %}
		<!-- contain main informative part of the site -->

{% block content_one %}
			<!-- features -->
			<div class="row features">
				<article class="col-md-4 col-xs-5">
					<img src="images/image12.png" alt="image description" width="252" height="248">
					<h2>Tap to Charge</h2>
					<p>Just tap your RFID access card and plug in. EverCharge automatically authenticates your vehicle and logs your usage for billing purposes.</p>
				</article>
				<article class="col-md-4 col-xs-5">
					<img src="images/image13.png" alt="compatibility image" width="253" height="248">
					<h2>Fits Any EV</h2>
					<p>Our Charging System is compatable with all production plugin vehicles currently sold in the United States, including Teslas.</p>
				</article>
				<article class="col-md-4 col-xs-5">
					<img src="images/image14.png" alt="automatic billing image" width="255" height="248">
					<h2>Auto Billing</h2>
					<p>You’ll automatically be billed once per month for the electricity that you use. Choose from unlimited charging or pay-as-you-go.</p>
				</article>
				<article class="col-md-4 col-xs-5">
					<img src="images/image07.png" alt="add value image" width="255" height="248">
					<h2>Add Value</h2>
					<p>Increase property values and make your units more desirable.</p>
				</article>
			</div>
{% endblock %}


{% block content_two %}
			<!-- jumbotron -->
			<article class="jumbotron">
				<h2>Do you know your rights?</h2>
				<p>Many states prohibit Homeowner's Associations from <br>denying residents the right to charge at home.</p>
				<form action="#">
					<fieldset>
						<input type="text" class="form-control" placeholder="enter your zip code">
					</fieldset>
				</form>
			</article>
 {% endblock %}
