{% extends 'layout/base.html' %}
	
{% block background %}
	<img src="images/image01.jpg" alt="image description" width="1200" height="526">
{% endblock %}


{% block maincontent %}
	<div class="col-md-14 col-md-offset-1 article-quote">
		<img src="images/image02.png" alt="image description" class="img-circle" width="95" height="95" style='visibility:hidden'>
		<h1>EV Owner</h1>
		<h2>Charge right from your own parking space</h2>
		<br>
		<a href="#quote" class="btn">Get a quote</a>
	</div>
{% endblock %}

{% block intro %}
	<article class='jumbotron whitejumbo'>
		<h2>Are you an EV Owner, or looking to buy an EV soon?</h2>
			<h5>
				If you are one of <strong id="green_header">88 million</strong> Americans living in a multi-tenant residence, we can help you
				<br>
				navigate the complexities of Electric Vehicle charging in condos and apartments.
			</h5>
			<h4>
				At EverCharge, we handle:
			</h4>
	</article>

	<div class='row features'>
		<article class='col-md-4 col-xs-8'>
			<br>
			<img src="images/permitting.png" width='50px'>
			<h4 class='hideme'>Permitting</h4>
		</article>
		<article class='col-md-4 col-xs-8'>
			<br>
			<img src="images/handshake.png" width='50px'>
			<h4 class='hideme'>Building Management Approval</h4>
		</article>
		<article class='col-md-4 col-xs-8'>
			<br>
			<img src="images/insurance.png" width='50px'>
			<h4 class='hideme'>Insurance</h4>
		</article>
		<article class='col-md-4 col-xs-8'>
			<br>
			<img src="images/and_more.png" width='50px'>
			<h4 class='hideme'>And More</h4>
		</article>
	</div>

	<article class='jumbotron greenjumbo'>
		<legend>Let EverCharge handle everything for you</legend>
		
		<h4>We are the only EV charging system that allows
			<br>
			multi-tenant residents to charge their EV in their own parking space.</h4>
		<br>

		<a href="#quote" class="btn hideme">Contact Us</a>
	</article>
{% endblock %}

{% block content_one %}
	<article class='jumbotron whitejumbo'>
		<h2>What Makes EverCharge Different?</h2>
	</article>

	<div class="row features">
		<article class="col-md-8 col-xs-5">
			<img src="images/image12.png" alt="image description" width="125">
			<h2>Access</h2>
			<h5>
				Just tap your access card and plug in. We automatically authenticate your vehicle and log your usage for billing.
			</h5>
		</article>
		<article class="col-md-8 col-xs-5">
			<img src="images/image13.png" alt="compatibility image" width="125">
			<h2>Fits Any EV</h2>
			<h5>
				Our Charging System is compatable with all production plugin vehicles currently sold in the United States, including Teslas.
			</h5>
		</article>
		<article class="col-md-8 col-xs-5">
			<img src="images/image14.png" alt="automatic billing image" width="125">
			<h2>Auto Billing</h2>
			<h5>
				You’ll automatically be billed once per month for the electricity that you use.
			</h5>
		</article>

		<article class="col-md-8 col-xs-5">
			<img src="images/image07.png" alt="add value image" width="125">
			<h2>Add Value</h2>
			<h5>
				Increase property values and make your unit more desirable; when it comes time to sell, market your unit as EV compatible.
			</h5>
		</article>
	</div>
</article>


		<article class='jumbotron greyjumbo'>
			<h2>Our Process</h2>
			<h4>EverCharge handles the entire installation, from beginning to end.</h4>
			<em>
			<div class="row features">
			<p>
				<span class='col-md-4 col-xs-4 hideme'>
					<img src="images/meeting.png" width='100'>
				</span>
				<span class='col-md-12 col-xs-12'>
					<br>
					First we speak with your Property Manager directly, to gain building access and answer any initial questions about EV charging and the installation process.

				</span>
				</p>
			<div class='col-md-16 col-xs-5'>
				<hr class='hideme'>
				<br>
			</div>
			<p>
				<span class='col-md-4  col-xs-4 hideme'>
					<img src="images/electrician.png" width='100'>
				</span>
				<span class='col-md-12 col-xs-12'>
					<br>
					We'll then send one of our insured and fully certified electricians to conduct an onsite evaluation.
			</p>
			<div class='col-md-16 col-xs-5'>
				<hr class='hideme'>
				<br>
			</div>
			<p>
				<span class='col-md-4  col-xs-4 hideme'>
					<img src="images/presentation.png" width='100'>
				</span>
				<span class='col-md-12 col-xs-12'>
					<br>
					Once we've evaluated your property, we will present all information to the building management.
				</span>
			</p>
			<div class='col-md-16 col-xs-5'>
				<hr class='hideme'>
				<br>
			</div>
			<p>
				<span class='col-md-4  col-xs-4 hideme'>
					<img src="images/handshake.png" width='100'>
				</span>
				<span class='col-md-12 col-xs-12'>
					<br>
					We then work with the building management to gain approval, and move forward with the installation.
				</span>
			</p>
			<div class='col-md-16 col-xs-5'>
				<hr class='hideme'>
				<br>
			</div>
			<p>
				<span class='col-md-4 col-xs-4 hideme'>
					<img src="images/electrician_van.png" width='100'>
				</span>
				<span class='col-md-12 col-xs-12'>
					<br>
					We then schedule your installation, so you can start charging as soon as possible.
				</span>
			</p>
			</em>
			

			<!-- put space here -->


			<h4 span class='col-md-16 col-xs-16'>To get the process started, call us at (888) 342-7383 or fill out our <a href="#quote">quote form</a>.</h4>
			</div>
		</article>

{% endblock %}


{% block content_two %}
			<!-- jumbotron -->
<!-- 			<article class="jumbotron">
				<h2>Do you know your rights?</h2>
				<p>Many states prohibit Homeowner's Associations from <br>denying residents the right to charge at home.</p>
				<form action="#">
					<fieldset>
						<input type="text" class="form-control" placeholder="enter your zip code">
					</fieldset>
				</form>
			</article> -->
 {% endblock %}

 {% block content_three %}

<article class='greyjumbo jumbotron' id="rights">
	<h2>Do you know your rights?</h2>
	<p>Many states prohibit Homeowner's Associations for denying residents the right to charge their electric vehicle at home (and many more states are likely to pass legislation this year). The following states currently have legislation in place:</p>
	<div class="row features">
				<div class="col-md-4 col-xs-5 states hideme">
					<img src="images/california.png" alt="california" width="120">
				</div>
				<article class="col-md-12 col-xs-5">

					<h2>California</h2>
					<p>On February 29, 2012 the Governor of California signed into law <a href="http://leginfo.legislature.ca.gov/faces/billNavClient.xhtml?bill_id=201120120SB880">Senate Bill 880</a>, to take effect immediately. The bill guarantees owners the right to install and use an electric vehicle charging station in their own parking space. If it is impossible or unreasonably expensive to install an EV charging station in your own space, you can install your charger in a common area for exclusive use.</p>
					<em><p>EverCharge already provides service for several buildings in California, <a href="#quote">contact us</a> today to get started.</p></em>
					<hr>


				</article>
					
				<div class="col-md-4 col-xs-5 states hideme">
					<img src="images/colorado.svg" alt="colorado" width="120">
				</div>
				<article class="col-md-12 col-xs-5">
					
					<h2>Colorado</h2>
					<p>On May 5, 2013 <a href="http://www.leg.state.co.us/clics/clics2013a/csl.nsf/fsbillcont3/A59A32ABE3B4AD2287257AEE0058ED4A?Open&file=126_enr.pdf">SB 13-126</a> was signed into law in Colorado. HOAs cannot prohibit an owner from installing an EV charging station in their garage stall, parking space, or carport, nor can they charge a fee for the placement of the system.</p>
					<em><p>We are experienced lobbying to HOAs and Property Owners, <a href="#quote">contact us</a> today and let us handle the process for you.</p></em>
					<hr>
				</article>

				<div class="col-md-4 col-xs-5 states hideme">
					<img src="images/hawaii.svg" alt="hawaii" width="120">
				</div>
				<article class="col-md-12 col-xs-5">
					<h2>Hawaii</h2>
					<p>As of June 30, 2013, <a href="http://law.justia.com/codes/hawaii/2013/title-12/chapter-196/section-196-7.5">§196-7.5</a> is in effect in the state of Hawaii. The legislation allows residents of multi-family homes to install an EV charging station in or near their parking space.</p>
					<em><p>If you live in Hawaii and are interested in EV charging in your condo or apartment, <a href="#quote">let EverCharge</a> handle the details for you.</p></em>
				<hr>	
				</article>



<!-- 				<article class="col-md-4 col-xs-4">
					<img src="images/placeholder_dog.png" alt="illinois" width="120">
				</article>
				<article class="col-md-12 col-xs-12">
					<h2>Illinois</h2>
					<p>Information about Illinois Regulation.</p>
				</article> -->

				<div class="col-md-4 col-xs-5 states hideme">
					<img src="images/oregon.png" alt="oregon" width="120">
				</div>
				<article class="col-md-12 col-xs-5">
					<h2>Oregon</h2>
					<p>Oregon law <a href="https://www.oregonlegislature.gov/bills_laws/lawsstatutes/2013ors100.html">dictates</a> that "an association of unit owners may not prohibit installation or use of a charging station," but they can require an application and review process, with a potential reasonable fee for costs incurred during the review.</p>
					<em><p>EverCharge currently provides service in Oregon, and can help you navigate the application and review if necessary - <a href="#quote">Get a quote today</a>.</p></em>
					<hr>
				</article>



			</div>

</article>
<br>
<br>
	<article class="jumbotron" style="margin-bottom: 75px;">
		<p style=><em><span style="font-size:3rem; line-height: 3rem">Have more questions?</em></span></p>
			<a href="/faqs" class="btn hideme">Check out our FAQs</a>
	</article>


 {% endblock %}
