{% extends 'base.html' %}
	
	{% block background %}
	<img src="images/image11.jpg" alt="image description" width="1200" height="526">
	{% endblock %}


	{% block maincontent %}

		<div class="col-md-14 col-md-offset-1 article-quote">
			<img src="images/image02.png" alt="image description" class="img-circle" width="95" height="95">
			<h1>EV Owner</h1>
			<h2>Recharge right from your own parking space.</h2>
			<a href="#quote" class="btn">Get a quote</a>
		</div>


{% endblock %}
		<!-- contain main informative part of the site -->

{% block content_one %}
			<!-- features -->
			<div class="row features">
				<article class="col-md-4 col-xs-5">
					<img src="images/image12.png" alt="image description" width="252" height="248">
					<h2>Access</h2>
					<p>Just tap your access card and plug in. We automatically authenticates your vehicle and logs your usage for billing purposes.</p>
				</article>
				<article class="col-md-4 col-xs-5">
					<img src="images/image13.png" alt="compatibility image" width="253" height="248">
					<h2>Fits Any EV</h2>
					<p>Our Charging System is compatable with all production plugin vehicles currently sold in the United States, including Teslas.</p>
				</article>
				<article class="col-md-4 col-xs-5">
					<img src="images/image14.png" alt="automatic billing image" width="255" height="248">
					<h2>Auto Billing</h2>
					<p>You’ll automatically be billed once per month for the electricity that you use. Choose from unlimited charging or pay-as-you-go.</p>
				</article>
				<article class="col-md-4 col-xs-5">
					<img src="images/image07.png" alt="add value image" width="255" height="248">
					<h2>Add Value</h2>
					<p>Increase property values and make your units more desirable.</p>
				</article>
			</div>
{% endblock %}


{% block content_two %}
			<!-- jumbotron -->
<!-- 			<article class="jumbotron">
				<h2>Do you know your rights?</h2>
				<p>Many states prohibit Homeowner's Associations from <br>denying residents the right to charge at home.</p>
				<form action="#">
					<fieldset>
						<input type="text" class="form-control" placeholder="enter your zip code">
					</fieldset>
				</form>
			</article> -->
 {% endblock %}

 {% block content_three %}

<article class='greyjumbo jumbotron'>
	<h2>Do you know your rights?</h2>
	<p>Many states prohibit Homeowner's Associations for denying residents the right to charge their electric vehicle at home (and many more states are likely to pass legislation this year). The following states currently have legislation in place:</p>
	<div class="row features">
				<article class="col-md-4 col-xs-4">
					<img src="images/california.png" alt="california" width="120">

				</article>
				<article class="col-md-12 col-xs-12">

					<h2>California</h2>
					<p>On February 29, 2012 the Governor of California signed into law <a href="http://leginfo.legislature.ca.gov/faces/billNavClient.xhtml?bill_id=201120120SB880">Senate Bill 880</a>, to take effect immediately. The bill guarantees owners the right to install and use an electric vehicle charging station in their own parking space. If it is impossible or unreasonably expensive to install an EV charging station in your own space, you can install your charger in a common area for exclusive use. </p>

				</article>
					
				<article class="col-md-4 col-xs-4">
					<img src="images/colorado.svg" alt="colorado" width="120">
				</article>
				<article class="col-md-12 col-xs-12">
					<h2>Colorado</h2>
					<p>On May 5, 2013 <a href="http://www.leg.state.co.us/clics/clics2013a/csl.nsf/fsbillcont3/A59A32ABE3B4AD2287257AEE0058ED4A?Open&file=126_enr.pdf">SB 13-126</a> was signed into law in Colorado. HOAs cannot prohibit an owner from installing an EV charging station in their garage stall, parking space, or carport, nor can they charge a fee for the placement of the system.</p>
				</article>

				<article class="col-md-4 col-xs-4">
					<img src="images/hawaii.svg" alt="hawaii" width="120">
				</article>
				<article class="col-md-12 col-xs-12">
					<h2>Hawaii</h2>
					<p>As of June 30, 2013, <a href="http://law.justia.com/codes/hawaii/2013/title-12/chapter-196/section-196-7.5">§196-7.5</a> is in effect in the state of Hawaii. The legislation allows residents of multi-family homes to install an EV charging station in or near their parking space.</p>
				</article>

<!-- 				<article class="col-md-4 col-xs-4">
					<img src="images/placeholder_dog.png" alt="illinois" width="120">
				</article>
				<article class="col-md-12 col-xs-12">
					<h2>Illinois</h2>
					<p>Information about Illinois Regulation.</p>
				</article> -->

				<article class="col-md-4 col-xs-4">
					<img src="images/oregon.png" alt="oregon" width="120">
				</article>
				<article class="col-md-12 col-xs-12">
					<h2>Oregon</h2>
					<p>Oregon law <a href="https://www.oregonlegislature.gov/bills_laws/lawsstatutes/2013ors100.html">dictates</a> that "an association of unit owners may not prohibit installation or use of a charging station," but they can require an application and review process, with a potential reasonable fee for costs incurred during the review.</p>
				</article>

			</div>

</article>

<br>
<br>

 {% endblock %}
