{% extends 'base.html' %}
	
	{% block background %}
	<img src="images/image11.jpg" alt="evercharge garage" width="1200" height="526">
	{% endblock %}

	{% block maincontent %}
					<div class="col-md-14 col-md-offset-1 article-quote">
						<img src="images/image03.png" class="img-circle" alt="image description" width="100" height="100">
						<h1><span class="hidden-xs">Property Manager</span> <span class="visible">PM</span> &amp; HOA</h1>
						<h2>A valuable amenity for your residents</h2>
						<a href="#quote" class="btn">Get a quote</a>
					</div>
				</div>
			</div>
		</div>
	{% endblock %}
		<!-- contain main informative part of the site -->
	{% block video %}
	<article class='jumbotron whitejumbo'>

		<div class="video-container">
			<iframe src="http://www.youtube.com/embed/8fpj8MhywaU?hd=1&rel=0&autohide=1&showinfo=0" frameborder="0" width="560" height="315" allowfullscreen></iframe>
		</div>
		</article>
	{% endblock %}
	{% block content_one %}


			<!-- features -->
	<article class="jumbotron">
				<center><span><legend>San Francisco Case Study</legend></span></center>
				<p>Interested in finding out what EverCharge can do for you? Check out our <strong><a href="/images/SF_Case_Study.pdf">Case Study</a></strong> on a 165-unit building in San Francisco that found a scalable way to offer their residents EV charging.</p>

	</article>

			<div class="row features">
				<article class="col-md-1"></article>
				<article class="col-md-4 col-xs-5">
					<img src="images/image05.png" alt="image description" width="255" height="247">
					<h2>Easy Install</h2>
					<p>No new meters, large holes in the concrete, or massive conduit running to the main supply are required.</p>
				</article>
				<article class="col-md-1"></article>
				<article class="col-md-4 col-xs-5">
					<img src="images/image06.png" alt="image description" width="257" height="248">
					<h2>Scalable</h2>
					<p>Continue adding vehicle capacity as demand for EV charging grows within your building.</p>
				</article>
				<article class="col-md-1"></article>
				<article class="col-md-4 col-xs-5">
					<img src="images/image07.png" alt="image description" width="255" height="248">
					<h2>Add Value</h2>
					<p>Increase property values and rental rates. Make your units more desirable.</p>
				</article>
				<article class="col-md-1"></article>
				<article class="col-md-1"></article>
				<article class="col-md-4 col-xs-5">
					<img src="images/image08.png" alt="image description" width="274" height="247" class="oblong">
					<h2>Save on Infrastructure Costs</h2>
					<p>Drastically lower the overall expense of providing power to residents.</p>
				</article>
				<article class="col-md-1"></article>
				<article class="col-md-4 col-xs-5">
					<img src="images/image09.png" alt="image description" width="248" height="247">
					<h2>Users Pay for their Power</h2>
					<p>The HOA is reimbursed quarterly for all common area electricity used.</p>
				</article>
				<article class="col-md-1"></article>
				<article class="col-md-4 col-xs-5">
					<img src="images/image10.png" alt="image description" width="248" height="247">
					<h2>Parking Spots Stay The Same</h2>
					<p>EV owners charge with their own EVSE in their own parking space.</p>
				</article>
				<article class="col-md-1"></article>
			</div>
	{% endblock %}
	{% block content_two %}
			<!-- jumbotron -->
<!-- 			<article class="jumbotron">
				<h2>Legal Compliance</h2>
				<p>We help navigate the complex legalities to comply with state laws, <br>which may require HOAs to comply with a member's request for EV charging</p>
				<form action="#">
					<fieldset>
						<input type="text" class="form-control" placeholder="enter your zip code">
					</fieldset>
				</form>
			</article> -->
	{% endblock %}
