{% extends 'base.html' %}

{% block background %}
	<img src="images/arrow_sign.jpg" alt="image description" width="1200" height="526">
{% endblock %}

{% block maincontent %}
	<div class="col-md-14 col-md-offset-1 article-quote">
		<img src="images/evercharge-logo.png" alt="image description" class="img-circle" width="95" height="95" style='visibility:hidden'>
			<div id='large_green_circle'>
				<h1 class='new_header'>Learn More</h1>
			</div>
		<br>
	</div>
{% endblock %}

{% block video %}
{% endblock %}

{% block content_one %}
<article class='jumbotron whitejumbo white_space'>
</article>

<section class="parallax" data-speed="4" data-type="background" id='parallax_process'>
		<div class="container">
			<div class="row-fluid">
				<h1 class='parallax_header'>How it Works</h1>
			</div>
		</div>
</section>


<div class='row features'>
	<div class='col-md-8 col-sm-8 process_photos' id='how_it_works_one'>
		<div class='show_on_mobile'>
			<p>Connect to
				<br>
			Common Power</p>
		</div>
	</div>
	<div class='col-md-8 col-sm-8 hidden-xs process_text'>
		<div class='vertical_aligned'>

			<!-- <h2 class='step'>Step #1</h2> -->

			<p class='step_title'>
				Common Power
			</p>
			<br>
			<p class='step_description'>
				Our charging system connects to readily available common-area power in the building.
			</p>
		</div>
	</div>
</div>


<div class='row features'>

	<div class='col-md-8 col-sm-8 hidden-xs process_text'>
		<div class='vertical_aligned'>

			<!-- <h2 class='step'>Step #2</h2> -->
			<p class='step_title'>
				Power Management
			</p>
			<br>
			<p class='step_description'>
				Each Evercharge unit in the building uses the same power source, with the power balanced between each unit.
			</p>
		</div>
	</div>

	<div class='col-md-8 col-sm-8 col-xs-16 process_photos' id='how_it_works_two'>
		<div class='show_on_mobile'>
			<p>Power
				<br>
			Management</p>
		</div>

	</div>

</div>


<div class='row features'>
	<div class='col-md-8 col-sm-8 col-xs-16 process_photos' id='how_it_works_three'>
		<div class='show_on_mobile'>
			<p>Power
				<br>
			Metering</p>
		</div>

	</div>
	<div class='col-md-8 col-sm-8 hidden-xs process_text'>
		
		<div class='vertical_aligned'>
			<!-- <h2 class='step'>Step #3</h2> -->
			<p class='step_title'>
				Metering
			</p>
			<br>
			<p class='step_description'>
				Each unit has a meter that keeps track of the electricity consumed.
			</p>
		</div>
	</div>
</div>



<div class='row features'>

	<div class='col-md-8 col-sm-8 hidden-xs process_text'>
		<div class='vertical_aligned'>
			<p class='step_title'>
				Automatic Billing
			</p>
			<br>
			<p class='step_description'>
				Every month we bill customers for the electricty consumed, and reimburse the building for the electricity all Evercharge units consumed.
			</p>
		</div>
	</div>

	<div class='col-md-8 col-sm-8 col-xs-16 process_photos' id='how_it_works_four'>
		<div class='show_on_mobile'>
			<p>Automatic Billing
				<br>
			and Reimbursements</p>
		</div>

	</div>

</div>

	<article class='jumbotron greyjumbo'>
		<legend>How it Works</legend>
		<h5 class='hidme'>
			Our patented power management technology not only allows us to scale up to 10x more than other solutions, it also means we get commercial electricity rates, which saves everyone money.
		</h5>
		<hr class='hideme'>
		<br>
		<br>
		<div class="row features">
			<span class='col-md-4 col-xs-4 hideme'>
				<img src="images/buildings.png" width='75'>
			</span>
			<span class='col-md-12 col-xs-12'>
				
				<p>Our charging system connects to readily available common-area power in the building.</p>
			</span>

			<div class='col-md-16 col-xs-5'>
				<hr class='hideme'>
				<br>
			</div>

			<span class='col-md-4 col-xs-4 hideme'>
				<img src="images/parking_garage.png" width='75'>
			</span>
			<span class='col-md-12 col-xs-12'>
				<br>
				<p>
					Each Evercharge unit in the building uses the same power source, with the power balanced between each unit.
				</p>
			</span>
			<div class='col-md-16 col-xs-5'>
				<hr class='hideme'>
				<br>
			</div>

			<span class='col-md-4 col-xs-4 hideme'>
				<img src="images/meter.png" width='75'>
			</span>
			<span class='col-md-12 col-xs-12'>
				<br>
				<p>Each unit has a meter that keeps track of the electricity consumed.</p>
			</span>
			
			<div class='col-md-16 col-xs-5'>
				<hr class='hideme'>
				<br>
			</div>

			<span class='col-md-4 col-xs-4 hideme'>
				<img src="images/billing.png" width='75'>
			</span>
			<span class='col-md-12 col-xs-12'>
				<br>
				<p>Every month we bill customers for the electricty consumed, and reimburse the building for the electricity all Evercharge units consumed.</p>

			</span>
			
		</div>
	</article>
{% endblock %}