{% extends 'layout/base.html' %}

{% block banner_class %}
    class="ec-banner ec-stretch-teal"
{% endblock %}

{% block banner_text %}
    <h1 class="white">Customer Log In</h1>
    
{% endblock %}

{% block video %}
{% endblock %}

{% block quote_form %}
    <div class="ec-stretch-white">
        <div class="container">
            <div class="row">
                <div class="col-xs-16 col-md-offset-4 col-md-8">
                    <p class="extra-bottom-lg text-center">If you are an existing EverCharge customer, login below to access account, charging, and billing information.</p>
                    <form id='login' action="" method='post' class="validate-form">
                        <fieldset>
                            <div class="form-group login-page">
                                <input type="email" placeholder="Email Address" name="email" class="form-control">
                            </div>
                            <div class="form-group login-page">
                                <input type="password" placeholder="Password" name="password" class="form-control">
                            </div>

                            {% if error %}
                                <div id="login_error">
                                    <p class="error"><strong>Error:</strong> {{ error }}</p>
                                </div>
                            {% endif %}

                            <input id="final_submit_button" type="submit" class="ec-button-teal block extra-bottom-lg" value="Log In">
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}