{% extends 'layout/base.html' %}

{% block banner_class %}
    class="parallax img-why-ec" data-speed="4" data-type="background"
{% endblock %}

{% block banner_text %}
    <h1>Multifamily</h1>
    <h1 class="subhead">The only fully-managed charging solution designed for multi-family communities.</h1>
{% endblock %}

{% block content_one %}
    {#    TODO: make this teal and make like on /tesla#}
    <div class="extra-stretch section-handle">
        <div class="overlay-teal"></div>
        <div class="container">
            {% include 'blocks/2g_we_handle_everything.html' %}
            <div class="clearfix"></div>
            <div class="col-xs-12">
                <hr class="ec-hr-extra" />
            </div>
        </div>
    </div>
    <div class="ec-stretch-white">
        <div class="container">
            {% include 'blocks/2b_dedicated_charging.html' %}
            <div class="clearfix"></div>
            <div class="col-xs-12">
                <hr class="ec-hr-extra" />
            </div>
            {% include 'blocks/1b_smart_power.html' %}
            <div class="clearfix"></div>
            <div class="col-xs-12">
                <hr class="ec-hr-extra" />
            </div>
{#            link to the case studies page#}
            {% include 'blocks/2d_case_studies.html' %}
            <div class="clearfix"></div>
            <div class="col-xs-12">
                <hr class="ec-hr-extra" />
            </div>
            {% include 'blocks/2e_install_services.html' %}
            <div class="clearfix"></div>
            <div class="col-xs-12">
                <hr class="ec-hr-extra" />
            </div>
            {% include 'blocks/2f_billing_admin.html' %}
            <div class="clearfix"></div>
            <div class="col-xs-12">
                <hr class="ec-hr-extra" />
            </div>
            {% include 'blocks/2h_future_ready.html' %}
            <div class="clearfix"></div>
            <div class="col-xs-12">
                <hr class="ec-hr-extra" />
            </div>
        </div>
    </div>
{% endblock %}
