{% extends 'layout/base.html' %}

{% block banner_class %}
    class="parallax img-why-ec" data-speed="4" data-type="background"
{% endblock %}

{% block banner_text %}
    <h1>Why EverCharge</h1>
    <h1 class="subhead">EverCharge combines unmatched technology, industry leading expertise, and unparallel cost savings for apartments and condominiums.</h1>
{% endblock %}

{% block content_one %}
    <div class="ec-stretch-white">
        <div class="container">
            {% include 'blocks/2b_dedicated_charging.html' %}
            <div class="clearfix"></div>
            <div class="col-xs-12">
                <hr class="ec-hr-extra" />
            </div>
            {% include 'blocks/1b_smart_power.html' %}
            <div class="clearfix"></div>
            <div class="col-xs-12">
                <hr class="ec-hr-extra" />
            </div>
            {% include 'blocks/2d_case_studies.html' %}
            <div class="clearfix"></div>
            <div class="col-xs-12">
                <hr class="ec-hr-extra" />
            </div>
            {% include 'blocks/2e_install_services.html' %}
            <div class="clearfix"></div>
            <div class="col-xs-12">
                <hr class="ec-hr-extra" />
            </div>
            {% include 'blocks/2f_billing_admin.html' %}
            <div class="clearfix"></div>
            <div class="col-xs-12">
                <hr class="ec-hr-extra" />
            </div>
        </div>
    </div>
{% endblock %}
