{% extends 'layout/base.html' %}

{% block background %}
	<img src="images/building-1.jpg" alt="image description" width="1200" height="526">
{% endblock %}

{% block maincontent %}
{% endblock %}

{% block video %}
{% endblock %}

{% block content_one %}
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-14">
                <div class="ec-schneider-partner ec-box-white-border">
                    <img src="images/EverCharge-Schneider-logos.jpg" alt="EverCharge and Shneider Electric" class="img-responsive" />
                </div>
            </div>
        </div>
    </div>

	<article class='jumbotron whitejumbo hidden-xs'></article>

    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-12">
                <h2 class="ec-teal">Schneider Partnership</h2>
                <p class="black">EverCharge has the full backing and support of Schneider Electric, further enabling the widespread adoption of EVs in cities.</p>
                <p class="black">The partnership will integrate Schneider Electric's EVlink Home EV Charger with EverCharge's SmartPower technology to solve the challenge of EV station installation in multi-tenant facilities including apartments, condominiums, and offices.</p>
                <br>
                <br>
                <h4 class="ec-caps">About Schneider Electric</h4>
                <p class="black">Schneider Electric is the global specialist in energy management and automation. With revenues of $30 billion in FY2014, our 170,000 employees serve customers in over 100 countries, helping them to manage their energy and process in ways that are safe, reliable, efficient and sustainable. From the simplest of switches to complex operational systems, our technology, software and services improve the way our customers manage and automate their operations.</p>
                <br><br><br><br>
            </div>
            <div class="col-md-offset-2 col-md-6">
                <a class="ec-button-teal-border" href="http://blog.evercharge.net/schneider-electric-and-evercharge-collaborate-to-accelerate-electric-vehicle-charging-in-multi-tenant-buildings/">View full press release &#8594;</a>
            </div>
        </div>
    </div>
    <br><br><br><br><br>
{% endblock %}

{% block custom_scripts %}
{% endblock %}
