{% extends 'layout/base.html' %}

{% block background %}
	<img src="images/building-1.jpg" alt="image description" width="1200" height="526">
{% endblock %}

{% block maincontent %}
	<header id='thankyouHeader'>
		<script>(function() {
		  var _fbq = window._fbq || (window._fbq = []);
		  if (!_fbq.loaded) {
		    var fbds = document.createElement('script');
		    fbds.async = true;
		    fbds.src = '//connect.facebook.net/en_US/fbds.js';
		    var s = document.getElementsByTagName('script')[0];
		    s.parentNode.insertBefore(fbds, s);
		    _fbq.loaded = true;
		  }
		})();
		window._fbq = window._fbq || [];
		window._fbq.push(['track', '6030657035620', {'value':'0.00','currency':'USD'}]);
		</script>
		<noscript><img height='1' width='1' alt='' style='display:none' src='https://www.facebook.com/tr?ev=6030657035620&amp;cd[value]=0.00&amp;cd[currency]=USD&amp;noscript=1' /></noscript>

		<script src="//platform.twitter.com/oct.js" type="text/javascript"></script>
		<script type="text/javascript">twttr.conversion.trackPid('l6v64', { tw_sale_amount: 0, tw_order_quantity: 0 });</script>
		<noscript>
			<img height="1" width="1" style="display:none;" alt="" src="https://analytics.twitter.com/i/adsct?txn_id=l6v64&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0" />
			<img height="1" width="1" style="display:none;" alt="" src="//t.co/i/adsct?txn_id=l6v64&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0" />
		</noscript>
	</header>
{% endblock %}

{% block video %}
{% endblock %}

{% block intro %}
	<div class="container">
		<div class="row">
			<div class="col-md-offset-1 col-md-14">
				<div class="ec-schneider-partner ec-box-white-border">
					<img src="images/EverCharge-Schneider-logos.jpg" alt="EverCharge and Shneider Electric" class="img-responsive" />
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block content_one %}
	<article class='jumbotron whitejumbo'></article>
{% endblock %}

{% block content_two %}
	<article class='jumbotron whitejumbo'></article>
{% endblock %}

{% block content_three %}
	<div class="container">
		<div class="row">
			<div class="col-md-offset-2 col-md-12">
				<h2 class="ec-teal">Schneider Partnership</h2>
				<p class="black">EverCharge has the fully backing and support of Schneider Electric further enabling the widespread adoption of EVs in cities.</p>
				<p class="black">The partnership will integrate Schneider Electric’s EVlink Home EV Charger with its SmartPower technology to solve the challenge of EV station installation in multi-tenant facilities including apartments, condominiums, and offices.</p>
				<br>
				<br>
				<h4 class="ec-caps">About Schneider Electric</h4>
				<p class="black">Schneider Electric is the global specialist in energy management and automation. With revenues of $30 billion in FY2014, our 170,000 employees serve customers in over 100 countries, helping them to manage their energy and process in ways that are safe, reliable, efficient and sustainable. From the simplest of switches to complex operational systems, our technology, software and services improve the way our customers manage and automate their operations.</p>
				<br><br><br><br>
			</div>
			<div class="col-md-offset-2 col-md-6">
				<a class="ec-button-teal-border" href="http://blog.evercharge.net/schneider-electric-and-evercharge-collaborate-to-accelerate-electric-vehicle-charging-in-multi-tenant-buildings/">View full press release &#8594;</a>
			</div>
		</div>
	</div>
	<br><br><br><br><br>
{% endblock %}


{% block custom_scripts %}
	<script type="text/javascript" src="js/conditionalform.js"></script>
{% endblock %}
