{% extends 'base.html' %}

{% block background %}
	<img src="images/garage_wall.jpg" alt="image description" width="1200" height="526">
{% endblock %}

{% block maincontent %}
	<div class="col-md-14 col-md-offset-1 article-quote">
			<div id='large_green_circle'>
				<h1 class='new_header'>Power<br>Management</h1>
			</div>
		<br>
	</div>
{% endblock %}

{% block video %}
{% endblock %}

{% block content_one %}
	<article class='jumbotron whitejumbo white_space'>
		<h2>Our Patented Power Management System</h2>
		<hr class='extra_short'><br>
		<h4 class='extra_padded'>Evercharge learns each driver's unique behavior through our Power Management System. The system splits available power and allocates it to vehicles as needed - ensuring every Evercharge customer gets the power they need, when they need it.</h4>

	</article>

	<section class="parallax narrow" data-speed="4" data-type="background" id='parallax_process'>
			<div class="container">
				<div class="row-fluid">
					<h1 class='parallax_header'>Overview</h1>
				</div>
			</div>
	</section>

	<article class='jumbotron whitejumbo'>
		<div class='row features'>
			<div class='col-md-4 hidden-xs'></div>
			<article class='col-md-8 col-xs-5'>
				<h4>
					Evercharge’s power management technology maximizes a building’s potential by significantly increasing the number of EVs that can charge at a given site before costly infrastructure upgrades are needed.
				</h4>
				<br>
				<h4>
					Power is intelligently managed based on the number of vehicles using the system and available power for charging. When Evercharge senses extra power is available, or that the rated capacity is reached, the system allocates power to vehicles according to their needs. Power management maximizes total charging while preventing system overloads. In short, power management maximizes your building's infrastructure usage while reducing costs
				</h4>
			</article>
			<div class='col-md-4 hidden-xs'></div>
		</div>
	</article>

	<section class="parallax narrow" data-speed="4" data-type="background" id='parallax_process'>
			<div class="container">
				<div class="row-fluid">
					<h1 class='parallax_header'>How it Works</h1>
				</div>
			</div>
	</section>

	<article class='jumbotron whitejumbo'>
		<div class='row features'>
			<div class='col-md-4 hidden-xs'></div>
			<article class='col-md-8 col-xs-5'>
				<h2>Wireless Mesh Network<h2>
					<hr>
					<h4>
						 Evercharge chargers within the same garage, communicate with one another over a wireless mesh network. This network enables the system to perform real-time load balancing to ensure the system remains under the rated capacity at all times.
					</h4>
				<br>
				<h2>Power Allocation<h2>
					<hr>
					<h4>
						As a user plugs in his or her car and taps their RFID card, the system performs a series of safety checks confirming the available power among the charge group. If mulitple cars within a charge group are plugged in, and charging each simultaneously at full pwer will exceed the total power allocated to the group, Evercharge will redistribute the available power among vehicles.
					</h4>
				<br>
				<h2>Prevent Power Dillution</h2>
					<hr>
					<h4>
						As a data-driven company, Evercharge analyzes building demographics and driving behaviors to advise on the number of vehicles your infrastructure can support using our system. Evercharge will never allow a building to dilute power to a level that will not provide sufficient levels of charge and performance. On average drivers only need 2-3 hours of charging per day (40-60 miles) and residents come in at varied times, offering us a wide window to fully charge vehicles.
					</h4>
				<br>
				<h2>Leveraging Varied Power Draws</h2>
					<hr>
					<h4>	
						Power draw varies based on vehicle type and position in the battery cycle. As a battery reaches full capacity it will not accept full power from the charger, which opens up an opportunity for Evercharge to reallocate power to other vehicles. The figure below demonstrates this principle.
					</h4>

			</article>
			<div class='col-md-4 hidden-xs'></div>

			<div class='col-md-16 col-xs-5'>
				<br>
				<img src='images/power_man.png' class='desaturate' id='three_car'>
			</div>
	</article>

	<section class="parallax narrow" data-speed="4" data-type="background" id='parallax_process'>
			<div class="container">
				<div class="row-fluid">
					<h1 class='parallax_header'>Evercharge In Action: Expample Usage</h1>
				</div>
			</div>
	</section>
	<article class='whitejumbo jumbotron'>
		<div class='row features'>
			<div class='col-md-4 hidden-xs'></div>
			<article class='col-md-8 col-xs-16'>
				<h4>
					A 100 amp panel serves a 5-car charge group. When the first car plugs in, it receives 30 amps. When a second and third car plug in, they also receive 30 amps. Now 90 amps of power are being used.
				</h4><br>
				
				<h4>
					With a traditional charging system, no more chargers could be installed; this is where power management takes off.
				</h4><br>

				<h4>
					When the next car plugs in, the system evenly distributes the 100 amps among the vehicles providing 25 amps to four vehicles. If a fifth car plugs in, all five receive 20 amps.
				</h4><br>
				
				<h4>
					As vehicles reach full capacity and take on less power or complete charging, the additional power is pushed back to the remaining vehicles. So, when the first car finishes charging, the four remaining cars will be receiving 25 amps. When another finishes, they will all go up to their full charging potential, 30 amps.
				</h4>
			</article>
			<div class='col-md-4 hidden-xs'></div>
	</article>


	<section class="parallax narrow" data-speed="4" data-type="background" id='parallax_process'>
			<div class="container">
				<div class="row-fluid">
					<h1 class='parallax_header'>Safety and Compliance</h1>
				</div>
			</div>
	</section>

	<article class='whitejumbo jumbotron'>
		<div class='row features'>
			<div class='col-md-4 hidden-xs'></div>
			<article class='col-md-8 col-xs-16'>
			<h4>
				EverCharge maintains UL 916 Energy Management Equipment certification.
			</h4><br>
			<h4>
				EverCharge equipment is safety tested and complies with NEC and UL safety standards and meets the requirements for Association approval under California Civil Code Section 4745 (formerly 1353.9).
			</h4>
			</article>
			<div class='col-md-4 hidden-xs'></div>
		</div>
	</article>

{% endblock %}