{% extends "layout/base.html" %}

{% block banner_class %}
    class="parallax img-press" data-speed="4" data-type="background"
{% endblock %}

{% block banner_text %}
    <h1 class="white">Press Resources</h1>
{% endblock %}

{% block video %}
{% endblock %}

{% block content_one %}
    <div class="ec-stretch-white">
        <div class="container">
            <div class="row">
                <div class="col-xs-16">
                    <h3 class="text-center">
                        Contact us at <a href="mailto:press@evercharge.net">press@evercharge.net</a> for any press inquiries.
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-16 text-center extra-bottom-lg">
                    <h2 class="bitter">EverCharge provides an intelligent, scalable, fully-managed EV charging solution that enables more residents to charge their vehicles than any other competitor</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-16 col-sm-8 col-md-offset-2 col-md-6">
                    <h4 class="ec-caps">We go by</h4>
                    <p>EverCharge</p>
                </div>
                <div class="col-xs-16 col-sm-8 col-md-6">
                    <h4 class="ec-caps">We do <strong>not</strong> go by</h4>
                    <p>Evercharge, everCharge, evercharge, or eVerCHarGe</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-16 col-sm-8 col-md-offset-2 col-md-6">
                    <h4 class="ec-caps">History</h4>
                    <p>Founded in 2013 by CEO Jason Appelbaum</p>
                </div>
                <div class="col-xs-16 col-sm-8 col-md-6">
                    <h4 class="ec-caps">Our Locations</h4>
                    <p>We are headquartered in Emeryville, CA with offices in San Francisco</p>
                </div>
            </div>
        </div>
    </div>

    <div class="ec-stretch-lt-teal">
        <div class="container">
            <div class="row text-center">
                <div class="col-sm-offset-2 col-sm-4">
                    <a href="https://twitter.com/evercharge" class="ec-social-media-circle">
                        <i class="fa fa-lg fa-twitter"></i>
                    </a>
                    <p>@evercharge</p>
                </div>
                <div class="col-sm-4">
                    <a href="https://www.facebook.com/evevercharge" class="ec-social-media-circle">
                        <i class="fa fa-lg fa-facebook"></i>
                    </a>
                    <p>/evevercharge</p>
                </div>
                <div class="col-sm-4">
                    <a href="https://www.youtube.com/channel/UCritiZhotBAkumyJKOsl_5w" class="ec-social-media-circle">
                        <i class="fa fa-lg fa-youtube"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="ec-stretch-white">
        <div class="container">
            <div class="row">
                <div class="col-xs-16">
                    <h2>Press Package</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-16 col-sm-7">
                    <img src="images/building-5.jpg" class="img-responsive">
                    <p><strong>Logo</strong></p>
                    <p><a href="#">.eps</a> | <a href="#">.jpg</a> | <a href="#">.png</a></p>
                </div>
            </div>
        </div>
    </div>


    <div class="ec-stretch-white">
        <div class="container">
        	<h1>Press Package</h1>
        	<div class="row">
        		<div class="col-sm-16">
        			Download:
        			<a href="EverCharge-logo-files.zip" download="EverCharge-logo-files.zip">Logo (eps, jpg, png)</a> |
        			<a href="evercharge-branding-guide-logo.pdf" download="evercharge-branding-guide-logo.pdf">Logo Usage Guide</a> |
        			<a href="images/EverCharge-press-1.jpg" download="EverCharge-press-1.jpg">Press Image</a>
        		</div>
        	</div>
        </div>
    </div>

    <div class="ec-stretch-white">
        <div class="container">
        	<h1>Our Colors</h1>

        	<div class="row">
        		<div class="palette col-xs-offset-0 col-xs-16 col-sm-offset-3 col-sm-4">
        			<div class="color_circle ec-teal"></div>
        			<p class="large_text">EverCharge Teal</p>
        			<p><strong>PMS</strong> 3272 C</p>
        			<p><strong>HEX</strong> #00A499</p>
        			<p><strong>CMYK</strong> (94, 0, 48, 0)</p>
        			<p><strong>RGB</strong> (0, 164, 153)</p>
        		</div>
        		<div class="palette col-xs-16 col-sm-4">
        			<div class="color_circle ec-dk-gray"></div>
        			<p class="large_text">Dark Gray</p>
        			<p><strong>PMS</strong> Black 6 C</p>
        			<p><strong>HEX</strong> #333333</p>
        			<p><strong>CMYK</strong> (0, 0, 0, 95)</p>
        			<p><strong>RGB</strong> (51, 51, 51)</p>
        		</div>
        		<div class="palette col-xs-16 col-sm-4">
        			<div class="color_circle ec-lt-gray"></div>
        			<p class="large_text">Light Gray</p>
        			<p><strong>PMS</strong> Cool Gray 1</p>
        			<p><strong>HEX</strong> #EDEDED</p>
        			<p><strong>CMYK</strong> (0, 0, 0, 7)</p>
        			<p><strong>RGB</strong> (237, 237, 237)</p>
        		</div>
        	</div>
        </div>
    </div>


    <div class="ec-stretch-white">
        <div class="container">
        	<h1>Additional Resources</h1>
        	<div class="row">
        		<h2>Videos</h2>
        		<br>

        		<div class="col-md-8 col-xs-16">
        			<a href="https://www.youtube.com/watch?v=M4t47yjCGWw" target="_blank"><img src="/images/ev_driver_video.png" class="desaturate"></a>
        			<h2 class="diff_title">
        				<a href="https://www.youtube.com/watch?v=M4t47yjCGWw" target="_blank">For EV Drivers</a>
        			</h2>
        		</div>
        		<div class="col-md-8 col-xs-16">
        			<a href="https://www.youtube.com/watch?v=8fpj8MhywaU" target="_blank"><img src="/images/hoa.png" class="desaturate"></a>
        			<h2 class="diff_title">
        				<a href="https://www.youtube.com/watch?v=8fpj8MhywaU" target="_blank">For Property Managers</a>
        			</h2>
        		</div>
        	</div>
        </div>
    </div>

{% endblock %}

{% block quote_form %}
{% endblock %}

{% block custom_scripts %}
{% endblock %}
