{% extends 'layout/base.html' %}

{% block background %}
	<img src="images/three_char.jpg" alt="image description" width="1200" height="526">
{% endblock %}

{% block maincontent %}
	<div class="col-md-14 col-md-offset-1 article-quote">

			<div id='large_green_circle'>
				<h1 class='new_header'>Press Resources</h1>
				<h2 class='tagline hidden_mobile'>
					For further inquiries contact us at <br>
					<br><a href="mailto:press@evercharge.net">press@evercharge.net</a>
				</h2>
			</div>
		<br>
	</div>
{% endblock %}

{% block video %}
{% endblock %}

{% block content_one %}
<section class="parallax" data-speed="4" data-type="background" >
	<div class="container">
		<div class="row-fluid">
			
		</div>
	</div>
</section>

<article class='jumbotron whitejumbo'>
<h2>We go by:</h2>
<h4>EverCharge</h4>
<hr class='short'>

<h2>We do not go by:</h2>
<h4>Evercharge</h4>
<h4>evercharge</h4>
<h4>eVerCHarGe</h4>
<hr class='short'>

<h2>What we do:</h2>
<h4>A lot of cool shit that Joseph is going to write about</h4>
<hr class='short'>

<h2>Our History:</h2>
<h4>Is long and storied</h4>
<h4 class='short'>

<h2>Social Media Links</h2>
<a href="https://twitter.com/evercharge">
	<i class="fa fa-twitter-square"></i>
</a>
<a href="https://www.facebook.com/evevercharge">
	<i class="fa fa-facebook-square"></i>
</a>


</article>

<section class="parallax" data-speed="4" data-type="background" >
	<div class="container">
		<div class="row-fluid">
			
		</div>
	</div>
</section>

<article class='jumbotron whitejumbo'>
LOGO
</article>

<section class="parallax" data-speed="4" data-type="background" >
	<div class="container">
		<div class="row-fluid">
			
		</div>
	</div>
</section>

<article class='jumbotron whitejumbo'>
COLORS
</article>

<section class="parallax" data-speed="4" data-type="background" >
	<div class="container">
		<div class="row-fluid">
			
		</div>
	</div>
</section>

<article class='jumbotron whitejumbo'>
VIDEOS
</article>

{% endblock %}

{% block quote_form %}
{% endblock %}

{% block custom_scripts %}
{% endblock %}
