{% extends 'layout/base.html' %}

{% block background %}
	<img src="images/three_char.jpg" alt="image description" width="1200" height="526">
{% endblock %}

{% block maincontent %}
	<div class="col-md-14 col-md-offset-1 article-quote">

			<div id='large_green_circle'>
				<h1 class='new_header'>Press Resources</h1>
				<h2 class='tagline hidden_mobile'>
					For further inquiries contact us at
					<br><a href="mailto:press@evercharge.net">press@evercharge.net</a>
				</h2>
			</div>
		<br>
	</div>
{% endblock %}

{% block video %}
{% endblock %}

{% block content_one %}


<article class='jumbotron whitejumbo'>
	<h1>Our Info</h1>
	<br>
	<br>
	<div class='row features'>
		<div class='col-md-4 hidden-xs'></div>
		<div class='col-md-8 col-xs-16'>
			<h3>We go by:</h3>
			<hr class='short'>
			<h2 class='press'>EverCharge</h2>
		</div>
		<div class='col-md-4 hidden-xs'></div>
	</div>
	<div class='row features'>

		<div class='col-md-4 hidden-xs'></div>
		<div class='col-md-8 col-xs-16'>
			<h3>We do <strong>not</strong> go by:</h3>
			<hr class='short'>
			<h2 class='press'>Evercharge, everCharge, evercharge, or eVerCHarGe</h2>
		</div>
		<div class='col-md-4 hidden-xs'></div>
	</div>
	<div class='row features'>
		<div class='col-md-4 hidden-xs'></div>
		<div class='col-md-8 col-xs-16'>
			<h3>What we do:</h3>
			<hr class='short'>
			<h2 class='press'>EverCharge provides an intelligent, scalable, fully-managed EV charging solution that enables more residents to charge their vehicles then any other competitor</h2>
		</div>
		<div class='col-md-4 hidden-xs'></div>
	</div>
	<div class='row features'>
		<div class='col-md-4 hidden-xs'></div>
		<div class='col-md-8 col-xs-16'>
			<h3>Our History:</h3>
			<hr class='short'>
			<h2 class='press'>
				Founded in 2013 by CEO Jason Appelbaum
			</h2>
		</div>
		<div class='col-md-4 hidden-xs'></div>
	</div>
	<div class='row features'>
		<div class='col-md-4 hidden-xs'></div>
		<div class='col-md-8 col-xs-16'>
			<h3>Our Locations:</h3>
			<hr class='short'>
			<h2 class='press'>
				We are headquarted Oakland, CA with offices in San Francisco
			</h2>
		</div>
		<div class='col-md-4 hidden-xs'></div>
	</div>
	<div class='row features'>
		<div class='col-md-4 hidden-xs'></div>
		<div class='col-md-8 col-xs-16'>
			<h3>Social Media</h3>
			<hr class='short'>

			<a href="https://twitter.com/evercharge">
				<button class='flat_button normalize_case'><i class="fa fa-twitter"></i> @EverCharge</button>
			</a>
			<a href="https://www.facebook.com/evevercharge">
				<button class='flat_button normalize_case'><i class="fa fa-facebook"></i> EverCharge</button>
			</a>
			<a href="https://www.youtube.com/channel/UCritiZhotBAkumyJKOsl_5w">
				<button class='flat_button normalize_case'><i class="fa fa-youtube-play"></i> EverCharge</button>
			</a>
		</div>
		<div class='col-md-4 hidden-xs'></div>
	</div>

</article>


<article class='jumbotron greyjumbo'>
	<h1>Our Logo</h1>
	
	<br>

	<div class='row features'>
		<div class='col-md-16 col-xs-5'>
			<img id='press_logo' src='images/badge_logo_medium.gif'>
		</div>
		<div class='col-md-16 col-xs-5'>
			<a href="images/badge_logo_small.gif" download="evercharge_small.gif">SMALL</a> |
			<a href="images/badge_logo_medium.gif" download="evercharge_medium.gif">MEDIUM</a> |
			<a href="images/badge_logo_large.gif" download="evercharge_large.gif">LARGE</a>
		</div>
	</div>

</article>



<article class='jumbotron whitejumbo'>
	<h1>Our Color</h1>
	
	<br>

	<div class='row features'>
		<div class='col-md-16 col-xs-5'>
			<div class='color_circle'>
			</div>
		</div>
		<div class='col-md-16 col-xs-5'>
			<h3>Pigment Green</h3>
			<hr class='extra_short'>
				<strong>Hex:</strong> #14AB58
				<br><strong>RGB:</strong> 20, 171, 88
				<br><strong>CMYK:</strong>182, 1, 185, 1
		</div>
	</div>
</article>


<article class='jumbotron greyjumbo'>
	<h1>Additional Resources</h1>
	<br>
	<div class='row features'>
		<h2>Our Images & Icons</h2>
		<hr class='short'>
		<br>
		<div class='col-md-2 xs-hidden'></div>
		<div class='col-md-4 col-xs-16'>
			<img src='images/logo_power_management.png'>
			<h2 class='diff_title'>
				<a href='images/logo_power_management.png' download='power_management.png'>Download</a>
			</h2>
		</div>
		<div class='col-md-4 col-xs-16'>
			<img src='images/logo_public_charging.png'>
			<h2 class='diff_title'>
				<a href='images/logo_public_charging.png' download='public_charging.png'>Download</a>
			</h2>
		</div>
		<div class='col-md-4 col-xs-16'>
			<img src='images/logo_insurance.png'>
			<h2 class='diff_title'>
				<a href='images/logo_insurance.png' download='complete_coverage'>Download</a>
			</h2>
		</div>
		<div class='col-md-2 xs-hidden'></div>
	</div>
	<div class='row features'>
		<br>
		<h2>Videos</h2>

		<hr class='short'>
		<br>

		<div class='col-md-8 col-xs-16'>
			<a href='https://www.youtube.com/watch?v=M4t47yjCGWw' target='_blank'><img src='/images/ev_driver_video.png' class='desaturate'></a>
			<h2 class='diff_title'>
				<a href='https://www.youtube.com/watch?v=M4t47yjCGWw' target='_blank'>For EV Drivers</a>
			</h2>
		</div>
		<div class='col-md-8 col-xs-16'>
			<a href='https://www.youtube.com/watch?v=8fpj8MhywaU' target='_blank'><img src='/images/hoa.png' class='desaturate'></a>
			<h2 class='diff_title'>
				<a href='https://www.youtube.com/watch?v=8fpj8MhywaU' target='_blank'>For Property Managers</a>
			</h2>
		</div>
	</div>

</article>

{% endblock %}

{% block quote_form %}
{% endblock %}

{% block custom_scripts %}
{% endblock %}
