{% extends 'layout/base.html' %}

{% block content_one %}
    <section class="page-content">
        <div class="container">
            <div class="green-box inner-top-green">
							<div class="green-content">
									<h2>Privacy Policy</h2>									
							</div>
						</div>
						<div class="space-bar"></div>
						<div>							
							<p style="line-height:20px">Protecting your private information is our priority. This Statement of Privacy applies to information we may collect from you or that you provide when you use the EverCharge website and governs our policies and practices relating to data collection and usage. For the purposes of this Privacy Policy, unless otherwise noted, all references to EverCharge and EverCharge EV charging services are intended to refer to EverCharge, Inc., a Delaware Corporation. By using the EverCharge website, you consent to the data practices described in this statement. If you do not agree with our policies and practices, do not use or access the EverCharge website.<br><br></p>

							<p style="line-height:20px"><strong>Collection of your Personal Information</strong></p>
							<p style="line-height:20px">In order to better provide you with products and services offered, EverCharge may collect personally identifiable information, such as:</p>
							<ul style="list-style-type: circle; margin-left: 20px;">
								<li>First and Last Name</li>
								<li>Mailing Address</li>
								<li>E-mail Address</li>
								<li>Phone Number</li>
							</ul>
							<p style="line-height:20px">If you purchase EverCharge's products and services through the EverCharge website, we collect billing and credit card information. This information is collected to complete the  transaction.<br><br>
							Unless stated in this Statement of Privacy, we do not collect any personal information about you unless you voluntarily provide to EverCharge. You may be required to provide certain personal information to EverCharge when you elect to use certain products or services. These may include: (a) registering for an account; (b) sending EverCharge an email message; (c) submitting your credit card or other payment information when purchasing products and services. To wit, we will use your information for, but not limited to, communicating with you in relation to services and/or requested products from EverCharge. We also may gather additional personal or non-personal information in the future.<br><br>
							In some countries, including countries in the European Economic Area (“EEA”), the information referenced in this Statement of Privacy may be considered personal information under applicable data protection laws. If you do not want us to collect this information, do not use the EverCharge website.<br><br></p>

							<p style="line-height:20px"><strong>Use of your Personal Information </strong></p>
							<p style="line-height:20px">EverCharge collects and uses your personal information to operate and deliver the requested services, to provide you with support, for sales and marketing action, billing, and to meet contractual obligations.<br><br>
								EverCharge may also use your personally identifiable information to inform you of other products or services available from EverCharge and its affiliates.<br><br></p>

							<p style="line-height:20px"><strong>Sharing Information with Third Parties</strong></p>
							<p style="line-height:20px">EverCharge does not sell, rent or lease its user’s information to third parties.<br><br>
								EverCharge may share data with trusted partners to help perform statistical analysis, send you email or postal mail, provide customer support, or arrange for deliveries. We may also share data with contractors, service providers, and other third parties we use to support our business, and to fulfill the purpose for which you provide it. All such third parties are prohibited from using your personal information except to provide these services to EverCharge, and they are required to maintain the confidentiality of your information.<br><br>
								EverCharge may also share data to a buyer or other successor in the event of a merger, divesture, restructuring, or other sale or transfer of some or all of EverCharge’s assets, in which personal information held by EverCharge about the EverCharge website is among the assets transferred,
								<br>
								EverCharge may disclose your personal information, without notice, if required to do so by law or in the good faith belief that such action is necessary to: (a) conform to the edicts of the law or comply with legal process served on EverCharge or the site; (b) protect and defend the rights or property of EverCharge; and/or (c) act under exigent circumstances to protect the personal safety of users of the EverCharge website, or the public.<br><br></p>

							<p style="line-height:20px"><strong>Tracking User Behavior</strong></p>
							<p style="line-height:20px">EverCharge may keep track of the websites and pages our users visit within EverCharge&rsquo;s website, in order to determine what EverCharge services are the most popular. This data is used to deliver customized content within EverCharge to customers whose behavior indicates that they are interested in a particular subject area. EverCharge may use charging behavior to best optimize EverCharge&rsquo;s load management technology within EverCharge&rsquo;s charging network.<br><br></p>


							<p style="line-height:20px"><strong>To Not Track Settings</strong></p>
							<p style="line-height:20px">We do not track, plant cookies, or use advertising when a Do Not Track (DNT) browser
							mechanism is in place. Further, some third party websites track your browsing activities when
							you use their websites so that they can tailor their content to your preferences. If you are visiting
							such sites, your web browser may allow you to set the DNT signal on your browser so that third
							parties (particularly advertisers) know you do not want to be tracked.<br><br></p>

							<p style="line-height:20px"><strong>Automatically Collected Information</strong></p>
							<p style="line-height:20px">Information about your computer hardware and software may be automatically collected by EverCharge. This information can include: your IP address, browser type, domain names, access times and referring website addresses. This information is used for the operation of the service, to maintain quality of the service, and to provide general statistics regarding use of the EverCharge website.<br><br></p>

							<p style="line-height:20px"><strong>Use of Cookies</strong></p>
							<p style="line-height:20px">The EverCharge website may use "cookies" to help you personalize your online experience. A cookie is a text file that is placed on your hard disk by a web page server. Cookies cannot be used to run programs or deliver viruses to your computer. Cookies are uniquely assigned to you, and can only be read by a web server in the domain that issued the cookie to you.<br>
								One of the primary purposes of cookies is to provide a convenience feature to save you time. The purpose of a cookie is to tell the Web server that you have returned to a specific page. For example, if you personalize EverCharge pages, or register with EverCharge site or services, a cookie helps EverCharge to recall your specific information on subsequent visits. This simplifies the process of recording your personal information, such as billing addresses, shipping addresses, and so on. When you return to the same EverCharge website, the information you previously provided can be retrieved, so you can easily use the EverCharge features that you customized.<br><br>
								You have the ability to accept or decline cookies. Most web browsers automatically accept
								cookies, but you can decline cookies and modify your preferences by utilizing the Cookie
								Declaration on the EverCharge website. If you choose to decline cookies, you may not be able to
								fully experience the interactive features of the EverCharge services or websites you visit.<br><br></p>

							<p style="line-height:20px"><strong>Right to Deletion</strong></p>
							<p style="line-height:20px">Subject to certain exceptions set out below, on receipt of a verifiable request from you, we will:</p>
							<ul style="list-style-type: circle; margin-left: 20px;">
							  <li>Delete your personal information from our records; and</li>
							  <li>Direct any service providers to delete your personal information from their records.</li>
							</ul>

							<p style="line-height:20px"><br>Please note that we may not be able to comply with requests to delete your personal information if it is necessary to:</p>
							<ul style="list-style-type: circle; margin-left: 20px;">
							  <li>Complete the transaction for which the personal information was collected, fulfill the terms of a written warranty or product recall conducted in accordance with federal law, provide a good or service requested by you, or reasonably anticipated within the context of our ongoing business relationship with you, or otherwise perform a contract between you and us;</li>
							  <li>Detect security incidents, protect against malicious, deceptive, fraudulent, or illegal activity; or prosecute those responsible for that activity;</li>
							  <li>Debug to identify and repair errors that impair existing intended functionality;</li>
							  <li>Exercise free speech, ensure the right of another consumer to exercise his or her right of free speech, or exercise another right provided for by law;</li>
							  <li>Comply with the California Electronic Communications Privacy Act;</li>
							  <li>Engage in public or peer-reviewed scientific, historical, or statistical research in the public interest that adheres to all other applicable ethics and privacy laws, when our deletion of the information is likely to render impossible or seriously impair the achievement of such research, provided we have obtained your informed consent;</li>
							  <li>Enable solely internal uses that are reasonably aligned with your expectations based on your relationship with us;</li>
							  <li>Comply with an existing legal obligation; or</li>
							  <li>Otherwise use your personal information, internally, in a lawful manner that is compatible with the context in which you provided the information.</li>
							</ul>
							<br>


							<p style="line-height:20px"><strong>Your California Privacy Rights</strong></p>
							<p style="line-height:20px">California Civil Code Section § 1798.83 permits users of the EverCharge website that are California residents to request certain information regarding our disclosure of personal information to third parties for their direct marketing purposes. To make such a request, please send an email to Privacy@evercharge.com.<br><br></p>


							<p style="line-height:20px"><strong>Transferring your information</strong></p>
							<p style="line-height:20px">By using the EverCharge website, you authorize us to transfer and store your information outside your home country, including in the United States, for the purposes described in this Statement of Privacy. The privacy protections and the rights of authorities to access your information in these countries may not be the same as in your home country. We take additional measures when information is transferred from the European Economic Area (EEA). This includes having standard clauses approved by the European Commission in our contracts with parties that receive information outside the EEA. We also rely on European Commission adequacy decisions about certain countries, as applicable, for data transfers to countries outside the EEA.<br><br></p>


							<p style="line-height:20px"><strong>Children Under Thirteen</strong></p>
							<p style="line-height:20px">EverCharge does not knowingly collect personally identifiable information from children under the age of thirteen. If you are under the age of thirteen, you must ask your parent or guardian for permission to use this website.<br><br>If you are based in the EEA you may only use the EverCharge website if you are over the age at which you can provide consent to data processing under the laws of your country or if verifiable parental consent for your use of the EverCharge Website has been provided to us.<br><br></p>

							<p style="line-height:20px"><strong>E-mail Communications</strong></p>
							<p style="line-height:20px">From time to time, EverCharge may contact you via email for the purpose of providing announcements, promotional offers, alerts, confirmations, surveys, and/or other general communication. In order to improve our Services, we may receive a notification when you open an email from EverCharge or click on a link therein.<br>
								If you would like to stop receiving marketing or promotional communications via email from EverCharge, you may opt out of such communications by clicking on the UNSUBSCRIBE button.<br><br></p>



							<p style="line-height:20px"><strong>Data Security</strong></p>
							<p style="line-height:20px">We have implemented measures designed to secure your personal information from accidental loss and from unauthorized access. For example, access by a user to his or her personal information is available through an account created by the user. This information is encrypted through the EverCharge website and is also encrypted when it is stored by us to prevent unauthorized parties from viewing such information. All Company employees are required to adhere to our security and confidentiality procedures and undergo training related to maintaining the security of user personal information.<br><br>
							Unfortunately, the transmission of information via the internet is not completely secure. Although we do our best to protect your personal information, we cannot guarantee the security of your personal information transmitted to the EverCharge website. Any transmission of personal information is at your own risk. We are not responsible for circumvention of any privacy settings or security measures contained on the EverCharge website.<br><br></p>

							<p style="line-height:20px"><strong>EEA Users</strong></p>
							<p style="line-height:20px">You have options in relation to the information and data that we have about you.  To exercise any of the options discussed below, please contact us at privacy@evercharge.com. If you’re an EEA user, you may:
							<ul style="list-style-type: circle; margin-left: 20px;">
								<li>Access the information we have about you. We'll will make an effort to share this information with you within a reasonable time.</li>
								<li>Have your information corrected or deleted.</li>
								<li>Object to us processing your information.</li>
								<li>Withdraw your consent for us to collect and process your personal information at any time.</li>
								<li>Have the information you provided to us sent to another organization, where we hold this information with your consent or for the performance of a contract with you, where it's technically feasible.</li>
								<li>Complain to a regulator. If you're based in the EEA and think that we haven't complied with data protection laws, you have a right to lodge a complaint with the Data Protection Commission in Ireland or with your local supervisory authority.</li>
							</ul>
							<br>
							We respond to all requests we receive from individuals wishing to exercise their data protection rights in accordance with applicable data protection laws.<br><br></p>


							<p style="line-height:20px"><strong>Changes to this Statement</strong></p>
							<p style="line-height:20px">EverCharge reserves the right to change this Privacy Policy from time to time. We will notify you about significant changes in the way we treat personal information by sending a notice to the primary email address specified in your account, by placing a prominent notice on our website, and/or by updating any privacy information. Your continued use of the website and/or Services available after such modifications will constitute your: (a) acknowledgment of the modified Privacy Policy; and (b) agreement to abide and be bound by that Policy.<br><br></p>

							<p style="line-height:20px"><strong>Contact Information</strong></p>
							<p style="line-height:20px">EverCharge welcomes your questions or comments regarding this Statement of Privacy. If you believe that EverCharge has not adhered to this Statement, please contact EverCharge at:</p>

							<p style="line-height:20px">EverCharge<br>
								548 Market St #31647<br>
								San Francisco, California 94104-5401<br><br></p>

							<p style="line-height:20px">Email Address:<br>
								Privacy@evercharge.com<br><br></p>
							<p style="line-height:20px">Effective as of December 31, 2017</p>
							<p style="line-height:20px">Last Modified February 1, 2022</p>
							<br><br>
						</div>
        </div>
    </section>
{% endblock %}
