{% extends 'layout/base.html' %}

{% block content_one %}
    <section class="page-content">
        <div class="container">
            <div class="green-box inner-top-green">
							<div class="green-content">
									<h2>Privacy Policy</h2>									
							</div>
						</div>
						<div class="space-bar"></div>
						<div>							
							<p style="line-height:20px">Protecting your private information is our priority. This Statement of Privacy applies to EverCharge and governs data collection and usage. For the purposes of this Privacy Policy, unless otherwise noted, all references to EverCharge and EverCharge EV charging services. By using the EverCharge website, you consent to the data practices described in this statement.<br><br></p>

							<p style="line-height:20px"><strong>Collection of your Personal Information</strong></p>
							<p style="line-height:20px">In order to better provide you with products and services offered, EverCharge may collect personally identifiable information, such as:</p>
							<p style="line-height:20px">&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; First and Last Name</p>
							<p style="line-height:20px">&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Mailing Address</p>
							<p style="line-height:20px">&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; E-mail Address</p>
							<p style="line-height:20px">&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Phone Number</p>
							<p style="line-height:20px">If you purchase EverCharge's products and services, we collect billing and credit card information. This information is collected to complete the  transaction.<br><br>
							 We do not collect any personal information about you unless you voluntarily provide to EverCharge. You may be required to provide certain personal information to EverCharge when you elect to use certain products or services. These may include: (a) registering for an account; (b) sending EverCharge an email message; (c) submitting your credit card or other payment information when purchasing products and services. To wit, we will use your information for, but not limited to, communicating with you in relation to services and/or requested products from EverCharge. We also may gather additional personal or non-personal information in the future.<br><br></p>

							<p style="line-height:20px"><strong>Use of your Personal Information </strong></p>
							<p style="line-height:20px">EverCharge collects and uses your personal information to operate and deliver the requested services.<br><br>
								EverCharge may also use your personally identifiable information to inform you of other products or services available from EverCharge and its affiliates.<br><br></p>

							<p style="line-height:20px"><strong>Sharing Information with Third Parties</strong></p>
							<p style="line-height:20px">EverCharge does not sell, rent or lease its customer lists to third parties.<br><br>
								EverCharge may share data with trusted partners to help perform statistical analysis, send you email or postal mail, provide customer support, or arrange for deliveries. All such third parties are prohibited from using your personal information except to provide these services to EverCharge, and they are required to maintain the confidentiality of your information.<br><br>
								EverCharge may disclose your personal information, without notice, if required to do so by law or in the good faith belief that such action is necessary to: (a) conform to the edicts of the law or comply with legal process served on EverCharge or the site; (b) protect and defend the rights or property of EverCharge; and/or (c) act under exigent circumstances to protect the personal safety of users of EverCharge, or the public.<br><br></p>

							<p style="line-height:20px"><strong>Tracking User Behavior</strong></p>
							<p style="line-height:20px">EverCharge may keep track of the websites and pages our users visit within EverCharge&rsquo;s website, in order to determine what EverCharge services are the most popular. This data is used to deliver customized content within EverCharge to customers whose behavior indicates that they are interested in a particular subject area. EverCharge may use charging behavior to best optimize EverCharge&rsquo;s load management technology within EverCharge&rsquo;s charging network.<br><br></p>

							<p style="line-height:20px"><strong>Automatically Collected Information</strong></p>
							<p style="line-height:20px">Information about your computer hardware and software may be automatically collected by EverCharge. This information can include: your IP address, browser type, domain names, access times and referring website addresses. This information is used for the operation of the service, to maintain quality of the service, and to provide general statistics regarding use of the EverCharge website.<br><br></p>

							<p style="line-height:20px"><strong>Use of Cookies</strong></p>
							<p style="line-height:20px">The EverCharge website may use "cookies" to help you personalize your online experience. A cookie is a text file that is placed on your hard disk by a web page server. Cookies cannot be used to run programs or deliver viruses to your computer. Cookies are uniquely assigned to you, and can only be read by a web server in the domain that issued the cookie to you.<br>
								One of the primary purposes of cookies is to provide a convenience feature to save you time. The purpose of a cookie is to tell the Web server that you have returned to a specific page. For example, if you personalize EverCharge pages, or register with EverCharge site or services, a cookie helps EverCharge to recall your specific information on subsequent visits. This simplifies the process of recording your personal information, such as billing addresses, shipping addresses, and so on. When you return to the same EverCharge website, the information you previously provided can be retrieved, so you can easily use the EverCharge features that you customized.<br>
								You have the ability to accept or decline cookies. Most Web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. If you choose to decline cookies, you may not be able to fully experience the interactive features of the EverCharge services or websites you visit.<br><br></p>

							<p style="line-height:20px"><strong>Right to Deletion</strong></p>
							<p style="line-height:20px">Subject to certain exceptions set out below, on receipt of a verifiable request from you, we will:</p>
							<ul>
							  <li>Delete your personal information from our records; and</li>
							  <li>Direct any service providers to delete your personal information from their records.</li>
							</ul>

							<p style="line-height:20px">Please note that we may not be able to comply with requests to delete your personal information if it is necessary to:</p>
							<ul>
							  <li>Complete the transaction for which the personal information was collected, fulfill the terms of a written warranty or product recall conducted in accordance with federal law, provide a good or service requested by you, or reasonably anticipated within the context of our ongoing business relationship with you, or otherwise perform a contract between you and us;</li>
							  <li>Detect security incidents, protect against malicious, deceptive, fraudulent, or illegal activity; or prosecute those responsible for that activity;</li>
							  <li>Debug to identify and repair errors that impair existing intended functionality;</li>
							  <li>Exercise free speech, ensure the right of another consumer to exercise his or her right of free speech, or exercise another right provided for by law;</li>
							  <li>Comply with the California Electronic Communications Privacy Act;</li>
							  <li>Engage in public or peer-reviewed scientific, historical, or statistical research in the public interest that adheres to all other applicable ethics and privacy laws, when our deletion of the information is likely to render impossible or seriously impair the achievement of such research, provided we have obtained your informed consent;</li>
							  <li>Enable solely internal uses that are reasonably aligned with your expectations based on your relationship with us;</li>
							  <li>Comply with an existing legal obligation; or</li>
							  <li>Otherwise use your personal information, internally, in a lawful manner that is compatible with the context in which you provided the information.</li>
							</ul>
							<br>
							<p style="line-height:20px"><strong>Children Under Thirteen</strong></p>
							<p style="line-height:20px">EverCharge does not knowingly collect personally identifiable information from children under the age of thirteen. If you are under the age of thirteen, you must ask your parent or guardian for permission to use this website.<br><br></p>

							<p style="line-height:20px"><strong>E-mail Communications</strong></p>
							<p style="line-height:20px">From time to time, EverCharge may contact you via email for the purpose of providing announcements, promotional offers, alerts, confirmations, surveys, and/or other general communication. In order to improve our Services, we may receive a notification when you open an email from EverCharge or click on a link therein.<br>
								If you would like to stop receiving marketing or promotional communications via email from EverCharge, you may opt out of such communications by clicking on the UNSUBSCRIBE button.<br><br></p>

							<p style="line-height:20px"><strong>Changes to this Statement</strong></p>
							<p style="line-height:20px">EverCharge reserves the right to change this Privacy Policy from time to time. We will notify you about significant changes in the way we treat personal information by sending a notice to the primary email address specified in your account, by placing a prominent notice on our website, and/or by updating any privacy information. Your continued use of the website and/or Services available after such modifications will constitute your: (a) acknowledgment of the modified Privacy Policy; and (b) agreement to abide and be bound by that Policy.<br><br></p>

							<p style="line-height:20px"><strong>Contact Information</strong></p>
							<p style="line-height:20px">EverCharge welcomes your questions or comments regarding this Statement of Privacy. If you believe that EverCharge has not adhered to this Statement, please contact EverCharge at:</p>

							<p style="line-height:20px">EverCharge<br>
								548 Market St #31647<br>
								San Francisco, California 94104-5401<br><br></p>

							<p style="line-height:20px">Email Address:<br>
								Privacy@EverCharge.net<br><br></p>
							<p style="line-height:20px">Effective as of December 31, 2017</p>

							<br><br>
						</div>
        </div>
    </section>
{% endblock %}
