{% extends 'layout/base.html' %}

{% block background %}
	<img src="images/building-2.jpg" alt="image description" width="1200" height="526">
{% endblock %}

{% block maincontent %}
{% endblock %}

{% block video %}
{% endblock %}

{% block intro %}
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<div class="ec-title-box-intro blue">
					<h4 class="ec-caps">Properties</h4>
					<h1>Case Studies</h1>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block content_one %}
	<article class='jumbotron greyjumbo'></article>
{% endblock %}

{% block content_two %}
	<article class='jumbotron greyjumbo'></article>
{% endblock %}

{% block content_three %}
	<div class="greyjumbo">
		<div class="container">
			<div class="row">
				<div class="col-md-offset-1 col-md-6">
					<img src="images/200-brannan-exterior.jpg" class="img-responsive" />
					<div class="ec-box-white">
						<h2 class="ec-teal">200 Brennan</h2>
						<p>in San Francisco</p>
						<p class="black">Without EverCharge the building only had capacity to support 3 residents. With over 6 EV owners, SmartPower Technology makes it possible for more than ten residents to charge simultaneously making charging possible for years to come.</p>
						<p><a href="http://evercharge.net/potrero-case-study" target="_blank" class="ec-text-link">Read full case study &#8594;</a></p>
					</div>
				</div>
				<div class="col-md-offset-1 col-md-6">
					<img src="images/building-3.jpg" class="img-responsive" />
					<div class="ec-box-white">
						<h2 class="ec-teal">The Potrero</h2>
						<p>in San Francisco</p>
						<p class="black">The Homeowners Association turned to EverCharge after traditional solutions didn’t fit the needs or budget of the community. EverCharge provided a scalable and affordable electric vehicle charging solution to residents of the property. </p>
						<p><a href="http://www.pevcollaborative.org/sites/all/themes/pev/files/MUD_Brannan_final.pdf?utm_content=bufferda291&utm_medium=social&utm_source=twitter.com&utm_campaign=buffer" target="_blank" class="ec-text-link">Read full case study &#8594;</a></p>
					</div>
					<br>
					<br>
					<br>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-offset-1 col-md-14">
				<h1 class="ec-teal">Featured Properties</h2>
				<p>Located nationwide</p>
				<br>
				<br>
			</div>
			<div class="col-md-offset-1 col-md-3">
			</div>
		</div>
	</div>
{% endblock %}

{% block custom_scripts %}
{% endblock %}
