{% extends 'layout/base.html' %}

{% block banner_class %}
    class="parallax img-properties" data-speed="4" data-type="background"
{% endblock %}

{% block banner_text %}
    <h2>Property Case Studies</h2>
{% endblock %}

{% block content_one %}
    <div class="ec-stretch-grey border-bottom">
        <div class="container">
            <div class="row ec-case-studies">
                <div class="col-xs-12 col-md-6">
                    <div class="ec-property brannan">
                        <h2 class="white">200 Brannan</h2>
                        <p><small>in San Francisco</small></p>
                        <p class="extra-bottom-md">Without EverCharge the building only had capacity to support 3 residents. With over 6 EV owners, SmartPower Technology makes it possible for more than ten residents to charge simultaneously making charging possible for years to come.</p>
                        <p><a href="http://www.pevcollaborative.org/sites/all/themes/pev/files/MUD_Brannan_final.pdf" target="_blank" class="ec-text-link">Read full case study &#8594;</a></p>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="ec-property potrero">
                        <h2 class="white">The Potrero</h2>
                        <p><small>in San Francisco</small></p>
                        <p class="extra-bottom-md">The Homeowners Association turned to EverCharge after traditional solutions didn’t fit the needs or budget of the community. EverCharge provided a scalable and affordable electric vehicle charging solution to residents of the property. </p>
                        <p><a href="http://evercharge.net/potrero-case-study" target="_blank" class="ec-text-link">Read full case study &#8594;</a></p>
                    </div>
                </div>
            </div>
            <!-- end main case studies -->
            
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="ec-featured-prop new">
                        <div class="tag">Recently Added</div>
                        <img src="{{ url_for('static', filename='images/properties-case-7.jpg') }}" class="img-responsive" alt="EverCharge Case Study Property" />
                        <div class="ec-box-white">
                            <h5>Condominium homes in Los Altos, CA</h5>
                            <p>Inhabited by silicon valley executives, these homeowners believe in the growth of EVs and wanted to ensure their community had the means to support it for years to come.</p>
                            <p><a href='{{ url_for('property_case_study_seven') }}' target="_blank" class="ec-text-link">Read full case study &#8594;</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="ec-featured-prop new">
                        <div class="tag">Recently Added</div>
                        <img src="{{ url_for('static', filename='images/properties-case-8.jpg') }}" class="img-responsive" alt="EverCharge Case Study Property" />
                        <div class="ec-box-white">
                            <h5>4 Story Lofts, San Francisco, CA</h5>
                            <p>Limited to just 100 amps of building common area power, this resource needed to be leveraged effectively to avoid a cost prohibitive utility upgrades.</p>
                            <p><a href='{{ url_for('property_case_study_eight') }}' target="_blank" class="ec-text-link">Read full case study &#8594;</a></p>
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-sm"></div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="ec-featured-prop new">
                        <div class="tag">Recently Added</div>
                        <img src="{{ url_for('static', filename='images/properties-case-9.jpg') }}" class="img-responsive" alt="EverCharge Case Study Property" />
                        <div class="ec-box-white">
                            <h5>Modern Apartment Complex, Los Angeles, CA</h5>
                            <p>This modern apartment building in westside Los Angeles needed a new way to differentiate themselves from competition in the area.</p>
                            <p><a href='{{ url_for('property_case_study_nine') }}' target="_blank" class="ec-text-link">Read full case study &#8594;</a></p>
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-md visible-lg"></div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="ec-featured-prop">
                        <img src="{{ url_for('static', filename='images/properties-case-1.jpg') }}" class="img-responsive" alt="EverCharge Case Study Property" />
                        <div class="ec-box-white">
                            <h5>Condominium homes in Los Altos, CA</h5>
                            <p>Inhabited by silicon valley executives, these homeowners believe in the growth of EVs and wanted to ensure their community had the means to support it for years to come.</p>
                            <p><a href='{{ url_for('property_case_study_one') }}' target="_blank" class="ec-text-link">Read full case study &#8594;</a></p>
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-sm"></div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="ec-featured-prop">
                        <img src="{{ url_for('static', filename='images/properties-case-2.jpg') }}" class="img-responsive" alt="EverCharge Case Study Property" />
                        <div class="ec-box-white">
                            <h5>4 Story Lofts, San Francisco, CA</h5>
                            <p>Limited to just 100 amps of building common area power, this resource needed to be leveraged effectively to avoid a cost prohibitive utility upgrades.</p>
                            <p><a href='{{ url_for('property_case_study_two') }}' target="_blank" class="ec-text-link">Read full case study &#8594;</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="ec-featured-prop">
                        <img src="{{ url_for('static', filename='images/properties-case-3.jpg') }}" class="img-responsive" alt="EverCharge Case Study Property" />
                        <div class="ec-box-white">
                            <h5>Modern Apartment Complex, Los Angeles, CA</h5>
                            <p>This modern apartment building in westside Los Angeles needed a new way to differentiate themselves from competition in the area.</p>
                            <p><a href='{{ url_for('property_case_study_three') }}' target="_blank" class="ec-text-link">Read full case study &#8594;</a></p>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="ec-featured-prop">
                        <img src="{{ url_for('static', filename='images/properties-case-4.jpg') }}" class="img-responsive" alt="EverCharge Case Study Property" />
                        <div class="ec-box-white">
                            <h5>High End Condos, San Francisco, CA</h5>
                            <p>This high-end condominium building in San Francisco has 100 amps of available power was looking to add EV charging as an amenity for residents.</p>
                            <p><a href='{{ url_for('property_case_study_four') }}' target="_blank" class="ec-text-link">Read full case study &#8594;</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="ec-featured-prop">
                        <img src="{{ url_for('static', filename='images/properties-case-5.jpg') }}" class="img-responsive" alt="EverCharge Case Study Property" />
                        <div class="ec-box-white">
                            <h5>Premier Condos, San Francisco CA</h5>
                            <p>As the newest landmark to the San Francisco skyline, this condominium desired to be at the forefront of EV adoption.</p>
                            <p><a href='{{ url_for('property_case_study_five') }}' target="_blank" class="ec-text-link">Read full case study &#8594;</a></p>
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-sm"></div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="ec-featured-prop">
                        <img src="{{ url_for('static', filename='images/properties-case-6.jpg') }}" class="img-responsive" alt="EverCharge Case Study Property" />
                        <div class="ec-box-white">
                            <h5>Live/work loft units, Oakland, CA</h5>
                            <p>Built in 2010 as a property conversion, only 150 Amps of available common area power is available in the electrical room.</p>
                            <p><a href='{{ url_for('property_case_study_six') }}' target="_blank" class="ec-text-link">Read full case study &#8594;</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end featured -->
        </div>
    </div>
{% endblock %}
