{% extends 'layout/base.html' %}

{% block background %}
	<img src="images/building-2.jpg" alt="image description" width="1200" height="526">
{% endblock %}

{% block maincontent %}
{% endblock %}

{% block video %}
{% endblock %}

{% block intro %}
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<div class="ec-title-box-intro blue">
					<h4 class="ec-caps">Properties</h4>
					<h1>Case Studies</h1>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block content_one %}
	<article class='jumbotron greyjumbo'></article>
{% endblock %}

{% block content_two %}
	<article class='jumbotron greyjumbo'></article>
{% endblock %}

{% block content_three %}
	<div class="greyjumbo">
		<div class="container">
			<div class="row">
				<div class="col-sm-8 col-md-offset-1 col-md-6">
					<img src="images/200-brannan-exterior.jpg" class="img-responsive" />
					<div class="ec-box-white">
						<h2 class="ec-teal">200 Brennan</h2>
						<p>in San Francisco</p>
						<p class="black">Without EverCharge the building only had capacity to support 3 residents. With over 6 EV owners, SmartPower Technology makes it possible for more than ten residents to charge simultaneously making charging possible for years to come.</p>
						<p><a href="http://evercharge.net/potrero-case-study" target="_blank" class="ec-text-link">Read full case study &#8594;</a></p>
					</div>
				</div>
				<div class="col-sm-8 col-md-offset-1 col-md-6">
					<img src="images/building-3.jpg" class="img-responsive" />
					<div class="ec-box-white">
						<h2 class="ec-teal">The Potrero</h2>
						<p>in San Francisco</p>
						<p class="black">The Homeowners Association turned to EverCharge after traditional solutions didn’t fit the needs or budget of the community. EverCharge provided a scalable and affordable electric vehicle charging solution to residents of the property. </p>
						<p><a href="http://www.pevcollaborative.org/sites/all/themes/pev/files/MUD_Brannan_final.pdf?utm_content=bufferda291&utm_medium=social&utm_source=twitter.com&utm_campaign=buffer" target="_blank" class="ec-text-link">Read full case study &#8594;</a></p>
					</div>
					<br>
					<br>
					<br>
				</div>
			</div>
		</div>
	</div>
	<div class="container ec-featured-prop">
		<div class="row">
			<div class="col-md-offset-1 col-md-14">
				<h1 class="ec-teal">Featured Properties</h2>
				<p>Located nationwide</p>
				<br>
				<br>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 col-md-offset-1 col-md-3">
				<img src="images/building-3.jpg" class="img-responsive" />
			</div>
			<div class="col-sm-12 col-md-11">
				<h5>Portland, OR</h5>
				<p class="black">The 15-story high-rise has three levels of parking that are supported by a 200 amp panel dedicated for EV charging.</p>
				<p class="black">Before EverCharge, they would have only supported six chargers. Now, the building has the capacity to charge twenty vehicles simultaneously.</p>
			</div>
		</div>
		<hr class="ec-hr-extra" />
		<div class="row">
			<div class="col-sm-4 col-md-offset-1 col-md-3">
				<img src="images/building-3.jpg" class="img-responsive" />
			</div>
			<div class="col-sm-12 col-md-11">
				<h5>Miami, FL </h5>
				<p class="black">Designed by renowned firm Arquitectonica the building rests on a ten-acre enclave on the edge of Biscayne Bay waterfront.</p> 
				<p class="black">Residents parking in the 9-level garage simply contact EverCharge to get set up. As the single point of contact for EV charging, the management receives reimbursements for the power used. </p>
				<p class="black">Without a centralized electrical room, monitoring electricity would be impossible for residents at this property without EverCharge.</p>
			</div>
		</div>
		<hr class="ec-hr-extra" />
		<div class="row">
			<div class="col-sm-4 col-md-offset-1 col-md-3">
				<img src="images/building-3.jpg" class="img-responsive" />
			</div>
			<div class="col-sm-12 col-md-11">
				<h5>San Francisco, CA </h5>
				<p class="black">This collection of 191 loft-style condominiums combines the best of lofts and condos in a unique and sophisticated package. </p>
				<p class="black">Without EverCharge the building only had capacity to support 3 residents. With over 6 EV owners, SmartPower technology makes it possible for more than ten residents to charge simultaneously making charging possible for years to come.</p>
			</div>
		</div>
		<hr class="ec-hr-extra" />
		<div class="row">
			<div class="col-sm-4 col-md-offset-1 col-md-3">
				<img src="images/building-3.jpg" class="img-responsive" />
			</div>
			<div class="col-sm-12 col-md-11">
				<h5>Chicago, IL </h5>
				<p class="black">Originally constructed in the 1910’s as a cold storage facility, the building has been adapted as 186 loft-style homes with indoor parking garages. </p>
				<p class="black">Charge stations are fully managed and insured by EverCharge to ensure reliable charging and satisfied residents.</p>
			</div>
		</div>
		<hr class="ec-hr-extra" />
		<div class="row">
			<div class="col-sm-4 col-md-offset-1 col-md-3">
				<img src="images/building-3.jpg" class="img-responsive" />
			</div>
			<div class="col-sm-12 col-md-11">
				<h5>Los Angeles, CA </h5>
				<p class="black">This modern, progressive 115-unit apartment community in the heart of Palms. With 6 assigned stations installed, interested residents simply contact EverCharge directly to gain access.</p> 
				<p class="black">As the single point of contact for EV charging, the management just sits back and collects reimbursements for the power residents use.</p>
			</div>
		</div>
		<hr class="ec-hr-extra" />
		<div class="row">
			<div class="col-sm-4 col-md-offset-1 col-md-3">
				<img src="images/building-3.jpg" class="img-responsive" />
			</div>
			<div class="col-sm-12 col-md-11">
				<h5>Edgewater, NJ </h5>
				<p class="black">The building provides panoramic views of the Hudson River, the George Washington Bridge, and the Manhattan skyline. </p>
				<p class="black">Utilizing our Power Management Technology, the building is able to save on infrastructure costs while supplying power to all interested residents within the garage.</p>
				<br>
				<br>
				<br>
				<br>
				<br>
			</div>
		</div>
	</div>
{% endblock %}

{% block custom_scripts %}
{% endblock %}
