{% extends 'layout/base.html' %}

{% block banner_class %}
    class="ec-stretch-grey"
{% endblock %}

{% block banner_text %}
{% endblock %}

{% block video %}
{% endblock %}

{% block content_one %}
    <div class="ec-stretch-grey border-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
                    <h3 class="text-center extra-bottom-lg">EverCharge provides electric vehicle charging to Lumina residents.</h3>
                    <iframe src="https://docs.google.com/a/evercharge.net/forms/d/e/1FAIpQLSfJurvP1YJB-MlxZV1NcQUGC0gKVb6Z2qA4u9i_5st94-9KKg/viewform?embedded=true" width="100%" height="1000" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
