{% extends 'layout/base.html' %}

{% block banner_class %}
    class="ec-banner ec-stretch-dk-teal"
{% endblock %}

{% block banner_text %}
    <h1 class="text-shadow">Start Charging with EverCharge</h1>
{% endblock %}

{% block content_one %}
    <div class="ec-stretch-white">
        <div class="container">
            <div class="row">
                <div class="col-xs-10 col-md-offset-1 col-md-10 text-center">
                    <h2>Terms of Service</h2>
                </div>
                <div class="col-xs-10 col-md-offset-1 col-md-10 text-center tos_div">
                    <span>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Adipiscing enim eu turpis egestas pretium. Fringilla urna porttitor rhoncus dolor purus non enim. Ut ornare lectus sit amet est placerat in egestas. Tortor pretium viverra suspendisse potenti nullam ac tortor vitae purus. Volutpat sed cras ornare arcu dui vivamus. Adipiscing elit pellentesque habitant morbi tristique senectus. Orci sagittis eu volutpat odio facilisis mauris sit amet massa. Pellentesque massa placerat duis ultricies lacus sed turpis tincidunt id. Mauris augue neque gravida in. Odio pellentesque diam volutpat commodo.

                        Vulputate dignissim suspendisse in est. Tristique risus nec feugiat in fermentum. Sed blandit libero volutpat sed cras. Rutrum quisque non tellus orci ac auctor augue mauris augue. Sed lectus vestibulum mattis ullamcorper velit. Odio aenean sed adipiscing diam donec adipiscing. Leo integer malesuada nunc vel risus commodo viverra maecenas accumsan. Commodo sed egestas egestas fringilla phasellus. Facilisi etiam dignissim diam quis enim lobortis scelerisque. Massa sed elementum tempus egestas sed sed risus pretium. Diam maecenas ultricies mi eget.

                        Felis eget velit aliquet sagittis id consectetur purus ut faucibus. Dictum varius duis at consectetur lorem. Nisl nisi scelerisque eu ultrices vitae auctor eu augue ut. Aliquet lectus proin nibh nisl condimentum id venenatis a. Sit amet porttitor eget dolor. Egestas tellus rutrum tellus pellentesque. Auctor neque vitae tempus quam pellentesque nec nam. Faucibus pulvinar elementum integer enim neque volutpat ac tincidunt vitae. Nullam ac tortor vitae purus faucibus ornare suspendisse sed. Elit sed vulputate mi sit amet mauris. In vitae turpis massa sed elementum tempus. Imperdiet massa tincidunt nunc pulvinar. Turpis egestas pretium aenean pharetra magna ac placerat vestibulum lectus.
                    </span>
                </div>
                <div class="col-xs-10 col-md-offset-1 col-md-10 text-center">
                    <br><br><h3 class="extra-bottom-sm">Price per kWh: $X.XX</h3>
                </div>
                <div class="col-xs-10 col-md-offset-1 col-md-10 text-center">
{#                    url will need to include charger_id#}
                    <a href="" class="ec-button-teal block">Start Charging</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block quote_form %}
{% endblock %}

{% block custom_scripts %}

{% endblock %}
