{% extends 'layout/base.html' %}
{% block content_one %}
<section class="page-content">
  <div class="container">
    <div class="green-box inner-top-green">
      <div class="green-content">
          <h2>Technology</h2>
          <p>EverCharge combines unmatched technology, industry leading<br>expertise, and unparalleled cost savings.</p>
      </div>
    </div>
    <div class="center-title">
      <h2>The Perfect Solution for EV Charging at Any Location</h2>
      <p>EverCharge maximizes existing building infrastructure to make adding EVs easy and affordable.</p>
    </div>

    {% with hide_learn_more=True, imageUrl='images/car-frame.png' %}
        {% include 'blocks/1b_smart_power.html' %}
    {% endwith %}
    
    {% include 'blocks/1d_evse_installation.html' %}

    

    {% include 'blocks/1e_mesh_network.html' %}

    {% include 'blocks/1c_evse.html' %}

    {% include 'blocks/1c_evermeter.html' %}

    {% include 'blocks/1c_receipt.html' %}
    
    <div class="half-and-half paddin-half-right">
      <div class="half-and-half-img desktop-img">
        <div class="half-right-wrapper" >
          <img class="image-shadow-right half-left-image-width" src="{{ url_for('static', filename='images/save-money.png') }}" alt="">
          <p><span>EverCharge</span> Facilitates 400% More Stations per $1M</p>
        </div>
      </div>
      {% include 'blocks/1c_svme.html' %}
    </div>

    <div class="half-and-half paddin-half-right">
      <div class="half-and-half-img desktop-img">
        <div class="half-right-wrapper">
          <img class="image-shadow-right" src="{{ url_for('static', filename='images/scale-as-needed.png') }}" alt="">
          <p>A Garage <span>With</span> and <b>Without</b> EverCharge</p>
        </div>
      </div>
      <div class="half-and-half-text">
        <div class="half-left-wrapper">
          <h3>Scale as Needed</h3>
          <div class="half-and-half-img mobile-img">
            <div class="half-right-wrapper">
              <img class="image-shadow-right" src="{{ url_for('static', filename='images/scale-as-needed.png') }}" alt="">
              <p>A Garage <span>With</span> and <b>Without</b> EverCharge</p>
            </div>
          </div>
          <p>Using <a href="{{ url_for('smart_power') }}" style="font-weight: 600;">SmartPower Technology</a>, EverCharge intelligently charges vehicles, optimizing existing building infrastructure to support more stations at any location.</p>
        </div>
      </div>
    </div>
    <div class="half-and-half paddin-half-right">
      <div class="half-and-half-img desktop-img">
        <div class="half-right-wrapper tech-extensive-padding">
          <img class="image-shadow-right" src="{{ url_for('static', filename='images/extensive.png') }}" alt="">
          <p>Cars at different states of charge reach 100% throughout the day</p>
        </div>
      </div>
      {% include 'blocks/1c_extensive.html' %}
    </div>
  </div>
</section>
{% endblock %}