{% extends 'layout/base.html' %}

{%- block extra_css -%}
    <link rel="stylesheet" href="css/slider.css" />
{%- endblock -%}

{%- block custom_scripts -%}
    <script type="text/javascript" src="js/slider.js" />
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
{%- endblock -%}

{% block banner_class %}
    class="parallax img-tesla" data-speed="4" data-type="background"
{% endblock %}

{% block content_one %}
    <div class="ec-stretch-white">
        <div class="container">
            <div class="row">
                <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
                    <img src="{{ url_for('static', filename='images/EverCharge-Tesla-logos.jpg') }}" alt="EverCharge and Tesla" class="img-responsive extra-bottom-md" />
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-12">
                    <h1 class="text-center extra-bottom-md">EverCharge makes charging in apartments and condominiums easy.</h1>
                </div>
            </div>
            <div class="row extra-bottom-md">
                <div class="col-sm-12 col-lg-offset-1 col-lg-10">
                    <div class="ec-col-30">
                        <div class="ec-box">
                            <img src="{{ url_for('static', filename='images/icon-1.png') }}" class="img-responsive" alt="" />
                        </div>
                        <div class="ec-box-white">
                            <h3 class="ec-teal">Here to Help</h3>
                            <p>We understand your needs and handle everything like</p>
                            <ul class="bullet-list">
                                <li class="bullet">Permitting</li>
                                <li class="bullet">Installation</li>
                                <li class="bullet">Insurance</li>
                                <li class="bullet">Support</li>
                            </ul>
                        </div>
                    </div>
                    <div class="ec-col-30">
                        <div class="ec-box">
                            <img src="{{ url_for('static', filename='images/icon-3.png') }}" class="img-responsive" alt="" />
                        </div>
                        <div class="ec-box-white">
                            <h3 class="ec-teal">Dedicated Stations</h3>
                            <p>SmartPower technology gives every driver their own station</p>
                            <ul class="bullet-list">
                                <li class="bullet">No Sharing</li>
                                <li class="bullet">No Waiting</li>
                                <li class="bullet">Installed directly in your space</li>
                            </ul>
                        </div>
                    </div>
                    <div class="ec-col-30">
                        <br/><br/>
                        <div class="ec-box-lt-grey">
                            <a href="{{ url_for('tesla_marketing_sheet') }}" target="_blank">
                                <img src="{{ url_for('static', filename='images/preview-tesla-sheet.png') }}" alt="EverCharge and Tesla" class="img-responsive extra-bottom-sm border" />
                            </a>
                            <p class="extra-bottom-sm"><a href="{{ url_for('tesla_marketing_sheet') }}" target="_blank">View Details &#8594;</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>
    </div>
    <div class="ec-box extra-stretch ec-home-charging-experts hidden-xs">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="text-center ec-teal">What are my install costs?</h2>
                    <p class="text-center">Install costs are directly related to the distance from the electrical room to your parking spot.</p>
                    <p class="text-center"><small><em>Price provided is an estimate only and is not an actual quote.</em></small></p>
                    <div class="clearfix"></div>
                    <div class="range-holder">
                        <div id="pr-slider" class="dragdealer">
                            <div class="stripe">
                                <div class="handle">
                                    <div class="infobox">
                                        <div class="innerbox">
                                            <div class="info-price"></div>
                                        </div>
                                    </div>  
                                    <div class="square">
                                        <span class="value"></span>
                                    </div>  
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="range-scale">
                            <div class="scale-wrap first">
                                <div class="scale first"></div>
                                <div class="number">0 ft</div>
                            </div>
                            <div class="scale-wrap">
                                <div class="scale"></div>
                                <div class="number">50 ft</div>
                            </div>
                            <div class="scale-wrap">
                                <div class="scale"></div>
                                <div class="number">100 ft</div>
                            </div>
                            <div class="scale-wrap">
                                <div class="scale"></div>
                                <div class="number">150 ft</div>
                            </div>
                            <div class="scale-wrap">
                                <div class="scale"></div>
                                <div class="number">200 ft</div>
                            </div>
                            <div class="scale-wrap">
                                <div class="scale"></div>
                                <div class="number">250 ft</div>
                            </div>
                            <div class="scale-wrap">
                                <div class="scale"></div>
                                <div class="number">300 ft</div>
                            </div>
                            <div class="scale-wrap">
                                <div class="scale"></div>
                                <div class="number">350 ft</div>
                            </div>
                            <p class="text-center"><small><strong>Distance from electrical room</strong></small></p>
                        </div>
                    </div>
                    <!-- end range-holder -->
                </div>
            </div>
            <!-- end row -->
        </div>
    </div>
    <div class="ec-stretch-white extra-stretch ec-mini-quote-form">
        <div class="container">
            <form action="{{ url_for('thank_you') }}" method='post' class="validate-form">
                <input name="lead_source" value="Web Signup" type="hidden">
                <input name="adwordsField" id='adwordsField' type="hidden">
                <input name="granularField" id="granularField" type="hidden">
                <fieldset>
                    <div class="row">
                        <center><h4>For more information</h4></center>
                    </div>
                    <div class="row">
                        <div class="holder">
                            <div class="col-xs-12 col-sm-4">
                                <div class="form-group">
                                    <input name="quote_name" type="text" class="form-control required" id="label1" placeholder="Name*" autocomplete="off"> 
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <div class="form-group">
                                    <input name="quote_email" type="email" class="form-control required-email" id="label2" placeholder="Email*" autocomplete="off">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <input type="submit" value="Connect With Us" class="ec-button-teal-border block">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="ec-stretch-lt-teal extra-stretch border-bottom">
        <div class="container">
            <div class="row">
                <h2 class="text-center extra-bottom-lg ec-teal">EverCharge Customers</h2>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="ec-featured-prop">
                        <img src="{{ url_for('static', filename='images/properties-case-2.jpg') }}" class="img-responsive" alt="EverCharge Case Study Property" />
                        <div class="ec-box-white">
                            <h5>4 Story Lofts, San Francisco, CA</h5>
                            <p>With limited power, this building needed SmartPower technology to avoid cost prohibitive utility upgrades. Now 12 Tesla owners charge simultaneously without any issues.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="ec-featured-prop">
                        <img src="{{ url_for('static', filename='images/properties-case-5.jpg') }}" class="img-responsive" alt="EverCharge Case Study Property" />
                        <div class="ec-box-white">
                            <h5>Premier Condos, San Francisco CA</h5>
                            <p>As the newest landmark to the San Francisco skyline, this condominium complex wanted residents to have piece-of-mind. With EverCharge, every station is covered by $1M dollar liability protection so residents can rest easy.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="ec-featured-prop">
                        <img src="{{ url_for('static', filename='images/properties-case-4.jpg') }}" class="img-responsive" alt="EverCharge Case Study Property" />
                        <div class="ec-box-white">
                            <h5>High End Condos, San Francisco, CA</h5>
                            <p>This high-end condominium building in San Francisco wanted to supply residents with dedicated charging stations. Using EverCharge certified electricians, they were able to quickly install stations with no hassle.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <a class="ec-button-teal-border extra-bottom-lg block" href="{{ url_for('evercharge_properties') }}">See more case studies &#8594;</a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p><em>The TESLA logo and name are owned by Tesla Motors Inc</em></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
