{% extends 'layout/base.html' %}

{% block background %}
	<img src="{{ url_for('static', filename='images/parking-1.jpg') }}" alt="image description" width="1200" height="526">
{% endblock %}

{% block maincontent %}
	<header id='thankyouHeader'>
		<script>(function() {
		  var _fbq = window._fbq || (window._fbq = []);
		  if (!_fbq.loaded) {
		    var fbds = document.createElement('script');
		    fbds.async = true;
		    fbds.src = '//connect.facebook.net/en_US/fbds.js';
		    var s = document.getElementsByTagName('script')[0];
		    s.parentNode.insertBefore(fbds, s);
		    _fbq.loaded = true;
		  }
		})();
		window._fbq = window._fbq || [];
		window._fbq.push(['track', '6030657035620', {'value':'0.00','currency':'USD'}]);
		</script>
		<noscript><img height='1' width='1' alt='' style='display:none' src='https://www.facebook.com/tr?ev=6030657035620&amp;cd[value]=0.00&amp;cd[currency]=USD&amp;noscript=1' /></noscript>

		<script src="//platform.twitter.com/oct.js" type="text/javascript"></script>
		<script type="text/javascript">twttr.conversion.trackPid('l6v64', { tw_sale_amount: 0, tw_order_quantity: 0 });</script>
		<noscript>
			<img height="1" width="1" style="display:none;" alt="" src="https://analytics.twitter.com/i/adsct?txn_id=l6v64&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0" />
			<img height="1" width="1" style="display:none;" alt="" src="//t.co/i/adsct?txn_id=l6v64&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0" />
		</noscript>

		<div class="container ec-thankyou">
			<div class="row">
				<div class="col-xs-16">
					<div class="row">
						<div class="col-md-6 ec-box-white">
							<h1>Thank You</h1>
							<p class="bitter">We'll be in touch shortly.</p>
						</div>
						<div class="col-md-10 ec-box-lt-gray">
							<img src="{{ url_for('static', filename='images/evercharge-circle-badge-dk-green.png') }}" class="pull-left" style="height:100px; width:100px; margin-right: 16px" />

							<p><strong>YOU’VE BEEN ASSIGNED...</strong></p>
							<p>Team Member: CJ</p>
							<p>Email: cj@evercharge.net</p>
							<p>Phone: 415.851.0956</p>
							<button type="button" class="ec-button-teal-border" data-toggle="modal" data-target="#myModal">Schedule a call now</button>
						</div>
					</div>
					<!-- end row2 -->
				</div>
			</div>
		</div>
	</header>
{% endblock %}

{% block video %}
{% endblock %}

{% block intro %}
{% endblock %}

{% block content_one %}
	<article class='jumbotron whitejumbo'></article>
{% endblock %}

{% block content_two %}
{% endblock %}

{% block content_three %}
{% endblock %}

{% block quote_form %}	
	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">Schedule an Appointment</h4>
	      </div>
	      <div class="modal-body">
	      	<center>
	        	<iframe src='https://calendly.com/evercharge/quote' scrolling='no'></iframe>
	        </center>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="flat_button" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>

	<div style="display:none;">
		<iframe id="submit_frame" name="submit_frame"></iframe>
	</div>

	<div class="container">
		<form action='/nutshell/submit' class='get-quote validate-form' id='existing_customer'
		method='post' name='existing_customer' target='submit_frame'>
			<input name='lead_id' type='hidden' value='{{ newLeadId }}'>
			<input name='contact_id' type='hidden' value='{{ contactId }}'>
			
			<div class="row">
				<div class="col-md-offset-2 col-md-12">
					<legend id='thankyou'>
						<h2 class="ec-teal" id="form_heading">More About You</h2>
					</legend>
				</div>
			</div>

			<fieldset id='primary_form_content' class="ec-fieldset">
				<form id='blank' name='blank'></form>
				<div class="row">
					<div class="col-md-offset-2 col-md-8">
                        <!-- Parking Spot Type -->
						<form action="{{ url_for('parking_spot_type') }}" class='validate-form'
                              id='parking_spot_form' method='post' name='parking_spot_form'
                              target='submit_frame'>
							<input name='lead_id' type='hidden' value='{{ newLeadId }}'>
					    <p class="black"><strong>Are your parking spots...</strong></p>
					    <div id="parking_listener">
					    	<p>
					    	  <input type="radio" name="parking_type" id="assignedparking" value="Assigned/Deeded" />
					    	  <label for="assignedparking">Assigned/Deeded</label>
					    	</p>
					    	<p>
					    	  <input type="radio" name="parking_type" id="assignedparking" value="Unassigned" />
					    	  <label for="assignedparking_2">Unassigned</label>
					    	</p>
					    	<p>
					    	  <input type="radio" name="parking_type" id="assignedparking" value="Valet" />
					    	  <label for="assignedparking_3">Valet</label>
					    	</p>
					    	<p>
					    	  <input type="radio" name="parking_type" id="assignedparking" value="Other" />
					    	  <label for="assignedparking_4">Other</label>
					    	</p>
					    </div>
						</form>
					</div>
					<div class="col-md-4">
						<p class="ec-p">This helps us understand what installation options will be best suited for your property.</p>
					</div>
				</div><!-- end question 1 row -->

				<div class="row">
					<div class="col-md-offset-2 col-md-12">
						<hr class="ec-hr-extra" />
					</div>
					<div class="clearfix"></div>
					<div class="col-md-offset-2 col-md-8">
                        <!-- Number of Parking Spots -->
						<form action="{{ url_for('approximate_number_spots') }}" class='validate-form'
                              id='number_spots_form' method='post' name='number_spots_form'
                              target='submit_frame'>
							<input name='lead_id' type='hidden' value='{{ newLeadId }}'>
							<input name='contact_id' type='hidden' value='{{ contactId }}'>
					    <p class="black"><strong>How many parking spots are in your building?</strong></p>
					    <div id="number_spots_listener">
					    	<p>
					    	  <input type="radio" name="number_of_spots" id="number_of_spots" value="Under 25" />
					    	  <label for="number_of_spots">Under 25</label>
					    	</p>
					    	<p>
					    	  <input type="radio" name="number_of_spots" id="number_of_spots_2" value="26-50" />
					    	  <label for="number_of_spots_2">26-50</label>
					    	</p>
					    	<p>
					    	  <input type="radio" name="number_of_spots" id="number_of_spots_3" value="51-100" />
					    	  <label for="number_of_spots_3">51-100</label>
					    	</p>
					    	<p>
					    	  <input type="radio" name="number_of_spots" id="number_of_spots_4" value="101-200" />
					    	  <label for="number_of_spots_4">101-200</label>
					    	</p>
					    	<p>
					    	  <input type="radio" name="number_of_spots" id="number_of_spots_5" value="Over 200" />
					    	  <label for="number_of_spots_5">Over 200</label>
					    	</p>
					    </div>
						</form>
					</div>
					<div class="col-md-4">
						<p class="ec-p">Buildings of different sizes have different electrical infrastructure requirements.</p>
					</div>
				</div><!-- end question 2 row -->

				<div class="row">
					<div class="col-md-offset-2 col-md-12">
						<hr class="ec-hr-extra" />
					</div>
					<div class="clearfix"></div>
					<div class="col-md-offset-2 col-md-8">
                        <!-- Referred Customer -->
						<form action="{{ url_for('referred_customer') }}" class=' validate-form' id='reference_form'
						method='post' name='reference_form' target='submit_frame'>
							<input name='lead_id' type='hidden' value='{{ newLeadId }}'>
							<input name='contact_id' type='hidden' value='{{ contactId }}'>
							<p class="black"><strong>How did you hear about us?</strong></p>
							<div id="tesla_listener">
								<p>
								  <input type="radio" name="reference" id="reference_web" value="Website" />
								  <label for="reference_web">Online</label>
								</p>
								<p>
								  <input type="radio" name="reference" id="reference_pm_hoa" value="Property Manager/HOA" />
								  <label for="reference_pm_hoa">HOA</label>
								</p>
								<p>
								  <input type="radio" name="reference" id="reference_friend" value="Friend" />
								  <label for="reference_friend">Friend</label>
								</p>
								<p>
								  <input type="radio" name="reference" id="auto_dealer_reference" value="Auto Dealer Referral" />
								  <label for="auto_dealer_reference">Auto Dealer Referral</label>
								</p>
                                <p>
								  <input type="radio" name="reference" id="reference_twitter" value="Twitter" />
								  <label for="reference_twitter">Twitter</label>
								</p>
                                <p>
								  <input type="radio" name="reference" id="reference_facebook" value="Facebook" />
								  <label for="reference_facebook">Facebook</label>
								</p>
                                <p>
								  <input type="radio" name="reference" id="reference_google" value="Google" />
								  <label for="reference_google">Google</label>
								</p>

                                <p>
								  <input type="radio" name="reference" id="reference_tesla" value="Tesla" />
								  <label for="reference_tesla">Tesla</label>
								</p>
								<p>
								  <input type="radio" name="reference" id="reference_other" value="Other" />
								  <label for="reference_other">Other</label>
								</p>
							</div>
						</form>
                        <!-- Auto Dealer Contact -->
                        <form action="{{ url_for('auto_dealer_contact') }}" class="validate-form"
                              id="tesla_contact_form" method='post' name='tesla_contact_form' target="submit_frame">
                            <input name='lead_id' type='hidden' value='{{ newLeadId }}'>

                            <div class='form-group' id='tesla_div'>
                                <p>Who from Auto Dealer referred you?</p>
                                <input class="form-control" id="tesla_contact" name="tesla_contact"
                                       onchange="teslaContactSubmit()"
                                       placeholder="Name of Auto Dealer Referral Contact" type='text'>
                            </div>
                        </form>

					</div>
				</div><!-- end question 3 row -->

				<div class="row">
					<div class="col-md-offset-2 col-md-12">
						<hr class="ec-hr-extra" />
					</div>
					<div class="clearfix"></div>
					<div class="col-md-offset-2 col-md-6 col-sm-8 col-xs-16">
						<input id='final_submit_button' type='submit' value='Submit' class="ec-button-teal">
					</div>
				</div>

			</fieldset>
		</form>
	</div><!-- end container -->
	<br><br><br><br><br>
{% endblock %}

{% block custom_scripts %}
	<script type="text/javascript" src="{{ url_for('static', filename='js/conditionalform.js') }}"></script>
{% endblock %}
