{% extends 'base.html' %}


	{% block bannersize %}
	<div id="wrapper" class="add">
	{% endblock %}

	{% block background %}
	<img src="images/image01.jpg" alt="image description" width="1200" height="688">
	{% endblock %}



	{% block maincontent %}
	<header>
		<h1>Get Charged</h1>
		<h2>the world’s smartest EV charging system</h2>
	</header>

	<section class="col-md-12 col-md-offset-2">
		<div class="row threecolumn">
		<article class="col-md-8 col-sm-8 col-xs-8">
			<a href="/ev-owner">
			<img src="images/image02.png" alt="image description" class="img-circle" width="126" height="125"></a>
			<div class="desc">
				<div class="text">
					<h3>EV OWNER</h3>
					<p>Recharge from your<br>own parking space</p>
				</div>
				<a href="/ev-owner" class="btn"><span>learn</span> more</a>
			</div>
		</article>
		<article class="col-md-8 col-sm-8 col-xs-8">
			<a href="/hoa-pm">
			<img src="images/image03.png" alt="image description" class="img-circle" width="126" height="125"></a>
			<div class="desc">
				<div class="text">
					<h3><span class="hidden-xs">property manager</span><span class="visible">PM</span> & HOA</h3>
					<p>A valuable amenity<br>for your residents</p>
				</div>
				<a href="/hoa-pm" class="btn"><span>learn</span> more</a>

			</div>
		</article>
	</div>

	{% endblock %}

	{% block content_one %}

<article class="jumbotron">

			<h2>Thank you for requesting a quote from EverCharge!</h2>
			You're one step closer to EV charging. We'll reach out to you shortly.<br>
			<br><span>
			Want to talk to someone now? Call 1 (888) 342-7383</span><br>
			<br>

</article>
<br>
<br>
	{% endblock %}



	{% block quote_form %}	
	<br>
	<br>
			<form id='thank-you-form' action="/followup", method='post' class="get-quote validate-form">

			<input type='hidden' name='lead_id' value= "{{ newLeadId }}">
			<fieldset>
			<legend id="thankyou"><span>Have time for a few more questions?</span></legend>

					<h3>Is your building already an EverCharge Customer?</h3>
						<div class="row features">
						<article class="col-md-4 col-xs-6">
							<div class="thank-you-option">
								<div class="radio">
									<input type="radio" checked="checked" value="Yes" name="building_customer" class="radioblank">
								</div>
							<p>
								Yes
							</p>
							</div>
						</article>
						<article class="col-md-4 col-xs-6">
							<div class="thank-you-option">
								<div class="radio">
									<input type="radio" value="No" name="building_customer" class="radioblank">
								</div>
							<p>
								No
							</p>
							</div>
						</article>
						<article class="col-md-4 col-xs-6">
							<div class="thank-you-option">
								<div class="radio">
									<input type="radio" value="Unsure" name="building_customer" class="radioblank">
								</div>
							<p>
								Unsure
							</p>
							</div>
						</article>
					</div>
					<br>
					<br>
					<h3>Are your parking spots...</h3>
						<div class="row features">
						<article class="col-md-4 col-xs-6">
							<div class="thank-you-option">
								<div class="radio">
									<input type="radio" checked="checked"value="assigned" name="parking_type" class="radioblank">
								</div>
							<p>
								Assigned
							</p>
							</div>
						</article>
						<article class="col-md-4 col-xs-6">
							<div class="thank-you-option">
								<div class="radio">
									<input type="radio" value="unassigned" name="parking_type" class="radioblank">
								</div>
							<p>
								Unassigned
							</p>
							</div>
						</article>
						<article class="col-md-4 col-xs-6">
							<div class="thank-you-option">
								<div class="radio">
									<input type="radio" value="deeded" name="parking_type" class="radioblank">
								</div>
							<p>
								Deeded
							</p>
							</div>
						</article>
						<article class="col-md-4 col-xs-6">
							<div class="thank-you-option">
								<div class="radio">
									<input type="radio" value="valet" name="parking_type" class="radioblank">
								</div>
							<p>
								Valet
							</p>
							</div>
						</article>
						<article class="col-md-4 col-xs-6">
							<div class="thank-you-option">
								<div class="radio">
									<input type="radio" value="street" name="parking_type" class="radioblank">
								</div>
							<p>
								Street Parking
							</p>
							</div>
						</article>
						<article class="col-md-4 col-xs-6">
							<div class="thank-you-option">
								<div class="radio">
									<input type="radio" value="Unsure" name="parking_type" class="radioblank">
								</div>
							<p>
								Unsure
							</p>
							</div>
						</article>
					</div>
					<br>
					<br>
					<h3>How many parking spots are in your building?</h3>
						<div class="row features">
						<article class="col-md-4 col-xs-6">
							<div class="thank-you-option">
								<div class="radio">
									<input type="radio" value="Less than 25" name="number_of_spots" class="radioblank">
								</div>
							<p>
								Less than 25
							</p>
							</div>
						</article>
						<article class="col-md-4 col-xs-6">
							<div class="thank-you-option">
								<div class="radio">
									<input type="radio" value="26-50" name="number_of_spots" class="radioblank">
								</div>
							<p>
								26 - 50
							</p>
							</div>
						</article>
						<article class="col-md-4 col-xs-6">
							<div class="thank-you-option">
								<div class="radio">
									<input type="radio" value="51-100" name="number_of_spots" class="radioblank">
								</div>
							<p>
								51 - 100
							</p>
							</div>
						</article>
						<article class="col-md-4 col-xs-6">
							<div class="thank-you-option">
								<div class="radio">
									<input type="radio" value="100-201" name="number_of_spots" class="radioblank">
								</div>
							<p>
								101 - 200
							</p>
							</div>
						</article>
						<article class="col-md-4 col-xs-6">
							<div class="thank-you-option">
								<div class="radio">
									<input type="radio" value="More than 200" name="number_of_spots" class="radioblank">
								</div>
							<p>
								More than 200
							</p>
							</div>
						</article>
						<article class="col-md-4 col-xs-6">
							<div class="thank-you-option">
								<div class="radio">
									<input type="radio" value="Unsure" name="number_of_spots" class="radioblank">
								</div>
							<p>
								No Idea!
							</p>
							</div>
						</article>
					</div>
					<br>
					<br>

					<h3>How did you hear about us?</h3>
						<div class="row features">
						<article class="col-md-4 col-xs-6">
							<div class="thank-you-option">
								<div class="radio">
									<input type="radio" value="Website" name="reference" class="radioblank">
								</div>
							<p>
								Website
							</p>
							</div>
						</article>
						<article class="col-md-4 col-xs-6">
							<div class="thank-you-option">
								<div class="radio">
									<input type="radio" value="Online Ad" name="reference" class="radioblank">
								</div>
							<p>
								Online Ad
							</p>
							</div>
						</article>
						<article class="col-md-4 col-xs-6">
							<div class="thank-you-option">
								<div class="radio">
									<input type="radio" value="Property Manager/HOA" name="reference" class="radioblank">
								</div>
							<p>
								Property Manager/HOA
							</p>
							</div>
						</article>
						<article class="col-md-4 col-xs-6">
							<div class="thank-you-option">
								<div class="radio">
									<input type="radio" value="Friend" name="reference" class="radioblank">
								</div>
							<p>
								Friend
							</p>
							</div>
						</article>
						<article class="col-md-4 col-xs-6">
							<div class="thank-you-option">
								<div class="radio">
									<input type="radio" value="Other" name="reference" class="radioblank">
								</div>
							<p>
								Other
							</p>
							</div>
						</article>
						<article class="col-md-4 col-xs-6">
							<div class="thank-you-option">
								<div class="radio">
									<input type="radio" value="Tesla" name="reference" class="radioblank tesla">
								</div>
							<p>
								Tesla
							</p>
							</div>
						</article>
						
					</div>


					</div>
				</div>
			</div>
			<br>
			<br>
			<h3>What is the estimated delivery date of your EV?</h3>
			<div class="form-group">
					<input name="delivery_date" type="date" class="form-control required" id="label1" placeholder="estimated delivery date">
			</div>
			<div class="row features">
			<article class="col-md-6 col-xs-6">
				<div class="thank-you-option">
					<div class="radio">
						<input type="radio" value="Already have an EV" name="delivery" class="radioblank">
					</div>
				<p>
					I already have an EV
				</p>
				</div>
			</article>
			<article class="col-md-6 col-xs-6">
				<div class="thank-you-option">
					<div class="radio">
						<input type="radio" value="Just Browsing" name="delivery" class="radioblank tesla">
					</div>
				<p>
					I'm just browsing
				</p>
				</div>
			</article>
		</div>
			<br>
			<br>
			<h3>Approximately how many miles do you driver per week?</h3>
			<div class="form-group">
					<input name="miles_per_week" type="text" class="form-control" placeholder="estimated miles per week">
			</div>


<div class="tesla_contact">
	<input type='text' name='tesla_contact' placeholder='Tesla Contact'>
</div>


<input type='text' name='parking_spot' placeholder='Parking Spot'>



			<div class="btn-wrapper">
				<input type="submit" value="Submit">
			</div>
	</form>
	</br></br>












	{% endblock %}