{% extends 'layout/base.html' %}

{%- block extra_css -%}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/modal.min.css') }}">
{%- endblock -%}

{% block banner_class %}
    class="parallax img-thankyou" data-speed="4" data-type="background"
{% endblock %}

{% block banner_text %}
    <header id='thankyouHeader'>
        <script>(function() {
          var _fbq = window._fbq || (window._fbq = []);
          if (!_fbq.loaded) {
            var fbds = document.createElement('script');
            fbds.async = true;
            fbds.src = '//connect.facebook.net/en_US/fbds.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(fbds, s);
            _fbq.loaded = true;
          }
        })();
        window._fbq = window._fbq || [];
        window._fbq.push(['track', '6030657035620', {'value':'0.00','currency':'USD'}]);
        </script>
        <noscript><img height='1' width='1' alt='' style='display:none' src='https://www.facebook.com/tr?ev=6030657035620&amp;cd[value]=0.00&amp;cd[currency]=USD&amp;noscript=1' /></noscript>

        <script src="//platform.twitter.com/oct.js" type="text/javascript"></script>
        <script type="text/javascript">twttr.conversion.trackPid('l6v64', { tw_sale_amount: 0, tw_order_quantity: 0 });</script>
        <noscript>
            <img height="1" width="1" style="display:none;" alt="" src="https://analytics.twitter.com/i/adsct?txn_id=l6v64&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0" />
            <img height="1" width="1" style="display:none;" alt="" src="//t.co/i/adsct?txn_id=l6v64&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0" />
        </noscript>

        <div class="container ec-thankyou" style="background: unset;">
            <div class="row">
                <div class="col-xs-12 col-md-6 col-md-offset-3" style="background-color: white;">
                    <h3 style="margin-top: 16px;">Thank You</h3>
                    <p>We'll email you shortly with the next steps</p>
                    <p><a href="mailto:ops@evercharge.net">ops@evercharge.net</a></p>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block content_one %}
{% endblock %}

{% block quote_form %}
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Schedule an Appointment</h4>
          </div>
          <div class="modal-body">
              <center>
                  <iframe src="https://calendly.com/cj-evercharge/15min" scrolling="yes" width="100%" height="600"></iframe>
              </center>
          </div>
          <div class="modal-footer">
            <button type="button" class="ec-button-teal" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div style="display:none;">
        <iframe id="submit_frame" name="submit_frame"></iframe>
    </div>

    <div class="ec-stretch-white">
        <div class="container">
            <form action="{{ url_for('follow_up') }}" class='get-quote validate-form' id='existing_customer'
            method='post' name='existing_customer' target='submit_frame'>
                <input name='lead_id' type='hidden' value='{{ newLeadId }}'>
                <input name='contact_id' type='hidden' value='{{ contactId }}'>
                {% if no_final_form %}
                    <div class="row">
                        <div class="col-md-offset-2 col-md-8">
                        </div>
                    </div>
                {% else %}
                <div class="row">
                    <div class="col-md-offset-2 col-md-8">
                        <legend id='thankyou'>
                            <h2 id="form_heading">More About You</h2>
                        </legend>
                    </div>
                </div>
                <fieldset id='primary_form_content' class="ec-fieldset">
                    <form id='blank' name='blank'></form>

                    <div class="row">
                        <div class="clearfix"></div>
                        <div class="col-md-offset-2 col-md-8">
                            <form action="{{ url_for('update_lead_notes') }}" class="validate-form" id="notes_form" method="POST" name="notes_form" target="submit_frame">
                                <input name="lead_id" type="hidden" value="{{ newLeadId }}">
                                <div class="form-group">
                                    <textarea name="notes" rows="2" class="form-control" onchange="notesSubmit()"
                                              placeholder="Additional comments" autocomplete="off">
                                        {%- if note -%}{{ note }}{%- endif -%}
                                    </textarea>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-offset-2 col-md-8">
                            <hr class="ec-hr-extra" />
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-offset-2 col-md-5">
                            <!-- Referred Customer -->
                            <form action="{{ url_for('referred_customer') }}" class=' validate-form' id='reference_form'
                            method='post' name='reference_form' target='submit_frame'>
                                <input name='lead_id' type='hidden' value='{{ newLeadId }}'>
                                <h5>How did you hear about us?</h5>
                                <div id="reference_listener">
                                    <p>
                                      <input type="radio" name="reference" id="reference_google" value="Google" />
                                      <label for="reference_google" class="label-radio">Google</label>
                                    </p>
                                    <p>
                                      <input type="radio" name="reference" id="reference_facebook" value="Facebook" />
                                      <label for="reference_facebook" class="label-radio">Facebook</label>
                                    </p>
                                    <p>
                                      <input type="radio" name="reference" id="reference_twitter" value="Twitter" />
                                      <label for="reference_twitter" class="label-radio">Twitter</label>
                                    </p>
                                    <p>
                                      <input type="radio" name="reference" id="reference_web" value="Online Publication" />
                                      <label for="reference_web" class="label-radio">Online Publication</label>
                                    </p>
                                    <p>
                                      <input type="radio" name="reference" id="auto_dealer_reference" value="Auto Dealer Referral" />
                                      <label for="auto_dealer_reference" class="label-radio">Auto Dealer Referral</label>
                                    </p>
                                    <p>
                                      <input type="radio" name="reference" id="reference_pm_hoa" value="Property Manager/HOA" />
                                      <label for="reference_pm_hoa" class="label-radio">HOA</label>
                                    </p>
                                    <p>
                                      <input type="radio" name="reference" id="reference_friend" value="Friend" />
                                      <label for="reference_friend" class="label-radio">Friend</label>
                                    </p>
                                    <p>
                                      <input type="radio" name="reference" id="reference_electrician" value="Electrician" />
                                      <label for="reference_electrician" class="label-radio">Electrician</label>
                                    </p>
                                    <p>
                                      <input type="radio" name="reference" id="reference_other" value="Other" />
                                      <label for="reference_other" class="label-radio">Other</label>
                                    </p>
                                </div>
                            </form>
                            <!-- Auto Dealer Contact -->
                            <form action="{{ url_for('auto_dealer_contact') }}" class="validate-form"
                                  id="auto_dealer_contact_form" method='post' name="auto_dealer_contact_form" target="submit_frame">
                                <input name='lead_id' type='hidden' value='{{ newLeadId }}'>

                                <div class='form-group' id="auto_dealer_contact_div" style="display: none">
                                    <br />
                                    <p>Who from Auto Dealer referred you?</p>
                                    <input class="form-control" id="auto_dealer_contact" name="auto_dealer_contact"
                                           onchange="autoDealerContactSubmit()"
                                           placeholder="Name of Auto Dealer Referral Contact" type='text'>
                                </div>
                            </form>
                        </div>
                    </div><!-- end question 3 row -->

                    <div class="row">
                        <div class="col-md-offset-2 col-md-8">
                            <hr class="ec-hr-extra" />
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-xs-12 col-sm-8 col-md-offset-2 col-md-6">
                            <input id='final_submit_button' type='submit' value='Submit' class="ec-button-teal block">
                        </div>
                    </div>

                </fieldset>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}

{% block custom_scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/conditionalform.js') }}"></script>
    <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 913555512;
        var google_conversion_language = "en";
        var google_conversion_format = "3";
        var google_conversion_color = "ffffff";
        var google_conversion_label = "rR_HCM-68XMQuIDPswM";
        var google_remarketing_only = false;
        /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
        <div style="display:inline;">
            <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/913555512/?label=rR_HCM-68XMQuIDPswM&amp;guid=ON&amp;script=0"/>
        </div>
    </noscript>
{% endblock %}
