{% extends 'base.html' %}


	{% block bannersize %}
	<div id="wrapper" class="add">
	{% endblock %}

	{% block background %}
	<img src="images/image01.jpg" alt="image description" width="1200" height="688">
	{% endblock %}



	{% block maincontent %}
	<header>
		<h1>Get Charged</h1>
		<h2>the world’s smartest EV charging system</h2>
	</header>

	<section class="col-md-12 col-md-offset-2">
		<div class="row threecolumn">
		<article class="col-md-8 col-sm-8 col-xs-8">
			<a href="/ev-owner">
			<img src="images/image02.png" alt="image description" class="img-circle" width="126" height="125"></a>
			<div class="desc">
				<div class="text">
					<h3>EV OWNER</h3>
					<p>Recharge from your<br>own parking space</p>
				</div>
				<a href="/ev-owner" class="btn"><span>learn</span> more</a>
			</div>
		</article>
		<article class="col-md-8 col-sm-8 col-xs-8">
			<a href="/hoa-pm">
			<img src="images/image03.png" alt="image description" class="img-circle" width="126" height="125"></a>
			<div class="desc">
				<div class="text">
					<h3><span class="hidden-xs">property manager</span><span class="visible">PM</span> & HOA</h3>
					<p>A valuable amenity<br>for your residents</p>
				</div>
				<a href="/hoa-pm" class="btn"><span>learn</span> more</a>

			</div>
		</article>
	</div>

	{% endblock %}

	{% block content_one %}

<article class="jumbotron">

			<h2>Thank you for requesting a quote from EverCharge!</h2>
			You're one step closer to EV charging. We'll reach out to you shortly.<br>
			<br><span>
			Want to talk to someone now? Call 1 (888) 342-7383</span><br>
			<br>

</article>
<br>
<br>
	{% endblock %}



	{% block quote_form %}
	<br>
	<br>
	<form id='follow-up-form' action="/followup", method='post'>
      <div class="search-bar">
        <div class="search-and-submit">
          <input type='text' name='parking_spot' placeholder='Parking Spot'>
          <input type='text' name='tesla_contact' placeholder='Tesla Contact'>

          <button type="submit">
            submit
          </button>
        </form>
        </div>
      </div>


	{% endblock %}