{% extends 'layout/base.html' %}
{% from 'layout/macro.html' import contact_us_short_form %}


{% block content_one %}

    
{% with 
	title="Powering the future \n of EV usage", 
	paragraph="Smart load management charging for homes, businesses, and fleets. Compatible with any EV.",
    img_route="/images/EverCharge_Cove.png"
%}
{% include 'blocks/main_block.html'%}
{% endwith %}

{% with 
	title="Fit for your existing infrastructure", 
	first_paragraph="EV002 uses our SmartPower™ dynamic load management to reduce electrical infrastructure requirements.",
	second_paragraph="Charging stations communicate via a wireless mesh network, streamlining onsite load management, remote management, and software updates.",
	img_route="/images/CES_EV002_2.png",
	is_img_reverse=False 
%}
{% include 'blocks/second_block.html'%}
{% endwith %}



{% with 
	title="Reduced deployment costs", 
	first_paragraph="The EV002 fully integrated wireless mesh network and integrated disconnect means more simple and cost-effective deployments.",
	second_paragraph="No cell repeaters, WiFi, ethernet cables, gateways, or control units are required, saving time and money.",
	img_route="/images/CES_EV002_1.png",
	is_img_reverse=True 
%}
{% include 'blocks/second_block.html'%}
{% endwith %}

{% with title = "EV002\nProduct Details" %}
{% include 'blocks/product_details.html'%}
{% endwith %}

{% with %}
{% include 'blocks/guarantees.html'%}
{% endwith %}

{% with 
	title="Start to finish, we’ll\nlead the charge",
	card_number="01",
	card_title="Infrastructure Analysis",
	card_paragraph="With EverCharge Easy™, we’ll provide an onsite analysis and report of electrical infrastructue and capabilites."
%}
{% include 'blocks/step_by_step.html'%}
{% endwith %}

{% endblock %}
