<div class="half-and-half-text">
  <div class="half-left-wrapper">
    <h3>Extensive Analytics</h3>
    <div class="half-and-half-img mobile-img">
      <div class="half-right-wrapper tech-extensive-padding">
        <img class="image-shadow-right" src="{{ url_for('static', filename='images/extensive.png') }}" alt="">
        <p>Cars at different states of charge reach 100% throughout the day</p>
      </div>
    </div>
    <p>As an all-in-one solution, EverCharge allows for in-depth analysis on every charge station giving our clients unmatched data analytics to understand vehicle and user needs. EverCharge provides a tailored solution to meet your needs.</p>
  </div>
</div>