<div class="half-and-half-text">
  <div class="half-left-wrapper">
    <h3>Save Money</h3>
    <div class="half-and-half-img mobile-img">
      <div class="half-right-wrapper" >
        <img class="image-shadow-right half-left-image-width" src="{{ url_for('static', filename='images/save-money.png') }}" alt="">
        <p><span>EverCharge</span> Facilitates 400% More Stations per $1M</p>
      </div>
    </div>
    <p>Our charging solution drastically reduces install costs by intelligently managing power, allowing more charging station installs for far less money. EverCharge eliminates the need for expensive infrastructure additions, keeping project costs at a minimum.</p>
  </div>
</div>