<div class="half-and-half paddin-half-left paddin-half-right">
  <div class="half-and-half-text">
    <div class="half-right-wrapper">
      <h2>Mesh Network</h2>
      <div class="half-and-half-img mobile-img">
        <div class="half-left-wrapper">
          <img src="{{ url_for('static', filename='images/mesh-network.png') }}" alt="">
        </div>
      </div>
      <p>The charging stations communicate over a completely wireless mesh network built directly into our hardware. No cell repeaters, WiFi, ethernet cables, gateways, or control units are required. EverCharge's <a href="/smartpower">SmartPower platform</a> uses this robust connection to facilitate on-site load management, data uploads, remote management and software updates.</p>
      <ul>
        <li>No additional hardware required</li> 
        <li>Simplifies install to reduce cost</li>
        <li>Designed to support multi-level garages</li>   
        <li>Connectivity in any parking space</li>
        <li>Works in harshest underground environments</li>
        <li>Supports multiple 4g connections</li>
        <li>Provides redundancy for maximum uptime</li>  
      </ul>
    </div>
  </div>
  <div class="half-and-half-img desktop-img">
    <div class="half-left-wrapper">
      <img src="{{ url_for('static', filename='images/mesh-network.png') }}" alt="">
    </div>
  </div>
</div>