<div class="content-area">
  <div class="content-wrapper">
    <h2>Scalable, Dedicated Charging</h2>
    <p>Designed for Multi-Family buildings, EverCharge can avoid the pains of community and public charging by putting charging where you need it most. Leveraging our patented SmartPower technology, EverCharge supports more vehicles than a traditional charging solution by intelligently allocating power.</p>
    <p>By significantly reducing infrastructure costs, we enable the installation of scalable, dedicated charging for any community.</p>
    <a href="{{ url_for('tech') }}" class="bttn-primary">Learn More About SmartPower</a>
  </div>
</div>