<div class="bg-white text-black h-146">
    <div class="container mx-auto flex justify-between h-full">
        <div class="w-1/2 h-full flex flex-col items-center justify-center">
            <h3 class="font-bold text-3xl mb-4 text-center">EverCharge <br>
                3-year warranty
            </h3>
            <img src="/images/quality.svg"><img/>
        </div>
        <div class="w-1/2 h-full flex flex-col items-center justify-center">
            <h3 class="font-bold text-3xl mb-4 text-center">Designed & Made <br>
                in California
            </h3>
            <img src="/images/border_state.svg"><img/>
        </div>
    </div>
</div>