<div class="text-black w-full min-h-202 flex justify-center relative">
    <div class="flex flex-col items-center mt-40">
        <h3 class="text-8xl text-center whitespace-pre-wrap">{{title}}</h3>
        <p class="text-3xl my-11">{{paragraph}}</p>
        <div class="w-auto flex">
            <a class="uppercase text-3xl mr-4" href='{{ url_for('customer_login') }}'>LEARN MORE</a>
            <img
                class="h-full object-contain object-left"
                src="/images/arrow.svg"
                ></img>
        </div>
        <div>
            <img
            class="h-full object-contain object-left"
            src={{img_route}}
            ></img>
        </div>
    </div>
    <div class="absolute left-0 bottom-0 -mb-165 -z-10">
        <img
        class="w-160 object-contain "
        src="/images/right_arrow.svg"
        ></img>
    </div>
</div>