<section class="w-full h-227 bg-black text-white">
    <div class="container mx-auto flex h-full">
        <div class="w-1/2 h-full py-40">
            <div class="w-full h-full">
                <h3 class="text-6xl whitespace-pre-wrap">{{title}}</h3>
            </div>
        </div>
        <div class="w-1/2 flex py-40">
            <ul class="w-full">
                <li class="border-t-2 border-white flex font-bold py-6 justify-between">
                    <span>Power input</span>
                    <img src="/images/plus_white.svg"></img>
                </li>
                <li class="border-t-2 border-white flex font-bold py-6 justify-between">
                    <span>Power Output</span>
                    <img src="/images/plus_white.svg"></img>
                </li>
                <li class="border-t-2 border-white flex font-bold py-6 justify-between">
                    <span>Protection</span>
                    <img src="/images/plus_white.svg"></img>
                </li>
                <li class="border-t-2 border-white flex font-bold py-6 justify-between">
                    <span>User Interface & Control</span>
                    <img src="/images/plus_white.svg"></img>
                </li>
                <li class="border-t-2 border-white flex font-bold py-6 justify-between">
                    <span>Environmental</span>
                    <img src="/images/plus_white.svg"></img>
                </li>
                <li class="border-t-2 border-white flex font-bold py-6 justify-between">
                    <span>Mechanical</span>
                    <img src="/images/plus_white.svg"></img>
                </li>
                <li class="border-t-2 border-white flex font-bold py-6 justify-between">
                    <span>Regulation</span>
                    <img src="/images/plus_white.svg"></img>
                </li>
                <li class="border-t-2 border-b-2 border-white flex font-bold py-6 justify-between">
                    <span>Connectivity</span>
                    <img src="/images/plus_white.svg"></img>
                </li>
            </ul>
        </div>
    </div>
</section>