<section class="w-full relative flex items-center h-227">
    <div class="flex w-full text-black container mx-auto p-0 {{'justify-end' if is_img_reverse == True else 'justify-start'}}">
        <div class='w-2/5 flex flex-col'>
                <h3 class="text-6xl">{{title}}</h3>
                <p class="text-3xl mt-12 ">{{first_paragraph}}</p>
                <p class="text-3xl mt-12">{{second_paragraph}}</p>
        </div>

        <div class="absolute w-1/2 top-0 {{'left-0' if is_img_reverse == True else 'right-0'}}" >
            <img class="w-full h-227" src={{img_route}}></img>
        </div>    
    </div>
</section>