<!DOCTYPE HTML>©
<html lang='EN'>
<head>
	<meta charset='UTF-8'>
	<meta name="description" content="Electric Vehicle (EV) charging stations for multi-tenant buildings, including condos and apartments, saves properties thousands on infrastructure upgrades.">

	<meta name='keywords' content="electric car apartment,electric car charging stations apartments, condo electric, charging an electric car in an apartment, apartments with electric car charging, how to charge electric car in apartment, EV, Electric Vehicle, Electric Car, chargers, charging, condo, apartment, Tesla, Nissan Leaf, Model S, Model X, Roadster, Chevy Volt, community, common area, residential, HOA, Homeowner's Association distributed power,sequencing, line capacity management,">

	<!-- set the viewport width and initial-scale on mobile devices -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>EverCharge - Smart EV Charging for Apartments and Condominiums</title>
	<link rel="shortcut icon" href="{{url_for('static', filename='/favicon.ico') }}" type="image/x-icon">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">

	<!-- include the site stylesheet -->

	<link rel="stylesheet" href="{{ url_for('static', filename='/css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='/css/bootstrap-theme.min.css') }}">
	

	<link rel='stylesheet' href="{{ url_for('static', filename='/css/all.css') }} ">
	<!-- <link rel='stylesheet' hreft="{{ url_for('static', filename='/css/modal.css') }}"> -->
	<!-- <link rel="stylesheet" href="{{ url_for('static', filename='/css/all.min.css') }}"> -->
	<link rel="stylesheet" href="{{ url_for('static', filename='/css/modal.min.css') }}">

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/shadowbox.css') }}">
	<link rel="stylesheet" id="font-awesome-css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" type="text/css" media="screen">

	<!-- include the google font -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800italic,800' rel='stylesheet' type='text/css'>

	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,300italic,400,400italic,600' rel='stylesheet' type='text/css'>


	<!-- include jQuery library -->
	<!-- include script for window -->
	<script type="text/javascript">
		if (navigator.userAgent.match(/IEMobile\/10\.0/) || navigator.userAgent.match(/MSIE 10.*Touch/)) {
			var msViewportStyle = document.createElement('style')
			msViewportStyle.appendChild(
				document.createTextNode(
					'@-ms-viewport{width:auto !important}'
				)
			)
			document.querySelector('head').appendChild(msViewportStyle)
		}
	</script>

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-55104339-1', 'auto');
	  ga('require', 'displayfeatures');
	  ga('send', 'pageview');

	</script>
	 <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<link rel="stylesheet" href="css/ie.css">
	<![endif]-->
</head>


<body>
	<!-- main container of all the page elements -->
{% block bannersize %}
{% endblock %}


<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        
        
      </button>
      <a class="navbar-brand" href="/">
      	<img class='header_logo' src='images/badge_transparent_logo_large.gif'>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        
        <li><a href='/learnmore'>LEARN MORE</a></li>
        <li><a href="/aboutus">ABOUT</a></li>
        <li><a href="/faqs">FAQs</a></li>
        <li><a href="http://blog.evercharge.net">BLOG</a></li>
        <li><a href="tel:8883427383">888.342.7383</a></li>
        <li class='pop_of_red'><a href="/login">CUSTOMER LOGIN</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="banner">
	<div class="bg-stretch">
		{% block background %}
		{% endblock %}
	</div>
	<div class="container">
	</div>


		<div class="row text-center">

				{% block maincontent %}
				{% endblock %}
		</div>
	</div>
</div>

	<main id="content">
		<!-- video -->

{% block intro %}
{% endblock %}

{% block content_one %}
{% endblock %}

{% block video %}
	<article class='whitejumbo jumbotron' id='video'>
		<h2>Check out our video to learn more</h2>

		<div class="video-container">
			<iframe src="http://www.youtube.com/embed/M4t47yjCGWw?hd=1&rel=0&autohide=1&showinfo=0" frameborder="0" allowfullscreen></iframe>
		</div>
	</article>
{% endblock %}

{% block content_two %}
{% endblock %}

{% block content_three %}
{% endblock %}




{% block quote_form %}

<form action="/thankyou", method='post' class="validate-form">
	<input name="lead_source" value="Web Signup" type="hidden">
	<fieldset>
	<legend id="quote"><span>
		{% block form_name %}Get a Free Quote{% endblock %}
	</span></legend>
	
	<div class="wrap">
		<div class="col">
			<h3>Are you an EV Driver or Building Management?</h3>
				<ul class="tabset js-ajax-tabs">
					<li data-href="inc/tab00.html" class="active">
						<input type="radio" checked="checked" value="EV Driver" name="customer_type" class="radio1">
						<p class='label_form'>EV Driver</p>
					</li>
					<li data-href="inc/tab01.html">
						<input type="radio" value="Property Manager" name="customer_type" class="radio2">
						<p class='label_form'>Management</p>
					</li>

				</ul>
			<div class="tab-content ajax-hold"></div>
		</div>
		<div class="col">
			<h3>How can we contact you?</h3>
				<div class="holder">
					<div class="form-group">
						<input name="quote_name" type="text" class="form-control required" id="label1" placeholder="Name" autocomplete="false"> 
					</div>
					<div class="form-group">
						<input name="quote_email" type="email" class="form-control required-email" id="label2" placeholder="Email" autocomplete="false">
					</div>
					<div class="form-group">
						<input name="quote_phone" type="tel" class="form-control bfh-phone" placeholder="Phone (Optional)" data-format="ddd-ddd-dddd" autocomplete="false">
					</div>
				</div>
			</div>
			<div class='col'>
				<h3>Anything else we should know?</h3>
				<div class="form-group">
					<textarea name="quote_notes" height='60' class="form-control" autocomplete="false"></textarea>
				</div>
				<input type="submit" value="Get your quote">

			</div>
	</fieldset>
</form>
			</br></br>

	{% endblock %}

	{% block content_one_bottom %}
	{% endblock %}

		</main>



		<!-- footer of the page -->
		<footer id="footer">
			<div class="container">
				<!-- footer navigation -->


				<div class="row features">

				<article class="col-md-4 col-xs-5" style="margin-top:25px;">
					<a href="/"><img src="images/badge_logo_extra_small.gif" id='footer_logo'></a>
				
				</article>
				<article class="col-md-4 col-xs-5">
					<h5>Navigate</h5>
					<div class="footer-list">
						<a href="/">Home</a>
						<br><a href="/learnmore">Learn More</a>
						<br><a href="/faqs">FAQs</a>
						<br><a href="http://blog.evercharge.net">EverCharge Blog</a>
					</div>
				</article>
				
				<article class="col-md-4 col-xs-5">
					<h5>About EverCharge</h5>
					<div class="footer-list">
						<a href="/aboutus">About Us</a>
						<br><a href="https://angel.co/evercharge/jobs" target='_blank'>Careers</a>
						<br><a href="/potrero-case-study" target='_blank'>SF Case Study</a>
					</div>
				</article>
				<article class="col-md-4 col-xs-5">
					<h5>Contact Us</h5>
					<div class="footer-list">
						<a href="mailto:sales@evercharge.net">Sales</a>
						<br><a href="mailto:info@evercharge.net">Support</a>
						<br><a href="mailto:install@evercharge.net">Installation Experts</a>
						<br><a href='tel:8883427383'>888.342.7383</a>

					</div>
				</article>
				
			<span class="copyright">
				<a href="https://twitter.com/evercharge">
						<i class="fa fa-twitter-square"></i>
					</a>
					<a href="https://www.facebook.com/evevercharge">
						<i class="fa fa-facebook-square"></i>
					</a>
					<br>
				&copy; 2015 EverCharge, Inc. All Rights Reserved. Made in California.
			</span>

		</footer>
	</div>


</body>
	<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script async type='text/javascript' src='js/navbar.js'></script>
	<script async src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script async src="js/bootstrap-formhelpers-phone.js"></script>
	<script type="text/javascript" src="js/jquery.main.js"></script>

	<script async type="text/javascript" src="js/scroll_fade.js"></script>
	<script async type='text/javascript' src='js/transition.js'></script>
	<script async type='text/javascript' src='js/difficulties.js'></script>
	<script async type='text/javascript' src='js/parallax.js'></script>
	<script async type='text/javascript' src='js/back_to_top.js'></script>
	<script async type='text/javascript' src='js/scroll_bottom.js'></script>
	<script async type="text/javascript" src="js/smoothscroll.js"></script>


<!--  <script async type='text/javascript' src='js/scroll_bottom.js'></script> -->

	
	{% block custom_scripts %}
	{% endblock %}
