<div id="tab1" class="active tab">
	<h3>Choose your vehicle?</h3>
	<ul>
		<li>
			<input type="radio" checked="checked" name="note" value="EV Owner - Tesla" class="radio4">
		</li>
		<li>
			<input type="radio"  name="note" value="EV Owner - Nissan" class="radio5">
		</li>
		<li>
			<input type="radio" name="note" value="EV Owner - Chevy" class="radio6">
		</li>
		<li>
			<input type="radio" name="note" value="EV Owner - Toyota" class="radio7">
		</li>
		<li>
			<input type="radio" name="note" value="EV Owner - BMW" class="radio8">
		</li>
		<li>
			<input type="radio" name="note" value="EV Owner - FIAT" class="radio9">
		</li>
		<li>
			<input type="radio" name="note" value="EV Owner - OTHER" class="radio10">
		</li>
	</ul>
</div>